<!-- / footer -->
<!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
<a href="#" class="scrollup btn-default"><i class="fa fa-angle-up"></i></a>

<!-- scripts js -->
<script src="../../icoAssets/js/jquery-1.12.4.min.js"></script>
<!-- Latest compiled and minified Bootstrap -->
<script src="../../icoAssets/bootstrap/js/bootstrap.min.js"></script>
<!-- owl-carousel min js  -->
<script src="../../icoAssets/owlcarousel/js/owl.carousel.min.js"></script>
<!-- magnific-popup min js  -->
<script src="../../icoAssets/js/magnific-popup.min.js"></script>
<!-- waypoints min js  -->
<script src="../../icoAssets/js/waypoints.min.js"></script>
<!-- parallax js  -->
<script src="../../icoAssets/js/parallax.js"></script>
<!-- countdown js -->
<script src="../../icoAssets/js/jquery.countdown.min.js"></script>
<!-- scripts js -->
<script src="../../icoAssets/js/jquery.dd.min.js"></script>
<!-- jquery.counterup.min js -->
<script src="../../icoAssets/js/jquery.counterup.min.js"></script>
<!-- scripts js -->
<script src="../../icoAssets/js/scripts.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/additional-methods.js"></script>
 
<script>
    toastr.options = {
    "closeButton": false,
    "debug": false,
    "newestOnTop": false,
    "progressBar": false,
    "positionClass": "toast-bottom-right",
    "preventDuplicates": false,
    "onclick": null,
    "showDuration": "300",
    "hideDuration": "1000",
    "timeOut": "5000",
    "extendedTimeOut": "1000",
    "showEasing": "swing",
    "hideEasing": "linear",
    "showMethod": "fadeIn",
    "hideMethod": "fadeOut"
}  
if("<%=success%>")
{
toastr.success("<%=success%>");
}
else if("<%=error%>")
{
   toastr.error("<%=error%>");
}
</script> 
