<!DOCTYPE html>
<html lang="en">
<!DOCTYPE html>
<html lang="en">

<head>
    <title>MyContract</title>

    <!-- Favicon Icon -->
    <script src="https://www.googletagmanager.com/gtag/js?id=UA-124166989-1"></script>
    <link rel="icon" type="image/png" sizes="16x16" href="assets/images/favicon.png">

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900" rel="stylesheet">

    <!-- Animation CSS -->
    <link rel="stylesheet" href="/assets1/css/animate.css">
    <!-- Latest Bootstrap min CSS -->
    <link rel="stylesheet" href="/assets1/bootstrap/css/bootstrap.min.css">
    <!-- Font Awesome CSS -->
    <link rel="stylesheet" href="/assets1/css/font-awesome.min.css">
    <!-- Style CSS -->
    <link rel="stylesheet" href="/assets1/css/style.css">
    <link rel="stylesheet" href="/assets1/css/toastr-2.1.3.css">
    <link rel="stylesheet" href="/assets1/css/responsive.css">
    <link rel="stylesheet" href="/assets1/css/admin.css">
    <link href="/assets1/popup/popup-styles.css" rel="stylesheet">

</head>

<body class="v_light_dark" data-spy="scroll" data-offset="110">

    <!-- START LOADER -->

    <!-- <header class="header_wrap fixed-top">
        <div class="container-fluid">
            <nav class="navbar navbar-expand-lg">
                <button class="navbar-toggler animation" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation" data-animation="fadeInDown" data-animation-delay="1.1s">
                    <span class="fa fa-bars"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                    <ul class="navbar-nav m-auto">
                        <h3>KYC Tab</h3>
                    </ul>
                    <ul class="navbar-nav nav_btn align-items-center">
                        <li><a href="/logout"><h4>LogOut</h4></a></li>
                    </ul>
                </div>
            </nav>
        </div>
    </header> -->

    <body>
        <!-- START SECTION KYC -->
        <section class="section_token small_pt small_pb">
            <div class="container">
                <h3 class="text-center">KYC TAB</h3>

                <div class="row align-items-center">
                    <div class="col-lg-12">
                        <div class="content_box">
                            <p class="animation" data-animation="fadeInUp" data-animation-delay="0.2s">
                                <strong>Note:</strong></p>
                            <p class="animation" data-animation="fadeInUp" data-animation-delay="0.3s">Please make sure
                                you
                                use your real identity to do this verification. We will protect your personal
                                information.
                            </p>
                            <p class="animation" data-animation="fadeInUp" data-animation-delay="0.4s"> You can use any
                                one
                                of the below metioned document for kyc verification:</p>
                            <p class="animation" data-animation="fadeInUp" data-animation-delay="0.5s"> 1. Passport </p>
                            <p>
                                <p class="animation" data-animation="fadeInUp" data-animation-delay="0.6s">2. Driver's
                                    License
                                </p>
                                <p class="animation" data-animation="fadeInUp" data-animation-delay="0.7s"> 3. National
                                    ID
                                    Card
                                </p>
                                <p class="animation" data-animation="fadeInUp" data-animation-delay="0.8s"> Please
                                    provide
                                    full name as shown in your passport.</p>
                                <form id="kyc" method="post" action="/KYCpage/KYCdocUpload"
                                    enctype="multipart/form-data">
                                    <div class="row field_form mt-30">
                                        <div class="col-md-6">
                                            <div class="form-group col-md-12 animation" data-animation="fadeInUp"
                                                data-animation-delay="0.2s">
                                                <input type="text" class="form-control" required="required" value=""
                                                    placeholder="First Name" name="first_name">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group col-md-12 animation" data-animation="fadeInUp"
                                                data-animation-delay="0.4s">
                                                <input type="text" name="last_name" value="" placeholder="Last Name"
                                                    required="required" class="form-control">
                                            </div>

                                        </div><br><br>
                                        <div class="col-md-6">
                                            <div class="container">
                                                <div class="row">
                                                    <div class=" col-md-3 animation" data-animation="fadeInUp"
                                                        data-animation-delay="0.2s">
                                                        <input type="text" class="form-control" required="required"
                                                            value="" placeholder="ISD code" name="isd_code">
                                                    </div>
                                                    <div class="col-md-9 animation" data-animation="fadeInUp"
                                                        data-animation-delay="0.2s">
                                                        <input type="text" value="" placeholder="mobile Number"
                                                            name="phone_no" required="required" class="form-control">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group col-md-12 animation" data-animation="fadeInUp"
                                                data-animation-delay="1s">
                                                <select name="country_id" class="form-control" id="country_id"
                                                    onchange="set_country()">
                                                    <option value="">Select Country</option>
                                                    <option value="Afghanistan" data-id="af">Afghanistan</option>
                                                    <option value="Albania" data-id="al">Albania</option>
                                                    <option value="Algeria" data-id="dz">Algeria</option>
                                                    <option value="American Samoa" data-id="as">American Samoa</option>
                                                    <option value="Andorra" data-id="ad">Andorra</option>
                                                    <option value="Angola" data-id="ao">Angola</option>
                                                    <option value="Anguilla" data-id="ai">Anguilla</option>
                                                    <option value="Antarctica" data-id="aq">Antarctica</option>
                                                    <option value="Antigua and Barbuda" data-id="ag">Antigua and Barbuda
                                                    </option>
                                                    <option value="Argentina" data-id="ar">Argentina</option>
                                                    <option value="Armenia" data-id="am">Armenia</option>
                                                    <option value="Aruba" data-id="aw">Aruba</option>
                                                    <option value="Australia" data-id="au">Australia</option>
                                                    <option value="Austria" data-id="at">Austria</option>
                                                    <option value="Azerbaijan" data-id="az">Azerbaijan</option>
                                                    <option value="Bahamas" data-id="bs">Bahamas</option>
                                                    <option value="Bahrain" data-id="bh">Bahrain</option>
                                                    <option value="Bangladesh" data-id="bd">Bangladesh</option>
                                                    <option value="Barbados" data-id="bb">Barbados</option>
                                                    <option value="Belarus" data-id="by">Belarus</option>
                                                    <option value="Belgium" data-id="be">Belgium</option>
                                                    <option value="Belize" data-id="bz">Belize</option>
                                                    <option value="Benin" data-id="bj">Benin</option>
                                                    <option value="Bermuda" data-id="bm">Bermuda</option>
                                                    <option value="Bhutan" data-id="bt">Bhutan</option>
                                                    <option value="Bolivia" data-id="bo">Bolivia</option>
                                                    <option value="Bosnia and Herzegovina" data-id="ba">Bosnia and
                                                        Herzegovina</option>
                                                    <option value="Botswana" data-id="bw">Botswana</option>
                                                    <option value="Bouvet Island" data-id="bv">Bouvet Island</option>
                                                    <option value="Brazil" data-id="br">Brazil</option>
                                                    <option value="British Indian Ocean Territory" data-id="io">British
                                                        Indian
                                                        Ocean Territory</option>
                                                    <option value="Brunei Darussalam" data-id="bn">Brunei Darussalam
                                                    </option>
                                                    <option value="Bulgaria" data-id="bg">Bulgaria</option>
                                                    <option value="Burkina Faso" data-id="bf">Burkina Faso</option>
                                                    <option value="Burundi" data-id="bi">Burundi</option>
                                                    <option value="Cambodia" data-id="kh">Cambodia</option>
                                                    <option value="Cameroon" data-id="cm">Cameroon</option>
                                                    <option value="Canada" data-id="ca">Canada</option>
                                                    <option value="Cape Verde" data-id="cv">Cape Verde</option>
                                                    <option value="Cayman Islands" data-id="ky">Cayman Islands</option>
                                                    <option value="Central African Republic" data-id="cf">Central
                                                        African
                                                        Republic
                                                    </option>
                                                    <option value="Chad" data-id="td">Chad</option>
                                                    <option value="Chile" data-id="cl">Chile</option>
                                                    <option value="China" data-id="cn">China</option>
                                                    <option value="Christmas Island" data-id="cx">Christmas Island
                                                    </option>
                                                    <option value="Cocos (Keeling) Islands" data-id="cc">Cocos (Keeling)
                                                        Islands
                                                    </option>
                                                    <option value="Colombia" data-id="co">Colombia</option>
                                                    <option value="Comoros" data-id="km">Comoros</option>
                                                    <option value="Congo" data-id="cg">Congo</option>
                                                    <option value="Congo, The Democratic Republic" data-id="cd">Congo,
                                                        The
                                                        Democratic Republic
                                                    </option>
                                                    <option value="Cook Islands" data-id="ck">Cook Islands</option>
                                                    <option value="Costa Rica" data-id="cr">Costa Rica</option>
                                                    <option value="Cote D&#039;Ivoire" data-id="ci">Cote D&#039;Ivoire
                                                    </option>
                                                    <option value="Croatia" data-id="hr">Croatia</option>
                                                    <option value="Cuba" data-id="cu">Cuba</option>
                                                    <option value="Cyprus" data-id="cy">Cyprus</option>
                                                    <option value="Czech Republic" data-id="cz">Czech Republic</option>
                                                    <option value="Denmark" data-id="dk">Denmark</option>
                                                    <option value="Djibouti" data-id="dj">Djibouti</option>
                                                    <option value="Dominica" data-id="dm">Dominica</option>
                                                    <option value="Dominican Republic" data-id="do">Dominican Republic
                                                    </option>
                                                    <option value="Ecuador" data-id="ec">Ecuador</option>
                                                    <option value="Egypt" data-id="eg">Egypt</option>
                                                    <option value="El Salvador" data-id="sv">El Salvador</option>
                                                    <option value="Equatorial Guinea" data-id="gq">Equatorial Guinea
                                                    </option>
                                                    <option value="Eritrea" data-id="er">Eritrea</option>
                                                    <option value="Estonia" data-id="ee">Estonia</option>
                                                    <option value="Ethiopia" data-id="et">Ethiopia</option>
                                                    <option value="Falkland Islands (Malvinas)" data-id="fk">Falkland
                                                        Islands
                                                        (Malvinas)
                                                    </option>
                                                    <option value="Faroe Islands" data-id="fo">Faroe Islands</option>
                                                    <option value="Fiji" data-id="fj">Fiji</option>
                                                    <option value="Finland" data-id="fi">Finland</option>
                                                    <option value="France" data-id="fr">France</option>
                                                    <option value="French Guiana" data-id="gf">French Guiana</option>
                                                    <option value="French Polynesia" data-id="pf">French Polynesia
                                                    </option>
                                                    <option value="French Southern Territories" data-id="tf">French
                                                        Southern
                                                        Territories
                                                    </option>
                                                    <option value="Gabon" data-id="ga">Gabon</option>
                                                    <option value="Gambia" data-id="gm">Gambia</option>
                                                    <option value="Georgia" data-id="ge">Georgia</option>
                                                    <option value="Germany" data-id="de">Germany</option>
                                                    <option value="Ghana" data-id="gh">Ghana</option>
                                                    <option value="Gibraltar" data-id="gi">Gibraltar</option>
                                                    <option value="Greece" data-id="gr">Greece</option>
                                                    <option value="Greenland" data-id="gl">Greenland</option>
                                                    <option value="Grenada" data-id="gd">Grenada</option>
                                                    <option value="Guadeloupe" data-id="gp">Guadeloupe</option>
                                                    <option value="Guam" data-id="gu">Guam</option>
                                                    <option value="Guatemala" data-id="gt">Guatemala</option>
                                                    <option value="Guinea" data-id="gn">Guinea</option>
                                                    <option value="Guinea-Bissau" data-id="gw">Guinea-Bissau</option>
                                                    <option value="Guyana" data-id="gy">Guyana</option>
                                                    <option value="Haiti" data-id="ht">Haiti</option>
                                                    <option value="Heard Island and Mcdonald Islands" data-id="hm">Heard
                                                        Island and Mcdonald Islands</option>
                                                    <option value="Holy See (Vatican City State)" data-id="va">Holy See
                                                        (Vatican
                                                        City State)</option>
                                                    <option value="Honduras" data-id="hn">Honduras</option>
                                                    <option value="Hong Kong" data-id="hk">Hong Kong</option>
                                                    <option value="Hungary" data-id="hu">Hungary</option>
                                                    <option value="Iceland" data-id="is">Iceland</option>
                                                    <option value="India" data-id="in">India</option>
                                                    <option value="Indonesia" data-id="id">Indonesia</option>
                                                    <option value="Iran, Islamic Republic" data-id="ir">Iran, Islamic
                                                        Republic
                                                    </option>
                                                    <option value="Iraq" data-id="iq">Iraq</option>
                                                    <option value="Ireland" data-id="ie">Ireland</option>
                                                    <option value="Israel" data-id="il">Israel</option>
                                                    <option value="Italy" data-id="it">Italy</option>
                                                    <option value="Jamaica" data-id="jm">Jamaica</option>
                                                    <option value="Japan" data-id="jp">Japan</option>
                                                    <option value="Jordan" data-id="jo">Jordan</option>
                                                    <option value="Kazakhstan" data-id="kz">Kazakhstan</option>
                                                    <option value="Kenya" data-id="ke">Kenya</option>
                                                    <option value="Kiribati" data-id="ki">Kiribati</option>
                                                    <option value="Korea" data-id="kp">Korea</option>
                                                    <option value="Kuwait" data-id="kw">Kuwait</option>
                                                    <option value="Kyrgyzstan" data-id="kg">Kyrgyzstan</option>
                                                    <option value="Lao People&#039;s Democratic Republic" data-id="la">
                                                        Lao
                                                        People&#039;s Democratic Republic</option>
                                                    <option value="Latvia" data-id="lv">Latvia</option>
                                                    <option value="Lebanon" data-id="lb">Lebanon</option>
                                                    <option value="Lesotho" data-id="ls">Lesotho</option>
                                                    <option value="Liberia" data-id="lr">Liberia</option>
                                                    <option value="Libyan Arab Jamahiriya" data-id="ly">Libyan Arab
                                                        Jamahiriya</option>
                                                    <option value="Liechtenstein" data-id="li">Liechtenstein</option>
                                                    <option value="Lithuania" data-id="lt">Lithuania</option>
                                                    <option value="Luxembourg" data-id="lu">Luxembourg</option>
                                                    <option value="Macao" data-id="mo">Macao</option>
                                                    <option value="Macedonia" data-id="mk">Macedonia</option>
                                                    <option value="Madagascar" data-id="mg">Madagascar</option>
                                                    <option value="Malawi" data-id="mw">Malawi</option>
                                                    <option value="Malaysia" data-id="my">Malaysia</option>
                                                    <option value="Maldives" data-id="mv">Maldives</option>
                                                    <option value="Mali" data-id="ml">Mali</option>
                                                    <option value="Malta" data-id="mt">Malta</option>
                                                    <option value="Marshall Islands" data-id="mh">Marshall Islands
                                                    </option>
                                                    <option value="Martinique" data-id="mq">Martinique</option>
                                                    <option value="Mauritania" data-id="mr">Mauritania</option>
                                                    <option value="Mauritius" data-id="mu">Mauritius</option>
                                                    <option value="Mayotte" data-id="yt">Mayotte</option>
                                                    <option value="Mexico" data-id="mx">Mexico</option>
                                                    <option value="Micronesia" data-id="fm">Micronesia</option>
                                                    <option value="Moldova" data-id="md">Moldova</option>
                                                    <option value="Monaco" data-id="mc">Monaco</option>
                                                    <option value="Mongolia" data-id="mn">Mongolia</option>
                                                    <option value="Montserrat" data-id="ms">Montserrat</option>
                                                    <option value="Morocco" data-id="ma">Morocco</option>
                                                    <option value="Mozambique" data-id="mz">Mozambique</option>
                                                    <option value="Myanmar" data-id="mm">Myanmar</option>
                                                    <option value="Namibia" data-id="na">Namibia</option>
                                                    <option value="Nauru" data-id="nr">Nauru</option>
                                                    <option value="Nepal" data-id="np">Nepal</option>
                                                    <option value="Netherlands" data-id="nl">Netherlands</option>
                                                    <option value="Netherlands Antilles" data-id="an">Netherlands
                                                        Antilles</option>
                                                    <option value="New Caledonia" data-id="nc">New Caledonia</option>
                                                    <option value="New Zealand" data-id="nz">New Zealand</option>
                                                    <option value="Nicaragua" data-id="ni">Nicaragua</option>
                                                    <option value="Niger" data-id="ne">Niger</option>
                                                    <option value="Nigeria" data-id="ng">Nigeria</option>
                                                    <option value="Niue" data-id="nu">Niue</option>
                                                    <option value="Norfolk Island" data-id="nf">Norfolk Island</option>
                                                    <option value="Northern Mariana Islands" data-id="mp">Northern
                                                        Mariana
                                                        Islands
                                                    </option>
                                                    <option value="Norway" data-id="no">Norway</option>
                                                    <option value="Oman" data-id="om">Oman</option>
                                                    <option value="Pakistan" data-id="pk">Pakistan</option>
                                                    <option value="Palau" data-id="pw">Palau</option>
                                                    <option value="Palestinian Territory, Occupied" data-id="ps">
                                                        Palestinian
                                                        Territory, Occupied</option>
                                                    <option value="Panama" data-id="pa">Panama</option>
                                                    <option value="Papua New Guinea" data-id="pg">Papua New Guinea
                                                    </option>
                                                    <option value="Paraguay" data-id="py">Paraguay</option>
                                                    <option value="Peru" data-id="pe">Peru</option>
                                                    <option value="169" data-id="ph">Philippines</option>
                                                    <option value="Philippines" data-id="pn">Pitcairn</option>
                                                    <option value="Poland" data-id="pl">Poland</option>
                                                    <option value="Portugal" data-id="pt">Portugal</option>
                                                    <option value="Puerto Rico" data-id="pr">Puerto Rico</option>
                                                    <option value="Qatar" data-id="qa">Qatar</option>
                                                    <option value="Reunion" data-id="re">Reunion</option>
                                                    <option value="Romania" data-id="ro">Romania</option>
                                                    <option value="Russian Federation" data-id="ru">Russian Federation
                                                    </option>
                                                    <option value="Rwanda" data-id="rw">Rwanda</option>
                                                    <option value="Saint Helena" data-id="sh">Saint Helena</option>
                                                    <option value="Saint Kitts and Nevis" data-id="kn">Saint Kitts and
                                                        Nevis
                                                    </option>
                                                    <option value="Saint Lucia" data-id="lc">Saint Lucia</option>
                                                    <option value="Saint Pierre and Miquelon" data-id="pm">Saint Pierre
                                                        and
                                                        Miquelon
                                                    </option>
                                                    <option value="Saint Vincent and the Grenadines" data-id="vc">Saint
                                                        Vincent
                                                        and the Grenadines</option>
                                                    <option value="Samoa" data-id="ws">Samoa</option>
                                                    <option value="San Marino" data-id="sm">San Marino</option>
                                                    <option value="Sao Tome and Principe" data-id="st">Sao Tome and
                                                        Principe</option>
                                                    <option value="Saudi Arabia" data-id="sa">Saudi Arabia</option>
                                                    <option value="Senegal" data-id="sn">Senegal</option>
                                                    <option value="Serbia and Montenegro" data-id="cs">Serbia and
                                                        Montenegro</option>
                                                    <option value="Seychelles" data-id="sc">Seychelles</option>
                                                    <option value="Sierra Leone" data-id="sl">Sierra Leone</option>
                                                    <option value="Singapore" data-id="sg">Singapore</option>
                                                    <option value="Slovakia" data-id="sk">Slovakia</option>
                                                    <option value="Slovenia" data-id="si">Slovenia</option>
                                                    <option value="Solomon Islands" data-id="sb">Solomon Islands
                                                    </option>
                                                    <option value="Somalia" data-id="so">Somalia</option>
                                                    <option value="South Africa" data-id="za">South Africa</option>
                                                    <option value="South Georgia and the South Sandwich Islands"
                                                        data-id="gs">South
                                                        Georgia and the South Sandwich Islands</option>
                                                    <option value="Spain" data-id="es">Spain</option>
                                                    <option value="Sri Lanka" data-id="lk">Sri Lanka</option>
                                                    <option value="Sudan" data-id="sd">Sudan</option>
                                                    <option value="Suriname" data-id="sr">Suriname</option>
                                                    <option value="Svalbard and Jan Mayen" data-id="sj">Svalbard and Jan
                                                        Mayen
                                                    </option>
                                                    <option value="Swaziland" data-id="sz">Swaziland</option>
                                                    <option value="Sweden" data-id="se">Sweden</option>
                                                    <option value="Switzerland" data-id="ch">Switzerland</option>
                                                    <option value="Syrian Arab Republic" data-id="sy">Syrian Arab
                                                        Republic</option>
                                                    <option value="Taiwan, Province of China" data-id="tw">Taiwan,
                                                        Province
                                                        of China
                                                    </option>
                                                    <option value="Tajikistan" data-id="tj">Tajikistan</option>
                                                    <option value="Tanzania" data-id="tz">Tanzania</option>
                                                    <option value="Thailand" data-id="th">Thailand</option>
                                                    <option value="Timor-Leste" data-id="tl">Timor-Leste</option>
                                                    <option value="Togo" data-id="tg">Togo</option>
                                                    <option value="Tokelau" data-id="tk">Tokelau</option>
                                                    <option value="Tonga" data-id="to">Tonga</option>
                                                    <option value="Trinidad and Tobago" data-id="tt">Trinidad and Tobago
                                                    </option>
                                                    <option value="Tunisia" data-id="tn">Tunisia</option>
                                                    <option value="Turkey" data-id="tr">Turkey</option>
                                                    <option value="Turkmenistan" data-id="tm">Turkmenistan</option>
                                                    <option value="Turks and Caicos Islands" data-id="tc">Turks and
                                                        Caicos
                                                        Islands
                                                    </option>
                                                    <option value="Tuvalu" data-id="tv">Tuvalu</option>
                                                    <option value="Uganda" data-id="ug">Uganda</option>
                                                    <option value="Ukraine" data-id="ua">Ukraine</option>
                                                    <option value="United Arab Emirates" data-id="ae">United Arab
                                                        Emirates</option>
                                                    <option value="United Kingdom" data-id="gb">United Kingdom</option>
                                                    <option value="United States" data-id="us">United States</option>
                                                    <option value="United States Minor Outlying Islands" data-id="um">
                                                        United
                                                        States Minor Outlying Islands</option>
                                                    <option value="Uruguay" data-id="uy">Uruguay</option>
                                                    <option value="Uzbekistan" data-id="uz">Uzbekistan</option>
                                                    <option value="Vanuatu" data-id="vu">Vanuatu</option>
                                                    <option value="Venezuela" data-id="ve">Venezuela</option>
                                                    <option value="Viet Nam" data-id="vn">Viet Nam</option>
                                                    <option value="Virgin Islands, British" data-id="vg">Virgin Islands,
                                                        British
                                                    </option>
                                                    <option value="Virgin Islands, U.s." data-id="vi">Virgin Islands,
                                                        U.s.
                                                    </option>
                                                    <option value="Wallis and Futuna" data-id="wf">Wallis and Futuna
                                                    </option>
                                                    <option value="Western Sahara" data-id="eh">Western Sahara</option>
                                                    <option value="Yemen" data-id="ye">Yemen</option>
                                                    <option value="Zambia" data-id="zm">Zambia</option>
                                                    <option value="Zimbabwe" data-id="zw">Zimbabwe</option>
                                                </select>
                                                <label for="country_id" class="error" generated="true"></label>
                                            </div>

                                        </div>

                                        <div class="col-lg-12">
                                            <div class="form-group radio-group col-md-12 animation"
                                                data-animation="fadeInUp" delay="0.1s">
                                                <label for="gender" class="gender-main-label">Gender </label>
                                                <label class="radio-inline">
                                                    <input type="radio" name="gender" class="gender-list">
                                                    <span class="male-female">Male</span>
                                                </label>
                                                <label class="radio-inline">
                                                    <input type="radio" name="gender" class="gender-list"><span
                                                        class="male-female">Female</span>
                                                </label>
                                                <label for="gender" class="error" generated="true"></label>
                                            </div>
                                        </div>


                                        <div class="col-md-12 mt-40">
                                            <div class="row">
                                                <div class="col-md-4 animation" data-animation="fadeInUp"
                                                    data-animation-delay="0.1s">
                                                    <label><strong>Identity Card Front Side:</strong></label>

                                                    <div class="form-group form-group-mobile col-md-12 custom-file">
                                                        <input type="file" class="custom-file-input" name="f_side"
                                                            id="f_side">
                                                        <label class="custom-file-label" for="customFile">Choose
                                                            file</label>

                                                    </div>
                                                    <label for="f_side" class="error" generated="true"></label>
                                                </div>
                                                <div class="col-md-12 colorblc  animation" data-animation="fadeInUp"
                                                    data-animation-delay="0.8s">Please
                                                    make sure that the photo is complete and clearly visible, in JPG
                                                    format.
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group col-md-12 animation" data-animation="fadeInUp"
                                            data-animation-delay="1s">
                                            <div class="row justify-content-end align-items-center text-center">
                                                <div class="col-md-5">
                                                    <canvas id="cf_side" class="boxsixe"
                                                        style="border:1px solid #d3d3d3;background:#ffffff;">
                                                    </canvas>
                                                </div>
                                                <div class="col-md-2">
                                                    <span style="padding-toptop: 250px">Example</span>
                                                </div>
                                                <div class="col-md-5">
                                                    <div class="imgboxs" data-toggle="modal" data-target="#myModal1">
                                                        <img src="/assets1/images/passport.png" alt=""></div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-12 animation" data-animation="fadeInUp"
                                            data-animation-delay="0.1s">
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <label><strong>Identity Card Back Side:</strong></label>
                                                    <div class="form-group form-group-mobile col-md-12 custom-file">
                                                        <input type="file" class="custom-file-input" name="b_side"
                                                            id="b_side">
                                                        <label class="custom-file-label" for="customFile">Choose
                                                            file</label>
                                                    </div>
                                                    <label for="b_side" class="error" generated="true"></label>
                                                </div>
                                                <div class="col-md-12  colorblc">Please make sure that the photo is
                                                    complete
                                                    and clearly visible, in JPG format. Id card must be in the valid
                                                    period
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group col-md-12 animation" data-animation="fadeInUp"
                                            data-animation-delay="1.4s">
                                            <div class="row justify-content-end align-items-center text-center">
                                                <div class="col-md-5">
                                                    <canvas id="cb_side" class="boxsixe"
                                                        style="border:1px solid #d3d3d3;background:#ffffff;">
                                                    </canvas>
                                                </div>
                                                <div class="col-md-2">
                                                    <span style="padding-toptop: 250px">Example</span>
                                                </div>
                                                <div class="col-md-5">
                                                    <div class="imgboxs" data-toggle="modal" data-target="#myModal2">
                                                        <img src="/assets1/images/back.png" alt=""></div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-12 animation" data-animation="fadeInUp"
                                            data-animation-delay="1.6s">
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <label><strong>Selfie With Photo ID And Note:</strong></label>
                                                    <div class="form-group form-group-mobile col-md-12 custom-file">
                                                        <input type="file" class="custom-file-input" name="h_side"
                                                            id="h_side">
                                                        <label class="custom-file-label" for="customFile">Choose
                                                            file</label>
                                                    </div>
                                                    <label for="h_side" class="error" generated="true"></label>
                                                </div>
                                                <div class="col-md-12  colorblc">Please provide a photo of you holding
                                                    your
                                                    Identity Card front side. In the same picture, make a reference to
                                                    MYCONTRACT.CO
                                                    and today's date displayed. Make sure your face is clearly visible
                                                    and
                                                    that all passport details are clearly readable.</div>
                                            </div>
                                        </div>

                                        <div class="form-group col-md-12 animation" data-animation="fadeInUp"
                                            data-animation-delay="1.8s">
                                            <div class="row justify-content-end align-items-center text-center">
                                                <div class="col-md-5">
                                                    <canvas id="ch_side" class="boxsixe"
                                                        style="border:1px solid #d3d3d3;background:#ffffff;">
                                                    </canvas>
                                                </div>
                                                <div class="col-md-2">
                                                    <span style="padding-toptop: 250px">Example</span>
                                                </div>
                                                <div class="col-md-5">
                                                    <div class="imgboxs" data-toggle="modal" data-target="#myModal"><img
                                                            src="/assets1/images/selfi.png" alt=""></div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-12">
                                            <button class="btn btn-default mt10" type="submit"
                                                name="Submit">SUBMIT</button>
                                            <p>KYC verification would need 3 - 4 working days to be complete.</p>
                                            <br>
                                        </div>
                                    </div>
                                </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--

        <!-- END SECTION LOGIN -->
        <!-- / latest exchanges -->
        <!-- footer -->

        <!-- / footer -->
        <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
        <a href="#" class="scrollup btn-default"><i class="fa fa-angle-up"></i></a>



        <!-- Latest jQuery -->
        <script src="/assets1/js/jquery-1.12.4.min.js"></script>
        <!-- Latest compiled and minified Bootstrap -->
        <script src="/assets1/bootstrap/js/bootstrap.min.js"></script>
        <!-- owl-carousel min js  -->
        <script src="/assets1/owlcarousel/js/owl.carousel.min.js"></script>
        <!-- magnific-popup min js  -->
        <script src="assets1/js/magnific-popup.min.js"></script>
        <!-- waypoints min js  -->
        <script src="/assets1/js/waypoints.min.js"></script>
        <!-- parallax js  -->
        <script src="/assets1/js/parallax.js"></script>
        <!-- countdown js -->
        <script src="/assets1/js/jquery.countdown.min.js"></script>
        <!-- scripts js -->
        <script src="/assets1/js/jquery.dd.min.js"></script>
        <!-- jquery.counterup.min js -->
        <script src="/assets1/js/jquery.counterup.min.js"></script>
        <!-- scripts js -->
        <script src="/assets1/js/scripts.js"></script>

        <script src="/assets1/js/toastr-2.1.3.js"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/additional-methods.js"></script>


        <script type="text/javascript">

            toastr.options = {
                "closeButton": true,
                "debug": false,
                "newestOnTop": false,
                "progressBar": true,
                "positionClass": "toast-bottom-right",
                "preventDuplicates": false,
                "onclick": null,
                "showDuration": "300",
                "hideDuration": "1000",
                "timeOut": "5000",
                "extendedTimeOut": "1000",
                "showEasing": "swing",
                "hideEasing": "linear",
                "showMethod": "fadeIn",
                "hideMethod": "fadeOut"
            };


            function change_captcha() {
                $("#capimg").html('Loading....');
                $.post('https://jcash.jiojio.io/ajax/refresh_capcha', function (data, result) {
                    $("#capimg").html(data);
                });
            }


        </script>

        <script>
            function change_captcha() {
                $("#capimg").html('Loading....');
                $.post('https://jcash.jiojio.io/ajax/refresh_capcha', function (data, result) {
                    $("#capimg").html(data);
                });
            }


        </script>
        <script type="text/javascript">
            $('body').addClass('login');
            $('#root-view').addClass('auth-layout');
        </script>

        <style type="text/css">
            .login-box-body {
                position: relative;
            }
        </style>
        <script>
            $('body').addClass('page-header-fixed page-sidebar-closed-hide-logo page-container-bg-solid page-content-white');
            $('#root-view').addClass('page-wrapper');
            $(function () {
                //$.getScript('assets/bower_components/metronic/global/scripts/app.js').then(function () {
                //$.getScript('assets/bower_components/metronic/pages/scripts/dashboard.js');
                //$.getScript('assets/bower_components/metronic/layouts/layout/scripts/layout.js');
                //$.getScript('assets/bower_components/metronic/layouts/layout/scripts/demo.js');
                //$.getScript('assets/bower_components/metronic/layouts/global/scripts/quick-sidebar.js');
                //$.getScript('assets/bower_components/metronic/layouts/global/scripts/quick-nav.js');
                //})

            });
        </script>

        <script type="text/javascript">
            $("#subscribe_form").validate(
                {
                    rules:
                    {
                        email: { required: true, email: true },
                    },
                    messages:
                    {
                        email: { required: 'Email is required', email: 'Enter valid email' },
                    }
                });
        </script>
        <!--selectpicker ends-->

        <script>
            $.validator.addMethod(
                "regex",
                function (value, element, regexp) {
                    var re = new RegExp(regexp);
                    return this.optional(element) || re.test(value);
                },
                "Number Not valid."
            );
            $.validator.addMethod('filesize', function (value, element, arg) {
                console.log(element.files[0].size);
                console.log(arg);
                return this.optional(element) || (element.files[0].size <= arg)
            }, 'File size must be less than {0}');

            $("#kyc").validate({
                rules:
                {
                    first_name: { required: true, minlength: 2, maxlength: 500, regex: "^[a-zA-Z-][a-zA-Z -]*$" },
                    last_name: { required: true, minlength: 2, maxlength: 500, regex: "^[a-zA-Z-][a-zA-Z -]*$" },
                    isd_code: { required: true, regex: /^(\+?\d{1,3}|\d{1,4})$/ },
                    country_id: { required: true },
                    // dob: { required: true},
                    gender: { required: true },
                    // doc_id: { required: true,regex:"(?!^ +$)^.+$"},
                    phone_no: { required: true, regex: /^(\+?\d{1,3}|\d{1,10})$/ },
                    f_side: { required: true, filesize: 3145728 },
                    b_side: { required: true, filesize: 3145728 },
                    h_side: { required: true, filesize: 3145728 },
                },
                messages:
                {
                    first_name: { required: 'First Name  is required', minlength: 'First name should contain atleast two alphabets', maxlength: 'First name should not exceed than 500 characters', regex: 'Only alphabets allowed' },
                    last_name: { required: 'Last Name  is required', minlength: 'Last name should contain atleast two alphabets', maxlength: 'First name should not exceed than 500 characters', regex: 'Only alphabets allowed' },
                    phone_no: { required: 'Phone number is required', number: 'Digit only allowed', regex: 'Number not valid should not start with zero' },
                    isd_code: { required: 'ISD code is required' },
                    country_id: { required: 'Country  is required' },
                    // dob: { required: 'Date of Birth  is required'},
                    gender: { required: 'Gender is required' },
                    // doc_id: { required:'Document ID  is required',regex:"Space not Allowed"},
                    f_side: { required: 'Front Side  is required', filesize: "Maximum size is 3mb" },
                    b_side: { required: 'Back Side  is required', filesize: "Maximum size is 3mb" },
                    h_side: { required: 'Selfie with ID is required', filesize: "Maximum size is 3mb" },

                }
            });
        </script>
        <script src="/assets/js/countrySelect.js"></script>
        <script type="text/javascript">


            function set_country() {
                var code = $('#country_id option:selected').attr('data-id');
                $("#country_selector").countrySelect("selectCountry", code);
            }
        </script>











        <script>
            function el(id) { return document.getElementById(id); } // Get elem by ID

            var canvas1 = el("cf_side");
            var context1 = canvas1.getContext("2d");
            function readImage1() {
                if (this.files && this.files[0]) {
                    var FR = new FileReader();
                    FR.onload = function (e) {
                        var img = new Image();

                        img.addEventListener("load", function () {
                            var x = 0;
                            var y = 0;
                            var width = 350;
                            var height = 250;

                            context1.drawImage(img, x, y, width, height);
                        });
                        img.src = e.target.result;
                    };
                    FR.readAsDataURL(this.files[0]);
                }
            }

            el("f_side").addEventListener("change", readImage1, false);
        </script>

        <script>
            function el(id) { return document.getElementById(id); } // Get elem by ID

            var canvas2 = el("cb_side");
            var context2 = canvas2.getContext("2d");
            function readImage2() {
                if (this.files && this.files[0]) {
                    var FR = new FileReader();
                    FR.onload = function (e) {
                        var img = new Image();

                        img.addEventListener("load", function () {
                            var x = 0;
                            var y = 0;
                            var width = 350;
                            var height = 250;

                            context2.drawImage(img, x, y, width, height);
                        });
                        img.src = e.target.result;
                    };
                    FR.readAsDataURL(this.files[0]);
                }
            }

            el("b_side").addEventListener("change", readImage2, false);
        </script>

        <script>
            function el(id) { return document.getElementById(id); } // Get elem by ID

            var canvas3 = el("ch_side");
            var context3 = canvas3.getContext("2d");
            function readImage3() {
                if (this.files && this.files[0]) {
                    var FR = new FileReader();
                    FR.onload = function (e) {
                        var img = new Image();

                        img.addEventListener("load", function () {
                            var x = 0;
                            var y = 0;
                            var width = 350;
                            var height = 250;
                            context3.drawImage(img, x, y, width, height);
                        });
                        img.src = e.target.result;
                    };
                    FR.readAsDataURL(this.files[0]);
                }
            }

            el("h_side").addEventListener("change", readImage3, false);
        </script>

    </body>

</html>