<body>
  <% layout('./layouts/sidebar') -%>
  <div class="preloader">
    <div class="lds-ripple">
      <div class="lds-pos"></div>
      <div class="lds-pos"></div>
    </div>
  </div>
  <!-- Page wrapper  -->
  <div class="page-wrapper">

    <!-- Container fluid  -->
    <!-- Container fluid  -->
    <div class="container-fluid">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Buy Package</h4>
          <div class="row">
            <div class="container-fluid">
              <div class="clpricing-table cat-id-10">
                <div class="container-fluid">
                  <div class="row align-items-center price-table style10">
                    <div class="col-md-12 col-lg-6 col-sm-6 col-xs-12">
                      <div class="cl-pricetable-wrap price-1 category28 ">
                        <div class="top">
                          <div class="cl-header">
                            <h4>Package 1</h4>
                            <h5>STANDARD PLAN</h5>
                          </div>
                        </div>
                        <div class="featured">
                          <ul>
                            <li><i class="feature_icon fa fa-check" aria-hidden="true"></i> Smart Contract Creation</li>
                            <li><i class="feature_icon fa fa-check" aria-hidden="true"></i> Smart Contract Deployment</li>
                          </ul>
                        </div>
                        <div class="bottom">
                          <div class="cl-footer">
                            <div class="dolar">10000000 <img src="assets/images/icons/xdce.png" width="25" height="25"></div>
                              <% if(balance<1001) { %>
                              <h5> Your balance is insufficient. Please recharge your address with XDCE </h5>
                              <% } else { %>
                              <a data-toggle="modal" data-target="#paymentConfirmationModal" data-whatever="@getbootstrap" class="btn-table btn-rounded btn-1 hvr-sweep-to-right">Buy Now</a>
                              <% } %>
                            </div>

                          </div>
                        </div>
                      </div>
                      <div class="col-md-12 col-lg-6 col-sm-6 col-xs-12">
                        <div class="cl-pricetable-wrap price-2 category29 popular_plan">
                          <div class="top">
                            <span class="popular">COMING SOON</span>
                            <div class="cl-header">
                              <h4>Package 2</h4>
                              <h5>PREMIUM PLAN</h5>
                            </div>
                          </div>
                          <div class="featured">
                            <ul>
                              <li><i class="feature_icon fa fa-check" aria-hidden="true"></i> Smart Contract Creation</li>
                              <li><i class="feature_icon fa fa-check" aria-hidden="true"></i> Smart Contract Deployment</li>
                              <li><i class="feature_icon fa fa-check" aria-hidden="true"></i> ICO Platfrom with Dashboard</li>
                            </ul>
                          </div>
                          <div class="bottom">
                            <div class="cl-footer">
                              <div class="dolar">Coming Soon!</div>
                              <a href="#" class="btn-table btn-1 hvr-sweep-to-right">Order Now</a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>

        </div>
      </div>
    </div>
    <!-- End Container fluid  -->
</body>

</html>
