<body>
  <% layout('./layouts/sidebar') -%>
  <div class="preloader">
    <div class="lds-ripple">
      <div class="lds-pos"></div>
      <div class="lds-pos"></div>
    </div>
  </div>
  <!-- Page wrapper  -->
  <div class="page-wrapper">

    <!-- Container fluid  -->
    <div class="container-fluid">
      <div class="card" style="min-height:500px;">
        <div class="card-body">
            <div class="row">
              <div class="col-lg-6 text-center">
                <div class="well">
                  <h1>Package 1</h1>
                  <h4 class="fa  fa-check-square-o">Smart Contract Creation</h4><br>
                  <h4 class="fa  fa-check-square-o">Smart Contract Deployment</h4><br><br><br><br><br>
                  <h5>Price: 1001 XDCE</h4>
                  </div>
                  <div class="well">
                    <h5>Address: <%= address %></h5>
                  <hr>
                  <h5>Current balance: <%= balance %> XDCE </h5>
                  <% if(balance<1001) { %>
                  <h5> Your balance is insufficient. Please recharge your address with XDCE </h5>
                  <% } else { %>
                  <a href="/payment" class="btn btn-default btn-sm">Make payment</a>
                  <% } %>
                </div>
              </div>
              <div class="col-lg-6 text-center">
                <div class="well">
                  <h1> Package 2</h1>
                  <h5><strong>(Coming Soon)</strong></h5>
                  <h4 class="fa fa fa-check-square-o"> Smart Contract Creation</h4><br>
                  <h4 class="fa fa fa-check-square-o"> Smart Contract Deployment</h4><br>
                  <h4 class="fa fa fa-check-square-o"> ICO Platfrom with Dashboard</h4><br><br>
                  <h5>Price: Coming soon</h4>
                  </div>
                  <div class="well">
                    <a href="javascript:void(0)" class="btn btn-default btn-sm" disabled="true">Make payment</a>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
</body>

</html>
