<head>
    <title>AutoCoin</title>
  
    <!-- Favicon Icon -->
    <script src="https://www.googletagmanager.com/gtag/js?id=UA-124166989-1"></script>
  
    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900" rel="stylesheet">
  
    <!-- Animation CSS -->
    <link rel="stylesheet" href="https://www.whatshalal.io/front/assets1/css/animate.css">
    <!-- Latest Bootstrap min CSS -->
    <link rel="stylesheet" href="https://www.whatshalal.io/front/assets1/bootstrap/css/bootstrap.min.css">
    <!-- Font Awesome CSS -->
    <link rel="stylesheet" href="https://www.whatshalal.io/front/assets1/css/font-awesome.min.css">
    <!-- Style CSS -->
    <link rel="stylesheet" href="https://www.whatshalal.io/front/assets1/css/style.css">
    <link rel="stylesheet" href="https://www.whatshalal.io/front/assets1/css/toastr-2.1.3.css">
    <link rel="stylesheet" href="https://www.whatshalal.io/front/assets1/css/responsive.css">
    <link rel="stylesheet" href="https://www.whatshalal.io/front/assets1/css/admin.css">
    <link href="https://www.whatshalal.io/front/assets1/popup/popup-styles.css" rel="stylesheet">
  
  </head>
  <body class="v_light_dark" data-spy="scroll" data-offset="110">
  
  <!-- START LOADER -->

  <header class="header_wrap fixed-top">
      <div class="container-fluid">
          <nav class="navbar navbar-expand-lg">
              <button class="navbar-toggler animation" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" data-animation="fadeInDown" data-animation-delay="1.1s">
                  <span class="fa fa-bars"></span>
              </button>
              <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                  <ul class="navbar-nav m-auto"> 
                  </ul>
                  <ul class="navbar-nav nav_btn align-items-center">
                  </ul>
  
                  <ul class="navbar-nav nav_btn align-items-center">
                                  <li><a href="/logout" ><h4>LogOut</h4></a></li>
                              </ul>
                          </div>
                      </li>
                  </ul>
              </div>
          </nav>
      </div>
  </header>

  