<!-- views/profile.ejs -->
<!doctype html>
<html>

<head>
  <title>AutoCoin</title>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
  <style>
    body {
      padding-top: 80px;
      word-wrap: break-word;
      background-image: linear-gradient(180deg,rgba(53, 53, 138, 0.623), white); /* Standard syntax (must be last) */

    }


  </style>
</head>

<body>
  <div class="container">

    <div class="page-header text-center">
      <h1>Custom Contract</h1>
      <a href="/profile" class="btn btn-default btn-sm">Back</a>
      <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    </div>

    <div class="row">

      <!-- LOCAL INFORMATION -->
      <div class="col-sm-12">
        <div class="well text-center">
          <h2 class="text-center">Smart Contract Details </h2>
          <form action="/createContract" method="post">

            <div class="form-group">
              <label for="token_name"> Token Name:</label>
              <input type="text" class="form-control" name="token_name" placeholder="Enter Token Name (For example Ethereum, Bitcoin, Xinfin)">
            </div>
            <div class="form-group">
              <label for="token_symbol">Token Symbol:</label>
              <input type="text" class="form-control" name="token_symbol" placeholder="Enter Token Symbol (For example ETH, BTC, XDC)">
            </div>
            <div class="form-group">
              <label for="token_decimals">Token Decimals:</label>
              <input type="number" class="form-control" name="token_decimals" placeholder="18" value= 18>
            </div>
            <div class="form-group">
              <label for="token_supply">Total Supply: (This will be your hard cap for your ICO)</label>
              <input type="number" class="form-control" name="token_supply" placeholder="Enter Total Supply (eg. 1000000000000)">
            </div>
            <div class="form-group">
              <label for="token_sale">Sale Token limit:</label>
              <input type="number" class="form-control" name="token_sale" placeholder="Enter Sale Token limit (This will be your soft cap for your ICO)">
            </div>
            <div class="form-group">
              <label for="eth_tokens">1 eth = ? tokens:</label>
              <input type="number" class="form-control" name="eth_tokens" placeholder="How many tokens will you be able to buy using 1 Eth ?">
            </div>
            <h4>Functionalities</h4>
            <p>
              <label class="checkbox-inline">
                  <input type="checkbox" checked data-toggle="toggle" data-onstyle="success" data-offstyle="danger" disabled>ERC20
              </label>
              <label class="checkbox-inline">
                  <input type="checkbox" checked data-toggle="toggle" data-onstyle="success" data-offstyle="danger" disabled>Standard
              </label>
              <label class="checkbox-inline">
                  <input type="checkbox" checked data-toggle="toggle" data-onstyle="success" data-offstyle="danger" disabled>Safemath
              </label>
              <label class="checkbox-inline">
                  <input type="checkbox" checked data-toggle="toggle" data-onstyle="success" data-offstyle="danger" disabled>Ownable
              </label>
              <label class="checkbox-inline">
                  <input type="checkbox" checked data-toggle="toggle" data-onstyle="success" name="isR" data-offstyle="danger">Releaseable
              </label>
              <label class="checkbox-inline">
                  <input type="checkbox" checked data-toggle="toggle" data-onstyle="success" name="isU" data-offstyle="danger">Upgradeable
              </label>
              <label class="checkbox-inline">
                  <input type="checkbox" checked data-toggle="toggle" data-onstyle="success" name="isB" data-offstyle="danger">Burnable
              </label>
              <label class="checkbox-inline">
                  <input type="checkbox" checked data-toggle="toggle" data-onstyle="success" name="isM" data-offstyle="danger">Mintable
              </label>
            </p>

            <button type="submit" class="btn btn-default">Submit</button>
          </form>


        </div>
      </div>

    </div>

  </div>
</body>

</html>
