<!-- views/profile.ejs -->
<!doctype html>
<html>

<head>
  <title>Node Authentication</title>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
  <style>
    body {
      padding-top: 80px;
      word-wrap: break-word;
    }
  </style>
</head>

<body>
  <div class="container">

    <div class="page-header text-center">
      <h1>Custom Contract</h1>
      <a href="/profile" class="btn btn-default btn-sm">Back</a>
      <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    </div>

    <div class="row">

      <!-- LOCAL INFORMATION -->
      <div class="col-sm-12">
        <div class="well text-center">
          <h2 class="text-center">Smart Contract Details </h2>
          <form>
          <h4>Functionalities</h4>
          <p>     
                  <label class="checkbox-inline" >
                  <input type="checkbox" checked data-toggle="toggle" data-onstyle="success" data-offstyle="danger" disabled>ERC20
              </label>
                  <label class="checkbox-inline">
                  <input type="checkbox" checked data-toggle="toggle" data-onstyle="success" data-offstyle="danger" disabled>Standard
              </label>
                  <label class="checkbox-inline">
                  <input type="checkbox" checked data-toggle="toggle" data-onstyle="success" data-offstyle="danger" disabled>Safemath
              </label>
                  <label class="checkbox-inline">
                  <input type="checkbox" checked data-toggle="toggle" data-onstyle="success" data-offstyle="danger" disabled>Ownable
              </label>
                  <label class="checkbox-inline">
                  <input type="checkbox" checked data-toggle="toggle" data-onstyle="success" data-offstyle="danger">Releaseable
              </label>
                  <label class="checkbox-inline">
                  <input type="checkbox" checked data-toggle="toggle" data-onstyle="success" data-offstyle="danger">Upgradeable
              </label>
                  <label class="checkbox-inline">
                  <input type="checkbox" checked data-toggle="toggle" data-onstyle="success" data-offstyle="danger">Burnable
              </label>
                  <label class="checkbox-inline">
                  <input type="checkbox" checked data-toggle="toggle" data-onstyle="success" data-offstyle="danger">Mintable
              </label>    
          </p>
        
                <div class="form-group">
                  <label for="email"> Token Name:</label>
                  <input type="email" class="form-control" id="email" placeholder="Enter email">
                </div>
                <div class="form-group">
                  <label for="pwd">Token Symbol:</label>
                  <input type="password" class="form-control" id="pwd" placeholder="Enter password">
                </div>
                <div class="form-group">
                        <label for="pwd">Token Decimals:</label>
                        <input type="password" class="form-control" id="pwd" placeholder="Enter password">
                      </div>
                <div class="form-group">
                            <label for="pwd">Total Supply:</label>
                            <input type="password" class="form-control" id="pwd" placeholder="Enter password">
                          </div>
                <div class="form-group">
                                <label for="pwd">Sale Token limit:</label>
                                <input type="password" class="form-control" id="pwd" placeholder="Enter password">
                              </div>
                <div class="form-group">
                                    <label for="pwd">1 eth = ? tokens:</label>
                                    <input type="password" class="form-control" id="pwd" placeholder="Enter password">
                                  </div>
                <button type="submit" class="btn btn-default">Submit</button>
              </form>

        
        </div>
      </div>

    </div>

  </div>
</body>

</html>
