<% layout('./layouts/sidebar') -%>

<body>
  <div class="preloader">
    <div class="lds-ripple">
      <div class="lds-pos"></div>
      <div class="lds-pos"></div>
    </div>
  </div>
  <!-- Page wrapper  -->
  <div class="page-wrapper">
    <!-- Container fluid  -->
    <div class="container-fluid">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Generated Contract</h4>

          <div class="row">
            <div class="col-sm-12 text-center">
              <div class="well">
                <h3 class="text-center"> Solidity Smart Contract to review</h3>
                <textarea class="form-control" rows="25" disabled><%= contract %></textarea>
              </div>
              <a href="/deployer"+ class="btn btn-default btn-lg text-center"> Deploy your contract now !!</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>
