<!-- views/profile.ejs -->
<!doctype html>
<html>

<head>
  <title>Node Authentication</title>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
  <style>
    body {
      padding-top: 80px;
      word-wrap: break-word;
    }
  </style>
</head>

<body>
  <div class="container">

    <div class="page-header text-center">
      <h1>Contract Deployer </h1>
      <a href="/logout" class="btn btn-default btn-sm">Logout</a>
      <a href="/profile" class="btn btn-default btn-sm">Back</a>

    </div>

    <div class="row">

      <!-- LOCAL INFORMATION -->
      <div class="col-sm-12">
        <div class="well">
          <h3 class="text-center">Deploy your contract </h3>

          <div class="col-sm-12">
                <form action="/action_page.php">
                <input type="file" name="keystore" class="btn" ><br>
                Password: <input type="password" name="Password"><br><br>
                <input type="submit" value="Submit" class="btn">
                </form>


          </div>

        </div>
      </div>
    

    </div>

  </div>
</body>

</html>
