<% layout('./layouts/sidebar') -%>
<div>
  <!-- Preloader -->
  <div class="preloader">
    <div class="lds-ripple">
      <div class="lds-pos"></div>
      <div class="lds-pos"></div>
    </div>
  </div>
  <!-- Page wrapper  -->
  <div class="page-wrapper">

      <!-- Container fluid  -->
      <div class="container-fluid">
          <div class="card" style="min-height:500px;">
              <div class="card-body">
                  <h4 class="card-title">Frequently Asked Questions</h4>
                <div class="row mt-5">
                      <div class="col-md-12">
                        <div class="accordion" id="accordionEx" role="tablist" aria-multiselectable="true">

<!-- Accordion card -->
<div class="card shadow-none">

  <!-- Card header -->
  <div class="card-header" role="tab" id="headingOne">
      <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
          <h5 class="panel-title mb-0">How can I pay for My Contract packages? <i class="fa fa-angle-down rotate-icon"></i></h5>
      </a>
  </div>

  <!-- Card body -->
  <div id="collapseOne" class="collapse" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordionEx" style="">
      <div class="card-body">Pay for your MyContract package using XDC. Create an account and proceed to our payment gateway by hitting 'Code My Contract'.</div>
  </div>
</div>
<!-- Accordion card -->

<!-- Accordion card -->
<div class="card shadow-none">

  <!-- Card header -->
  <div class="card-header" role="tab" id="headingTwo">
      <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          <h5 class="panel-title mb-0">Which blockchains are supported? <i class="fa fa-angle-down rotate-icon"></i></h5>
      </a>
  </div>

  <!-- Card body -->
  <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo" data-parent="#accordionEx" style="">
      <div class="card-body">Ethereum's ERC 20 token creation conventions smart contract which facilitates crowdsale and related smart contracts execution on its networks.</div>
  </div>
</div>
<!-- Accordion card -->

<!-- Accordion card -->
<div class="card shadow-none">

  <!-- Card header -->
  <div class="card-header" role="tab" id="headingThree">
      <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          <h5 class="panel-title mb-0">How do I know that My contract will be secure? <i class="fa fa-angle-down rotate-icon"></i></h5>
      </a>
  </div>

  <!-- Card body -->
  <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree" data-parent="#accordionEx" style="">
      <div class="card-body">Our contracts have been audited by reputed a smart contract auditing firm that found no vulnerabilities.</div>
  </div>
</div>
<!-- Accordion card -->

<!-- Accordion card -->
<div class="card shadow-none">

  <!-- Card header -->
  <div class="card-header" role="tab" id="headingFour">
      <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
          <h5 class="panel-title mb-0">Will a smart contract satisfy my use Case? <i class="fa fa-angle-down rotate-icon"></i></h5>
      </a>
  </div>

  <!-- Card body -->
  <div id="collapseFour" class="collapse" role="tabpanel" aria-labelledby="headingFour" data-parent="#accordionEx" style="">
      <div class="card-body">To find out if a smart contract is a good fit for your business, reach out to us! We'll be happy to answer away any questions and help guide you through the process.</div>
  </div>
</div>
<!-- Accordion card -->

<!-- Accordion card -->
<div class="card shadow-none">

  <!-- Card header -->
  <div class="card-header" role="tab" id="headingFive">
      <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
          <h5 class="panel-title mb-0">How to test, deploy and go live with your smart contract on the Ethereum Network (ERC 20)? <i class="fa fa-angle-down rotate-icon"></i></h5>
      </a>
  </div>

  <!-- Card body -->
  <div id="collapseFive" class="collapse" role="tabpanel" aria-labelledby="headingFive" data-parent="#accordionEx">
      <div class="card-body">There are several ways to deploy the smart contract with common ones being
      <p><span>Truffle Framework</span> - Create a new folder for ERC20 token inside private-truffle-project folder and place the smart contract  inside the contract folder. Compile the smart contract and deploy using the command truffle.cmd  </p>
      <p><span>Remix</span>– Compile the smart contract by pasting it into the editor at remix.ethereum.org and use Web3 deploy option to connect directly to an Ethereum node via HTTP. </p>
      <p><span>My Ether Wallet</span> ("MEW")– Deploy smart contract by specifying Byte Code and Gas limit. Interact with Contract using contract address and ABI / JSON Interface</p>
      <p><span>Node</span>- Ethereum Public network setup through a node &amp; deploying smart contract by technical commands</p></div>
  </div>
</div>
<!-- Accordion card -->
</div>
                  </div>
              </div>


          </div>
      </div>

  </div>
  <!-- End Container fluid  -->

</div>
