<% layout('./layouts/sidebar') -%>
<div>
  <!-- Preloader -->
  <div class="preloader">
    <div class="lds-ripple">
      <div class="lds-pos"></div>
      <div class="lds-pos"></div>
    </div>
  </div>
  <!-- Page wrapper  -->
  <div class="page-wrapper">

    <!-- Container fluid  -->
    <div class="container-fluid">
      <div class="card" style="min-height:500px;">
        <div class="card-body">
          <h5>Frequently Asked Questions</h5>
          <div className="accordion" id="accordionEx" role="tablist" aria-multiselectable="true">
            <div className="card">
              <div className="card-header" role="tab" id="headingOne">
                <a className="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                    <h5 className="panel-title mb-0">How can I pay for My Contract packages? <i className="fa fa-angle-down rotate-icon" /></h5>
                  </a>
              </div>
              <div id="collapseOne" className="collapse" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordionEx">
                <div className="card-body">Pay for your My Contract package using Ethereum. Create an account and proceed to our payment gateway by hitting 'Code My Contract'.</div>
              </div>
            </div>
            <div className="card">
              <div className="card-header" role="tab" id="headingTwo">
                <a className="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    <h5 className="panel-title mb-0">Which blockchains are supported? <i className="fa fa-angle-down rotate-icon" /></h5>
                  </a>
              </div>
              <div id="collapseTwo" className="collapse" role="tabpanel" aria-labelledby="headingTwo" data-parent="#accordionEx">
                <div className="card-body">Ethereum's ERC 20 token creation conventions smart contract which facilitates crowdsale and related smart contracts execution on its networks.</div>
              </div>
            </div>
            <div className="card">
              <div className="card-header" role="tab" id="headingThree">
                <a className="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    <h5 className="panel-title mb-0">How do I know that My contract will be secure? <i className="fa fa-angle-down rotate-icon" /></h5>
                  </a>
              </div>
              <div id="collapseThree" className="collapse" role="tabpanel" aria-labelledby="headingThree" data-parent="#accordionEx">
                <div className="card-body">Our contracts have been audited by best in class smart contract auditing firm that found no vulnerabilities.</div>
              </div>
            </div>
            <div className="card">
              <div className="card-header" role="tab" id="headingFour">
                <a className="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                    <h5 className="panel-title mb-0">Will a smart contract satisfy my use Case? <i className="fa fa-angle-down rotate-icon" /></h5>
                  </a>
              </div>
              <div id="collapseFour" className="collapse" role="tabpanel" aria-labelledby="headingFour" data-parent="#accordionEx">
                <div className="card-body">To find out if a smart contract is a good fit for your business, reach out to us! We'll be happy to answer away any questions and help guide you through the process.</div>
              </div>
            </div>
            <div className="card">
              <div className="card-header" role="tab" id="headingFive">
                <a className="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                    <h5 className="panel-title mb-0">How to test, deploy and go live with your smart contract on the Ethereum Network (ERC 20)? <i className="fa fa-angle-down rotate-icon" /></h5>
              </a>
              </div>
              <div id="collapseFive" className="collapse" role="tabpanel" aria-labelledby="headingFive" data-parent="#accordionEx">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
