<!DOCTYPE html>
<html lang="zxx" class="js">

<head>
    <meta charset="utf-8">
    <meta name="author" content="Softnio">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description"
        content="MyContract - Leading Platform for Smart Contract Creation, Deployment, Interaction & Token Offering.">
    <meta name="Description"
        content="Leading Platform for Smart Contract Creation, Deployment, Interaction & Token Offering. Create your Smart Contract without Coding.">
    <meta name="Keywords"
        content="Smart Contract , Smart Contract Creation , Token Offering , Cryptocurrency , MyContract , Create Smart Contract , Smart Contract Generator , Blockchain Technology , My Smart Contract , Token , Blockchain , Token Offering Platform , Create Smart Contract Online , Technology , Token Generator , Ethereum , Bitcoin , Generate ERC20 token , Smart , Contract">

    <!-- Fav Icon -->
    <link rel="apple-touch-icon" sizes="57x57" href="landingPageAssets/images/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="landingPageAssets/images/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="landingPageAssets/images/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="landingPageAssets/images/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="landingPageAssets/images/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="landingPageAssets/images/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="landingPageAssets/images/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="landingPageAssets/images/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="landingPageAssets/images/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="landingPageAssets/images/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="landingPageAssets/images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="landingPageAssets/images/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="landingPageAssets/images/favicon/favicon-16x16.png">
    <link rel="manifest" href="landingPageAssets/images/favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="landingPageAssets/images/favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <!-- Goole Font -->
    <link href="https://fonts.googleapis.com/css?family=Muli:300,400,600,700,800,900" rel="stylesheet">

    <!-- Site Title  -->
    <title>MyContract | Create your Smart Contract without Coding</title>

    <!-- Vendor Bundle CSS -->
    <link rel="stylesheet" href="landingPageAssets/css/vendor.bundle.css">
    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="landingPageAssets/css/style.css">
    <link rel="stylesheet" href="landingPageAssets/css/toastr.min.css">
    <link rel="stylesheet" href="landingPageAssets/css/theme.css" id="layoutstyle">

</head>

<body class="theme-light io-jasmine" data-spy="scroll" data-target="#mainnav" data-offset="80">
    <!-- Header -->
    <header class="site-header is-sticky mobile-sticky" id="about">
        <!-- Place Particle Js -->
        <div id="particles-js" class="particles-container particles-js"></div>
        <!-- Navbar -->
        <div class="navbar navbar-expand-lg is-transparent" id="mainnav">
            <nav class="container">
                <a class="navbar-brand animated" data-animate="fadeInDown" data-delay=".65" href="/"><img
                        class="logo logo-dark" alt="logo" src="landingPageAssets/images/logo.png"><img
                        class="logo logo-light" alt="logo" src="landingPageAssets/images/logo-white.png"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle"><span
                        class="navbar-toggler-icon"><span class="fa fa-bars"></span></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="navbarToggle">
                    <ul class="navbar-btns animated remove-animation" data-animate="fadeInDown" data-delay="1.15">
                        <li class="nav-item"><a class="nav-link btn btn-sm btn-outline menu-link"
                                href="/login">LOGIN</a></li>
                    </ul>
                </div>
            </nav>
        </div>
        <!-- End Navbar -->
    </header>
    <!-- End Header -->

    <!-- Start Section -->
    <div class="section section-pad-md section-bg" id="howItWorks">
        <div class="ui-shape ui-shape-s1"></div>
        <div class="container">
            <div class="section-head-s8 text-center">
                <h2 class="section-title animated" data-animate="fadeInUp" data-delay=".1"> Frequently Asked Questions
                </h2>
            </div>

            <div class="row align-items-center">
                <div class="col-md-12">
                    <div class=" desktop-diagram animated" data-animate="fadeInUp" data-delay=".3">

                        <div class="row mt-5">
                            <div class="col-md-12">
                                <div class="accordion" id="accordionEx" role="tablist" aria-multiselectable="true">

                                    <!-- Accordion card -->
                                    <div class="card shadow-none">

                                        <!-- Card header -->
                                        <div class="card-header" role="tab" id="headingOne">
                                            <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx"
                                                href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                                <h5 class="panel-title mb-0">How can I pay for My Contract packages? <i
                                                        class="fa fa-angle-down rotate-icon"></i></h5>
                                            </a>
                                        </div>

                                        <!-- Card body -->
                                        <div id="collapseOne" class="collapse" role="tabpanel"
                                            aria-labelledby="headingOne" data-parent="#accordionEx" style="">
                                            <div class="card-body">Pay for your MyContract package using XDC. Create an
                                                account and proceed to our payment gateway by hitting 'Code My
                                                Contract'.</div>
                                        </div>
                                    </div>
                                    <!-- Accordion card -->

                                    <!-- Accordion card -->
                                    <div class="card shadow-none">

                                        <!-- Card header -->
                                        <div class="card-header" role="tab" id="headingTwo">
                                            <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx"
                                                href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                                <h5 class="panel-title mb-0">Which blockchains are supported? <i
                                                        class="fa fa-angle-down rotate-icon"></i></h5>
                                            </a>
                                        </div>

                                        <!-- Card body -->
                                        <div id="collapseTwo" class="collapse" role="tabpanel"
                                            aria-labelledby="headingTwo" data-parent="#accordionEx" style="">
                                            <div class="card-body">Ethereum's ERC 20 token creation conventions smart
                                                contract which facilitates crowdsale and related smart contracts
                                                execution on its networks.</div>
                                        </div>
                                    </div>
                                    <!-- Accordion card -->

                                    <!-- Accordion card -->
                                    <div class="card shadow-none">

                                        <!-- Card header -->
                                        <div class="card-header" role="tab" id="headingThree">
                                            <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx"
                                                href="#collapseThree" aria-expanded="false"
                                                aria-controls="collapseThree">
                                                <h5 class="panel-title mb-0">How do I know that My contract will be
                                                    secure? <i class="fa fa-angle-down rotate-icon"></i></h5>
                                            </a>
                                        </div>

                                        <!-- Card body -->
                                        <div id="collapseThree" class="collapse" role="tabpanel"
                                            aria-labelledby="headingThree" data-parent="#accordionEx" style="">
                                            <div class="card-body">Our contracts have been audited by reputed a smart
                                                contract auditing firm that found no vulnerabilities.</div>
                                        </div>
                                    </div>
                                    <!-- Accordion card -->

                                    <!-- Accordion card -->
                                    <div class="card shadow-none">

                                        <!-- Card header -->
                                        <div class="card-header" role="tab" id="headingFour">
                                            <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx"
                                                href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                                <h5 class="panel-title mb-0">Will a smart contract satisfy my use Case?
                                                    <i class="fa fa-angle-down rotate-icon"></i></h5>
                                            </a>
                                        </div>

                                        <!-- Card body -->
                                        <div id="collapseFour" class="collapse" role="tabpanel"
                                            aria-labelledby="headingFour" data-parent="#accordionEx" style="">
                                            <div class="card-body">To find out if a smart contract is a good fit for
                                                your business, reach out to us! We'll be happy to answer away any
                                                questions and help guide you through the process.</div>
                                        </div>
                                    </div>
                                    <!-- Accordion card -->

                                    <!-- Accordion card -->
                                    <div class="card shadow-none">

                                        <!-- Card header -->
                                        <div class="card-header" role="tab" id="headingFive">
                                            <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx"
                                                href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                                <h5 class="panel-title mb-0">How to test, deploy and go live with your
                                                    smart contract on the Ethereum Network (ERC 20)? <i
                                                        class="fa fa-angle-down rotate-icon"></i></h5>
                                            </a>
                                        </div>

                                        <!-- Card body -->
                                        <div id="collapseFive" class="collapse" role="tabpanel"
                                            aria-labelledby="headingFive" data-parent="#accordionEx">
                                            <div class="card-body">There are several ways to deploy the smart contract
                                                with common ones being
                                                <p><span>Truffle Framework</span> - Create a new folder for ERC20 token
                                                    inside private-truffle-project folder and place the smart contract
                                                    inside the contract folder. Compile the smart contract and deploy
                                                    using the command truffle.cmd </p>
                                                <p><span>Remix</span>– Compile the smart contract by pasting it into the
                                                    editor at remix.ethereum.org and use Web3 deploy option to connect
                                                    directly to an Ethereum node via HTTP. </p>
                                                <p><span>My Ether Wallet</span> ("MEW")– Deploy smart contract by
                                                    specifying Byte Code and Gas limit. Interact with Contract using
                                                    contract address and ABI / JSON Interface</p>
                                                <p><span>Node</span>- Ethereum Public network setup through a node &amp;
                                                    deploying smart contract by technical commands</p>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Accordion card -->
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <!-- .row  -->
        </div>
        <!-- .conatiner  -->
    </div>
    <!-- Start Section -->

    <!-- Start Section -->
    <div class="section section-pad section-bg" id="contact">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-lg-4 res-m-bttm-sm">
                    <div class="section-head-s6">
                        <h2 class="section-title-s8 animated" data-animate="fadeInUp" data-delay=".2">Get In Touch</h2>
                        <p class="animated" data-animate="fadeInUp" data-delay=".2">Any question? Reach out to us and
                            we'll
                            get back to you shortly.</p>
                    </div>
                    <ul class="contact-info-alt">
                        <li class="animated" data-animate="fadeInUp" data-delay=".4"><em
                                class="fa fa-envelope"></em><span>info@mycontract.co</span></li>
                    </ul>
                </div>
                <!-- .col -->
                <div class="col-lg-7">
                    <form id="contactUsForm"
                        class="form-message form-message-s2 form-message-s3 text-left show-error-hint animated"
                        data-animate="fadeInUp" data-delay=".6" action="javascript:void(0);">
                        <div class="form-results"></div>
                        <div class="input-field">
                            <input name="contact-name" type="text" placeholder="Your Name" class="input-border required"
                                aria-required="true" data-validation="custom"
                                data-validation-regexp="[a-zA-Z][a-zA-Z0-9-_]{3,32}">
                        </div>
                        <div class="input-field">
                            <input name="contact-email" type="email" data-validation="email" placeholder="Your Email"
                                class="input-border required email" aria-required="true">
                        </div>
                        <div class="input-field">
                            <textarea name="contact-message" placeholder="Your Message"
                                class="txtarea input-border required" aria-required="true" data-validation="custom"
                                data-validation-regexp="^([a-z]+)$"></textarea>
                        </div>
                        <!-- <input type="text" class="d-none" name="form-anti-honeypot" value=""> -->
                        <div class="input-field">
                            <button type="submit" class="btn">Submit</button>
                        </div>
                    </form>
                </div>
                <!-- .col -->
            </div>
        </div>

    </div>
    <!-- End Section -->



    <!-- Section -->
    <div class="section footer-scetion footer-lavendar">
        <div class="social-overlap">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-10">
                        <ul class="social-bar animated" data-animate="fadeInUp" data-delay=".1">
                            <li>Follow us</li>
                            <li><a href="https://facebook.com/XinFinHybridBlockchain" target="_blank"><em
                                        class="fab fa-facebook-f"></em></a></li>
                            <li><a href="https://twitter.com/XinFin_Official" target="_blank"><em
                                        class="fab fa-twitter"></em></a></li>
                            <li><a href="https://t.me/xinfin" target="_blank"><em class="fab fa-telegram"></em></a></li>
                            <li><a href="https://www.linkedin.com/company/xinfin" target="_blank"><em
                                        class="fab fa-linkedin"></em></a></li>
                            <li><a href="https://www.youtube.com/channel/UCQaL6FixEQ80RJC0B2egX6g" target="_blank"><em
                                        class="fab fa-youtube"></em></a></li>
                            <li><a href="https://xinfin-public.slack.com/" target="_blank"><em
                                        class="fab fa-slack"></em></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="gaps size-4x"></div>
        <div class="gaps size-2x d-none d-sm-block"></div>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-sm-12 col-lg-3 res-m-bttm-sm">
                    <a class="footer-brand animated" data-animate="fadeInUp" data-delay=".2"><img
                            class="logo logo-light" alt="logo" src="landingPageAssets/images/logo-full-white.png"></a>
                </div>
                <!-- .col  -->
                <div class="col-sm-3 col-lg-2 res-l-bttm-lg">
                    <ul class="link-widget one-column animated" data-animate="fadeInUp" data-delay=".3">
                        <li><a href="#about" class="menu-link">About Us</a></li>
                        <li><a href="#features" class="menu-link">Features</a></li>
                    </ul>
                </div>
                <!-- .col  -->
                <div class="col-sm-3 col-lg-2 res-l-bttm-lg">
                    <ul class="link-widget one-column animated" data-animate="fadeInUp" data-delay=".4">
                        <li><a href="#contact" class="menu-link">Contact</a></li>
                        <li><a href="https://mycontract.co/login" class="menu-link">Login</a></li>
                    </ul>
                </div>
                <!-- .col  -->
                <div class="col-sm-6 col-lg-5">
                    <p class="text-white mb-1">Keep in touch with the latest news</p>
                    <form id="subscribe-form" action="javascript:void(0);" class="subscription-form inline-form-s2">
                        <input type="text" name="youremail" class="input-round-s2 required email"
                            placeholder="Email address" data-validation="email">
                        <!-- <input type="text" class="d-none" name="form-anti-honeypot" value=""> -->
                        <button type="submit" class="btn btn-plane">Subscribe</button>
                        <div class="subscribe-results"></div>
                    </form>
                </div>
                <!-- .col  -->
            </div>
            <!-- .row  -->
        </div>
        <!-- .container  -->
        <hr class="hr-line">
        <!-- .hr-line  -->
        <div class="container">
            <div class="row">
                <div class="col-md-7"><span class="copyright-text">Copyright © 2018, MyContract. All Rights
                        Reserved.</span></div>
                <!-- .col  -->
                <div class="col-md-5 text-right mobile-left">
                    <ul class="footer-links">
                        <li><a href="#">Privacy Policy</a></li>
                        <li><a href="/termsConditions">Terms & Conditions</a></li>
                    </ul>
                </div>
                <!-- .col  -->
            </div>
            <!-- .row  -->
        </div>
        <!-- .container  -->
        <div class="gaps size-2x"></div>
    </div>



    <!-- Preloader !remove please if you do not want -->
    <div id="preloader">
        <div id="loader"></div>
        <div class="loader-section loader-top"></div>
        <div class="loader-section loader-bottom"></div>
    </div>
    <!-- Preloader End -->



    <!-- JavaScript (include all script here) -->
    <script src="landingPageAssets/js/jquery.bundle.js"></script>
    <script src="landingPageAssets/js/script.js"></script>
    <script src="landingPageAssets/js/toastr.min.js"></script>
    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/jquery-form-validator/2.3.26/jquery.form-validator.min.js"></script>
    <script>
        //contact form
        $.validate({
            form: '#contactUsForm',
            onError: function (form) {

            },
            onSuccess: function (form) {
                toastr.options = {
                    "closeButton": false,
                    "debug": false,
                    "newestOnTop": false,
                    "progressBar": false,
                    "positionClass": "toast-bottom-right",
                    "preventDuplicates": false,
                    "onclick": null,
                    "showDuration": "300",
                    "hideDuration": "1000",
                    "timeOut": "5000",
                    "extendedTimeOut": "1000",
                    "showEasing": "swing",
                    "hideEasing": "linear",
                    "showMethod": "fadeIn",
                    "hideMethod": "fadeOut"
                }
                var formData = new FormData(form[0]);
                console.log(formData)
                $.ajax({
                    url: '/contactUs',
                    type: 'POST',
                    data: formData,
                    success: function (data) {
                        toastr.info('Your Message Successfully sent to Administrator.')
                        $("#contactUsForm")[0].reset()
                    },
                    cache: false,
                    contentType: false,
                    processData: false
                });
                return false; // Will stop the submission of the form
            },
            onValidate: function ($form) {
                toastr.options = {
                    "closeButton": false,
                    "debug": false,
                    "newestOnTop": false,
                    "progressBar": false,
                    "positionClass": "toast-bottom-right",
                    "preventDuplicates": false,
                    "onclick": null,
                    "showDuration": "300",
                    "hideDuration": "1000",
                    "timeOut": "5000",
                    "extendedTimeOut": "1000",
                    "showEasing": "swing",
                    "hideEasing": "linear",
                    "showMethod": "fadeIn",
                    "hideMethod": "fadeOut"
                }
                toastr.error("Please enter valid data!", "Error")
            },
            onElementValidate: function (valid, $el, $form, errorMess) {
                // console.log('Input ' + $el.attr('name') + ' is ' + (valid ? 'VALID' : 'NOT VALID'));
            }
        });
        //subscribe form
        $.validate({
            form: '#subscribe-form',
            onError: function (form) {

            },
            onSuccess: function (form) {
                toastr.options = {
                    "closeButton": false,
                    "debug": false,
                    "newestOnTop": false,
                    "progressBar": false,
                    "positionClass": "toast-bottom-right",
                    "preventDuplicates": false,
                    "onclick": null,
                    "showDuration": "300",
                    "hideDuration": "1000",
                    "timeOut": "5000",
                    "extendedTimeOut": "1000",
                    "showEasing": "swing",
                    "hideEasing": "linear",
                    "showMethod": "fadeIn",
                    "hideMethod": "fadeOut"
                }
                var formData = new FormData(form[0]);
                console.log(formData)
                $.ajax({
                    url: '/subscribe',
                    type: 'POST',
                    data: formData,
                    success: function (data) {
                        toastr.info('Thank you.')
                        $("#subscribe-form")[0].reset()
                    },
                    cache: false,
                    contentType: false,
                    processData: false
                });
                return false; // Will stop the submission of the form
            },
            onValidate: function ($form) {
                toastr.options = {
                    "closeButton": false,
                    "debug": false,
                    "newestOnTop": false,
                    "progressBar": false,
                    "positionClass": "toast-bottom-right",
                    "preventDuplicates": false,
                    "onclick": null,
                    "showDuration": "300",
                    "hideDuration": "1000",
                    "timeOut": "5000",
                    "extendedTimeOut": "1000",
                    "showEasing": "swing",
                    "hideEasing": "linear",
                    "showMethod": "fadeIn",
                    "hideMethod": "fadeOut"
                }
                toastr.error("not a valid email !", "Email")
            },
            onElementValidate: function (valid, $el, $form, errorMess) {
                // console.log('Input ' + $el.attr('name') + ' is ' + (valid ? 'VALID' : 'NOT VALID'));
            }
        });
    </script>
</body>

</html>