<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head><style>
    body {
      padding-top: 80px;
      word-wrap: break-word;
      background-image: linear-gradient(180deg,rgba(53, 53, 138, 0.623), white); /* Standard syntax (must be last) */

    }

    
  </style>
  <body class="text-center"><br>
    <h1><%= title %></h1><br><br>
    <p>Welcome to <%= title %></p><br><br>
    <a href="/login" class="btn btn-danger"><span class="fa fa-sign-in"></span> Login</a>
    <a href="/auth/google" class="btn btn-danger"><span class="fa fa-google-plus"></span> Google</a>
    <a href="/auth/github" class="btn btn-danger"><span class="fa fa-github"></span> Github</a>
  </body>
</html>
