<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>API Reference</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <style>
    html,body {
      height: 97.6vh;
    }

    .container {
      position: relative;
      width: 100%;
      height: 100%;
    }

    .video {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      overflow: hidden;
    }
  </style>
</head>

<body>
  <div class="container">
    <iframe src="https://akshaypilankar.gitbook.io/mycontract" frameborder="0" class="video"></iframe>
  </div>
</body>

</html>