<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <a href="/userlogin" class="btn btn-danger"><span class="fa fa-sign-in"></span> Login</a>
    <a href="/auth/google" class="btn btn-danger"><span class="fa fa-google-plus"></span> Google</a>
    <a href="/auth/github" class="btn btn-danger"><span class="fa fa-github"></span> Github</a>
  </body>
</html>
