
<% layout('./userHeader') -%>
    <div class="container">
        <div class="row">





            <div class="col-lg-12 col-xs-12 col-sm-12">
                <div class="portlet light ">
                                            <div class="notepsc">
                            <br>
                            <br>
                            <p>Your KYC Is been Completed. We will protect your personal information.</p>
                            <br>
                            <br>
                        </div>

                </div>
            </div>
        </div>
    </div>
<!-- / latest exchanges -->

<!-- / footer -->
<!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
<a href="#" class="scrollup btn-default"><i class="fa fa-angle-up"></i></a>

<!-- Latest jQuery -->
<script src="https://www.whatshalal.io/front/assets1/js/jquery-1.12.4.min.js"></script>
<!-- Latest compiled and minified Bootstrap -->
<script src="https://www.whatshalal.io/front/assets1/bootstrap/js/bootstrap.min.js"></script>
<!-- owl-carousel min js  -->
<script src="https://www.whatshalal.io/front/assets1/owlcarousel/js/owl.carousel.min.js"></script>
<!-- magnific-popup min js  -->
<script src="https://www.whatshalal.io/front/assets1/js/magnific-popup.min.js"></script>
<!-- waypoints min js  -->
<script src="https://www.whatshalal.io/front/assets1/js/waypoints.min.js"></script>
<!-- parallax js  -->
<script src="https://www.whatshalal.io/front/assets1/js/parallax.js"></script>
<!-- countdown js -->
<script src="https://www.whatshalal.io/front/assets1/js/jquery.countdown.min.js"></script>
<!-- scripts js -->
<script src="https://www.whatshalal.io/front/assets1/js/jquery.dd.min.js"></script>
<!-- jquery.counterup.min js -->
<script src="https://www.whatshalal.io/front/assets1/js/jquery.counterup.min.js"></script>
<!-- scripts js -->
<script src="https://www.whatshalal.io/front/assets1/js/scripts.js"></script>

<script src="https://www.whatshalal.io/front/assets1/js/toastr-2.1.3.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/additional-methods.js"></script>


<script type="text/javascript">

    toastr.options = {
        "closeButton": true,
        "debug": false,
        "newestOnTop": false,
        "progressBar": true,
        "positionClass": "toast-bottom-right",
        "preventDuplicates": false,
        "onclick": null,
        "showDuration": "0",
        "hideDuration": "0",
        "timeOut": "0",
        "extendedTimeOut": "0",
        "showEasing": "swing",
        "hideEasing": "linear",
        "showMethod": "fadeIn",
        "hideMethod": "fadeOut"
    };
            toastr.success("Your Kyc Verification is completed.");


    function change_captcha()
    {
        $("#capimg").html('Loading....');
        $.post('https://jcash.jiojio.io/ajax/refresh_capcha',function(data,result)
        {
            $("#capimg").html(data);
        });
    }


</script>

<script>
    function change_captcha()
    {
        $("#capimg").html('Loading....');
        $.post('https://jcash.jiojio.io/ajax/refresh_capcha',function(data,result)
        {
            $("#capimg").html(data);
        });
    }


</script>
<script type="text/javascript">
    $('body').addClass('login');
    $('#root-view').addClass('auth-layout');
</script>

<style type="text/css">
    .login-box-body {
        position: relative;
    }
</style>
<script>
    $('body').addClass('page-header-fixed page-sidebar-closed-hide-logo page-container-bg-solid page-content-white');
    $('#root-view').addClass('page-wrapper');
    $(function () {
        //$.getScript('assets/bower_components/metronic/global/scripts/app.js').then(function () {
        //$.getScript('assets/bower_components/metronic/pages/scripts/dashboard.js');
        //$.getScript('assets/bower_components/metronic/layouts/layout/scripts/layout.js');
        //$.getScript('assets/bower_components/metronic/layouts/layout/scripts/demo.js');
        //$.getScript('assets/bower_components/metronic/layouts/global/scripts/quick-sidebar.js');
        //$.getScript('assets/bower_components/metronic/layouts/global/scripts/quick-nav.js');
        //})

    });
</script>

<script type="text/javascript">
    $("#subscribe_form").validate(
        {
            rules:
                {
                    email:{required:true,email:true},
                },
            messages:
                {
                    email: {required: 'Email is required', email: 'Enter valid email'},
                }
        });
</script><!--selectpicker ends-->
</body>
</html>
