
<% layout('./userHeader') -%>
    <div class="container">
        <div class="row">





            <div class="col-lg-12 col-xs-12 col-sm-12">
                <div class="portlet light ">
                                            <div class="notepsc">
                            <br>
                            <br>
                            <p>Your KYC Is been Completed. We will protect your personal information.</p>
                            <br>
                            <br>
                        </div>

                </div>
            </div>
        </div>
    </div>
<!-- / latest exchanges -->

<!-- / footer -->
<!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
<% include partials/icoScripts %>



</script>

<script>
    function change_captcha()
    {
        $("#capimg").html('Loading....');
        $.post('https://jcash.jiojio.io/ajax/refresh_capcha',function(data,result)
        {
            $("#capimg").html(data);
        });
    }


</script>
<script type="text/javascript">
    $('body').addClass('login');
    $('#root-view').addClass('auth-layout');
</script>

<style type="text/css">
    .login-box-body {
        position: relative;
    }
</style>
<script>
    $('body').addClass('page-header-fixed page-sidebar-closed-hide-logo page-container-bg-solid page-content-white');
    $('#root-view').addClass('page-wrapper');
    $(function () {
        //$.getScript('assets/bower_components/metronic/global/scripts/app.js').then(function () {
        //$.getScript('assets/bower_components/metronic/pages/scripts/dashboard.js');
        //$.getScript('assets/bower_components/metronic/layouts/layout/scripts/layout.js');
        //$.getScript('assets/bower_components/metronic/layouts/layout/scripts/demo.js');
        //$.getScript('assets/bower_components/metronic/layouts/global/scripts/quick-sidebar.js');
        //$.getScript('assets/bower_components/metronic/layouts/global/scripts/quick-nav.js');
        //})

    });
</script>

<script type="text/javascript">
    $("#subscribe_form").validate(
        {
            rules:
                {
                    email:{required:true,email:true},
                },
            messages:
                {
                    email: {required: 'Email is required', email: 'Enter valid email'},
                }
        });
</script><!--selectpicker ends-->
</body>
</html>
