<!DOCTYPE html>
<html lang="zxx" class="js">

<head>
    <meta charset="utf-8">
    <meta name="author" content="Softnio">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description"
        content="Gravitas - Gravitas International encompasses a pool of industry leaders and experts, able to craft a comprehensive ICO/STO from A to Z..">
    <meta name="Description"
        content="Gravitas International encompasses a pool of industry leaders and experts, able to craft a comprehensive ICO/STO from A to Z.. Create your Smart Contract without Coding.">
    <meta name="Keywords"
        content="Smart Contract, Smart Contract Creation, Token Offering, Cryptocurrency, Gravitas, Create Smart Contract, Smart Contract Generator, Blockchain Technology, My Smart Contract, Token, Blockchain, Token Offering Platform, Create Smart Contract Online, Technology, Token Generator, Ethereum, Bitcoin, Generate ERC20 token, Smart, Contract">

    <!-- Fav Icon -->
    <link rel="apple-touch-icon" sizes="57x57" href="landingPageAssets/images/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="landingPageAssets/images/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="landingPageAssets/images/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="landingPageAssets/images/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="landingPageAssets/images/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="landingPageAssets/images/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="landingPageAssets/images/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="landingPageAssets/images/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="landingPageAssets/images/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="landingPageAssets/images/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="landingPageAssets/images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="landingPageAssets/images/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="landingPageAssets/images/favicon/favicon-16x16.png">
    <link rel="manifest" href="landingPageAssets/images/favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="landingPageAssets/images/favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <!-- Goole Font -->
    <link href="https://fonts.googleapis.com/css?family=Muli:300,400,600,700,800,900" rel="stylesheet">

    <!-- Site Title  -->
    <title>Gravitas | Create your Smart Contract without Coding</title>

    <!-- Vendor Bundle CSS -->
    <link rel="stylesheet" href="landingPageAssets/css/vendor.bundle.css">
    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="landingPageAssets/css/style.css">
    <link rel="stylesheet" href="landingPageAssets/css/toastr.min.css">
    <link rel="stylesheet" href="landingPageAssets/css/theme.css" id="layoutstyle">

</head>

<body class="theme-light io-jasmine" data-spy="scroll" data-target="#mainnav" data-offset="80">
    <!-- Header -->
    <header class="site-header is-sticky mobile-sticky" id="about">
        <!-- Place Particle Js -->
        <div id="particles-js" class="particles-container particles-js"></div>
        <!-- Navbar -->
        <div class="navbar navbar-expand-lg is-transparent" id="mainnav">
            <nav class="container">
                <a class="navbar-brand animated" data-animate="fadeInDown" data-delay=".65" href="#"><img
                        class="logo logo-dark" alt="logo" src="landingPageAssets/images/logo.png"><img
                        class="logo logo-light" alt="logo" src="landingPageAssets/images/logo-white.png"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle"><span
                        class="navbar-toggler-icon"><span class="fa fa-bars"></span></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="navbarToggle">
                    <ul class="navbar-nav animated remove-animation" data-animate="fadeInDown" data-delay=".9">                        
                        <li class="nav-item"><a class="nav-link menu-link" href="#about">About Us</a></li>
                        <li class="nav-item"><a class="nav-link menu-link" href="#features">Features</a></li>
                        <li class="nav-item"><a class="nav-link menu-link" href="#contact">Contact</a></li>
                        <li class="nav-item"><a class="nav-link menu-link" href="https://docs.gravitas.international"target="_blank">Get Started</a></li>
                        <!--<li class="nav-item"><a class="nav-link menu-link" href=" https://docs.mycontract.co/Guide/reseller/">Storefront Reseller : Become a Reseller</a></li>-->
                    </ul>
                    <ul class="navbar-btns animated remove-animation" data-animate="fadeInDown" data-delay="1.15">
                        <li class="nav-item"><a class="nav-link btn btn-sm btn-outline menu-link" href="/login">LOGIN</a></li>
                    </ul>
                </div>
            </nav>
        </div>
        <!-- End Navbar -->
        <!-- Banner/Slider -->
        <div id="header" class="banner banner-full d-flex flex-column banner-jasmine">
            <div class="background-shape"></div>
            <div class="container zi6">
                <div class="banner-content">
                    <div class="row justify-content-center">
                        <div class="col-lg-12 text-center">
                            <div class="header-txt tab-center mobile-center">
                                <h1 class="animated" data-animate="fadeInUp" data-delay="1">Gravitas International encompasses a pool of industry leaders and experts, able to craft a comprehensive ICO/STO from A to Z.</h1>
                                <p class="lead animated" data-animate="fadeInUp" data-delay="1.20">Create your Smart
                                    Contract
                                    without Coding</p>
                                <ul class="btns mt-5 animated" data-animate="fadeInUp" data-delay="1.50"
                                    style="visibility: visible; animation-delay: 0.7s;">
                                    <li><a href="/login" class="btn">CODE YOUR CONTRACT</a></li>
                                </ul>
                            </div>
                        </div>
                        <!-- .col  -->
                    </div>
                    <!-- .row  -->
                </div>
                <!-- .banner-content  -->
            </div>
            <!-- .container  -->
        </div>
        <!-- End Banner/Slider -->
    </header>
    <!-- End Header -->

    <!-- Start Section -->
    <div class="section section-pad-md section-bg-packages">
        <div class="container">
            <div class="section-head-s8 text-center">
                <h2 class="section-title text-white animated" data-animate="fadeInUp" data-delay=".1">Packages Provided</h2>
                <p class="animated text-white animated" data-animate="fadeInUp" data-delay=".2">Decentralized full cycle Platform for Smart Contracts Creation, Deployment, Interaction</p>
            </div>

            <div class="gaps size-2x"></div>

            <div class="row flex-row justify-content-center">
                <div class="col-md-4 res-m-bttm">
                    <div class="features-box-s4 animated" data-animate="fadeInUp" data-delay=".4">
                        <div class="features-icon-s4"><img src="landingPageAssets/images/packages/standard.png" alt="icon"></div>
                        <h5 class="features-title-s4">Standard Package</h5>
                        <ul class="prblm-points">
                            <li>Industry standard Smart Contract Creation</li>
                            <li>Various Ethereum Networks as well as XinFin's Private Network option for Deployment</li>
                            <li>Hassle free Smart Contract Interactions</li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4 res-m-bttm">
                    <div class="features-box-s4 animated" data-animate="fadeInUp" data-delay=".5">
                        <div class="features-icon-s4"><img src="landingPageAssets/images/packages/premium.png" alt="icon"></div>
                        <h5 class="features-title-s4">Premium Package</h5>
                        <ul class="prblm-points">
                            <li>All the facilities as per Standard Package</li>
                            <!--<li>Initial Token Offering Platform</li>-->
                            <li>KYC and AML Services</li>
                            <li>Token Wallet Platform</li>
                            <li>Bitcoin & Ether support</li>
                        </ul>
                    </div>
                </div>
                <!--<div class="col-md-4">
                    <div class="features-box-s4 animated" data-animate="fadeInUp" data-delay=".6">
                        <div class="features-icon-s4"><img src="landingPageAssets/images/packages/custom.png" alt="icon"></div>
                        <h5 class="features-title-s4">Custom Package</h5>
                        <ul class="prblm-points">
                            <li>Custom Smart Contract logic</li>
                            <li>Custom Initial Token Offering Platform</li>
                            <li>KYC and AML Service</li>
                            <li>Token Wallet Platform</li>
                            <li>Bitcoin, Ether and various Standard Crypto Support</li>
                        </ul>
                    </div>
                </div>-->
            </div>
        </div>
        <!-- .conatiner  -->

    </div>
    <!-- Start Section -->

    <!-- Start Section -->
    <div class="section section-pad-md section-bg" id="howItWorks">
        <div class="ui-shape ui-shape-s1"></div>
        <div class="container">
            <div class="section-head-s8 text-center">
                <h2 class="section-title animated" data-animate="fadeInUp" data-delay=".1">How it Works</h2>
            </div>

            <div class="row align-items-center">
                <div class="col-md-12">
                    <div class="text-center desktop-diagram animated" data-animate="fadeInUp" data-delay=".3">
                        <img src="landingPageAssets/images/howitworks-desktop.png" alt="graph">
                    </div>
                    <div class="text-center ipad-diagram animated" data-animate="fadeInUp" data-delay=".3">
                        <img src="landingPageAssets/images/howitworks-ipad.png" alt="graph">
                    </div>
                    <div class="text-center mobile-diagram animated" data-animate="fadeInUp" data-delay=".3">
                        <img src="landingPageAssets/images/howitworks-mobile.png" alt="graph">
                    </div>
                </div>
            </div>
            <!-- .row  -->
        </div>
        <!-- .conatiner  -->
    </div>
    <!-- Start Section -->


    <!-- Start Section -->
    <div class="section section-pad-md section-bg-alt">
        <div class="container">
            <div class="row align-items-center justify-content-between">
                <div class="col-md-6">
                    <div class="text-block">
                        <h2 class="animated" data-animate="fadeInUp" data-delay=".2">What are Smart Contracts?</h2>
                        <p class="animated" data-animate="fadeInUp" data-delay=".3">Smart Contracts help you Exchange Money, Property, Shares or anything of value in a Transparent, Conflict-free way without the intervention of a middle party.</p>
                        <!--<a href="https://medium.com/xinfin/mycontract-smart-contracts-tokens-issuing-asset-tokenization-and-icos-made-easy-1879d523341" target="_blank" class="btn animated" data-animate="fadeInUp" data-delay=".5">Read More</a>-->
                    </div>
                </div>
                <!-- .col  -->
                <div class="col-md-5">
                    <div class="res-m-btm animated" data-animate="fadeInUp" data-delay=".3"><img
                            src="landingPageAssets/images/smart-contract.png" alt="Smart Contract"></div>
                </div>
                <!-- .col  -->
            </div>
            <!-- .row  -->
        </div>
        <!-- .conatiner  -->
    </div>
    <!-- Start Section -->

    <!-- Start Section -->
    <div class="section section-pad-md section-bg" id="features">
        <div class="container">
            <div class="section-head-s8 text-center">
                <h2 class="section-title animated" data-animate="fadeInUp" data-delay=".1">Platform Features</h2>
                <p class="animated animated" data-animate="fadeInUp" data-delay=".2">Creating and managing smart
                    contracts
                    without any programming skills</p>
            </div>

            <div class="gaps size-1x"></div>

            <div class="row flex-row justify-content-center">
                <div class="col-md-3 res-m-bttm">
                    <div class="features-box-s3 animated" data-animate="fadeInUp" data-delay=".4">
                        <div class="features-icon-s3"><img src="landingPageAssets/images/features/token-contract.png" alt="icon"></div>
                        <h5 class="features-title-s3">Token Contract</h5>
                        <p>Token Contract ERC20 - Used for token Smart Contracts,  ERC223 - Provides extra safety during token transfers, STO</p>
                    </div>
                </div>
                <div class="col-md-3 res-m-bttm">
                    <div class="features-box-s3 animated" data-animate="fadeInUp" data-delay=".5">
                        <div class="features-icon-s3"><img src="landingPageAssets/images/features/crowdsale-contract.png" alt="icon"></div>
                        <h5 class="features-title-s3">Crowdsale Contract</h5>
                        <p>This is an audited smart contract with additional features For eg, Bonus rates, Send tokens to Investor etc.</p>
                    </div>
                </div>
                <div class="col-md-3 res-m-bttm-sm">
                    <div class="features-box-s3 animated" data-animate="fadeInUp" data-delay=".6">
                        <div class="features-icon-s3"><img src="landingPageAssets/images/features/easy-deployment.png" alt="icon"></div>
                        <h5 class="features-title-s3">Easy Deployment</h5>
                        <p>Automatic Deployment with various ways to access wallets. This feature can enable easy smart contract interaction with built-in interaction platform.</p>
                    </div>
                </div>
				<div class="col-md-3">
                    <div class="features-box-s3 animated" data-animate="fadeInUp" data-delay=".9">
                        <div class="features-icon-s3"><img src="landingPageAssets/images/features/currency-support.png" alt="icon"></div>
                        <h5 class="features-title-s3">Currency Support</h5>
                        <p>Ethereum and Bitcoin Support, Top 10 Cryptocurrency Support in near future and Secured Gateway for Keystore handling & withdrawal.</p>
                    </div>
                </div>
            </div>

            <!--<div class="gaps size-4x"></div>
            <div class="row flex-row justify-content-center">
                <div class="col-md-4 res-m-bttm">
                    <div class="features-box-s3 animated" data-animate="fadeInUp" data-delay=".7">
                        <div class="features-icon-s3"><img src="landingPageAssets/images/features/contract-interaction.png" alt="icon"></div>
                        <h5 class="features-title-s3">Contract Interaction</h5>
                        <p>This feature can enable easy smart contract interaction with built-in interaction platform.</p>
                    </div>
                </div>
                <div class="col-md-4 res-m-bttm">
                    <div class="features-box-s3 animated" data-animate="fadeInUp" data-delay=".8">
                        <div class="features-icon-s3"><img src="landingPageAssets/images/features/token-offering.png" alt="icon"></div>
                        <h5 class="features-title-s3">Token Offering Platform</h5>
                        <p>This platform provides a convenient way to conduct initial coin offering with admin dashboard for KYC and AML support.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="features-box-s3 animated" data-animate="fadeInUp" data-delay=".9">
                        <div class="features-icon-s3"><img src="landingPageAssets/images/features/currency-support.png" alt="icon"></div>
                        <h5 class="features-title-s3">Currency Support</h5>
                        <p>Ethereum and Bitcoin Support, Top 10 Cryptocurrency Support in near future and Secured Gateway for Keystore handling & withdrawal.</p>
                    </div>
                </div>
            </div>-->
        </div>
    </div>
    <!-- End Section -->

    <!-- Start Section -->
    <div class="section section-pad-md section-bg-alt">
        <div class="container">
            <div class="row align-items-center justify-content-between">
                <div class="col-md-5 order-md-first order-last">
                    <div class="res-m-btm animated" data-animate="fadeInUp" data-delay=".1"><img
                            src="landingPageAssets/images/additional-features.png" alt="Future Additions"></div>
                </div>
                <!-- .col  -->
                <div class="col-md-6">
                    <div class="text-block">
                        <h2 class="animated" data-animate="fadeInUp" data-delay=".2">Future Additions</h2>
                        <p class="animated" data-animate="fadeInUp" data-delay=".3">Smart Contracts calling system ensures that everything works exactly how you have planned.</p>
                        <div class="text-block">
                            <ul>
                                <li class="animated" data-animate="fadeInUp" data-delay=".5">Wallet facility in Platform</li>
                                <li class="animated" data-animate="fadeInUp" data-delay=".6">ERC 888 Support</li>
                                <li class="animated" data-animate="fadeInUp" data-delay=".7">Top 10 Crypto Support</li>
                                <li class="animated" data-animate="fadeInUp" data-delay=".8">Other Platform and Protocol
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- .col  -->
            </div>
            <!-- .row  -->
        </div>
    </div>
    <!-- End Section -->

    <!-- Start Section -->
    <div class="section section-pad section-bg" id="contact">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-lg-4 res-m-bttm-sm">
                    <div class="section-head-s6">
                        <h2 class="section-title-s8 animated" data-animate="fadeInUp" data-delay=".2">Get In Touch</h2>
                        <p class="animated" data-animate="fadeInUp" data-delay=".2">Any question? Reach out to us and
                            we'll
                            get back to you shortly.</p>
                    </div>
                    <ul class="contact-info-alt">
                        <li class="animated" data-animate="fadeInUp" data-delay=".4"><em
                                class="fa fa-envelope"></em><span>tech@gravitas.international</span></li>
                    </ul>
                </div>
                <!-- .col -->
                <div class="col-lg-7">
                    <form class="form-message form-message-s2 form-message-s3 text-left show-error-hint animated"
                        data-animate="fadeInUp" data-delay=".6" name="contactForm" id="contactUsForm"
                        action="javascript:void(0);" onSubmit="signIn()">
                        <div class="form-results"></div>
                        <div class="input-field">
                            <input name="contactName" type="text" placeholder="Your Name" data-validation="custom"
                                data-validation-regexp="[a-zA-Z][a-zA-Z0-9-_]{3,32}" class="input-border required"
                                aria-required="true">
                        </div>
                        <div class="input-field">
                            <input name="contactEmail" type="email" data-validation="email" placeholder="Your Email"
                                class="input-border required email" aria-required="true">
                        </div>
                        <div class="input-field">
                            <textarea name="contactMessage" placeholder="Your Message"
                                class="txtarea input-border required" data-validation="length"
                                data-validation-length="10-200" aria-required="true"></textarea>
                        </div>
                        <!-- <input type="text" class="d-none" name="form-anti-honeypot" value=""> -->
                        <div class="input-field">
                            <button type="submit" class="btn">Submit</button>
                        </div>
                    </form>
                </div>
                <!-- .col -->
            </div>
        </div>

    </div>
    <!-- End Section -->



    <!-- Section -->
    <div class="section footer-scetion footer-lavendar">
        <div class="social-overlap">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-10">
                        <ul class="social-bar animated" data-animate="fadeInUp" data-delay=".1">
                            <li>Follow us</li>
                            <li><a href="https://www.facebook.com/Gravitas-International-1946400605478136/" target="_blank"><em class="fab fa-facebook-f"></em></a></li>
                            <li><a href="https://twitter.com/" target="_blank"><em class="fab fa-twitter"></em></a></li>
                            <li><a href="https://t.me/GravitasOfficial" target="_blank"><em class="fab fa-telegram"></em></a></li>
                            <li><a href="https://www.linkedin.com/company/gravitas-international" target="_blank"><em class="fab fa-linkedin"></em></a></li>
                            <li><a href="https://www.youtube.com/" target="_blank"><em class="fab fa-youtube"></em></a></li>
                            <li><a href="https://slack.com/" target="_blank"><em class="fab fa-slack"></em></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="gaps size-1x"></div>
        <div class="gaps size-4x d-none d-sm-block"></div>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-sm-12 col-lg-3 res-m-bttm-sm">
                    <a class="footer-brand animated" data-animate="fadeInUp" data-delay=".2"><img class="logo logo-light" alt="logo" src="landingPageAssets/images/logo-full-white.png"></a>
                </div>
                <!-- .col  -->
                <div class="col-sm-3 col-lg-2 res-l-bttm-lg">
                    <ul class="link-widget one-column animated" data-animate="fadeInUp" data-delay=".3">
                        <!--<li><a class="menu-link" href="https://docs.gravitas.international/Media/Articles/">Media</a></li>-->
                        <li><a href="#about" class="menu-link">About Us</a></li>
                        <li><a href="#features" class="menu-link">Features</a></li>
						<li><a href="#contact" class="menu-link">Contact</a></li>
                    </ul>
                </div>
                <!-- .col  -->
                <div class="col-sm-3 col-lg-2 res-l-bttm-lg">
                    <ul class="link-widget one-column animated" data-animate="fadeInUp" data-delay=".4">
                        <li><a class="menu-link" href="https://docs.gravitas.international/faq/faq/">FAQs</a></li>
                    </ul>
                </div>
                <!-- .col  -->
                <div class="col-sm-6 col-lg-5">
                    <p class="text-white mb-1">Keep in touch with the latest news</p>
                    <form action="javascript:void(0);" name="subscribeForm" class="subscription-form inline-form-s2">
                        <input type="text" name="subscriberEmail" id="subscriberEmail" class="input-round-s2 required email" placeholder="Email address"/>
                        <button type="submit" class="btn btn-plane">Subscribe</button>
                    </form>
                </div>
                <!-- .col  -->
            </div>
            <!-- .row  -->
        </div>
        <!-- .container  -->
        <hr class="hr-line">
        <!-- .hr-line  -->
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center"><span class="copyright-text">Copyright © 2019, Gravitas International. All Rights Reserved.</span></div>
                <!-- .col  -->
                <!--<div class="col-md-5 text-right mobile-left">
                    <ul class="footer-links">
                        <li><a href="/privacyPolicy">Privacy Policy</a></li>
                        <li><a href="/termsConditions">Terms & Conditions</a></li>
                    </ul>
                </div>-->
                <!-- .col  -->
            </div>
            <!-- .row  -->
        </div>
        <!-- .container  -->
        <div class="gaps size-2x"></div>
    </div>



    <!-- Preloader !remove please if you do not want -->
    <div id="preloader">
        <div id="loader"></div>
        <div class="loader-section loader-top"></div>
        <div class="loader-section loader-bottom"></div>
    </div>
    <!-- Preloader End -->



    <!-- JavaScript (include all script here) -->
    <script src="landingPageAssets/js/jquery.bundle.js"></script>
    <script src="landingPageAssets/js/script.js"></script>
    <script src="landingPageAssets/js/toastr.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.17.0/dist/jquery.validate.js"></script>
     
    <script>
         $(function () {
            $("form[name='contactForm']").validate({
                rules: {
                    contactName: {
                        required: true,
                        minlength: 3
                    },
                    contactEmail: {
                        required: true,
                        email: true
                    },
                    contactMessage: {
                        required: true,
                        minlength: 10
                    }
                },
                messages: {
                    contactName: {
                        required: "Please provide your full name",
                        minlength: "Your name must be at least 3 characters long"
                    },
                    contactEmail: "Please enter a valid email address",
                    contactMessage: "Message must be at least 10 characters long"
                },
                submitHandler: function (form) {
                    toastr.options = {
                        "closeButton": false,
                        "debug": false,
                        "newestOnTop": false,
                        "progressBar": false,
                        "positionClass": "toast-bottom-right",
                        "preventDuplicates": false,
                        "onclick": null,
                        "showDuration": "300",
                        "hideDuration": "1000",
                        "timeOut": "5000",
                        "extendedTimeOut": "1000",
                        "showEasing": "swing",
                        "hideEasing": "linear",
                        "showMethod": "fadeIn",
                        "hideMethod": "fadeOut"
                    }
                    toastr.info('Your Message Successfully sent to Administrator.')
                    var formData = new FormData(form);
                    console.log(formData)
                    $.ajax({
                        url: '/contactUs',
                        type: 'POST',
                        data: formData,
                        success: function (data) {
                        },
                        cache: false,
                        contentType: false,
                        processData: false
                    });
                    $("#contactUsForm")[0].reset()
                }
            });
        });
        $(function () {
            $("form[name='subscribeForm']").validate({
                rules: {
                    subscriberEmail: {
                        required: true,
                        email: true
                    },
                },
                invalidHandler: function (form, validator) {
                    toastr.options = {
                        "closeButton": false,
                        "debug": false,
                        "newestOnTop": false,
                        "progressBar": false,
                        "positionClass": "toast-bottom-right",
                        "preventDuplicates": false,
                        "onclick": null,
                        "showDuration": "300",
                        "hideDuration": "1000",
                        "timeOut": "5000",
                        "extendedTimeOut": "1000",
                        "showEasing": "swing",
                        "hideEasing": "linear",
                        "showMethod": "fadeIn",
                        "hideMethod": "fadeOut"
                    }
                    toastr.error("not a valid email !", "Email")

                },
                submitHandler: function (form) {
                    toastr.options = {
                        "closeButton": false,
                        "debug": false,
                        "newestOnTop": false,
                        "progressBar": false,
                        "positionClass": "toast-bottom-right",
                        "preventDuplicates": false,
                        "onclick": null,
                        "showDuration": "300",
                        "hideDuration": "1000",
                        "timeOut": "5000",
                        "extendedTimeOut": "1000",
                        "showEasing": "swing",
                        "hideEasing": "linear",
                        "showMethod": "fadeIn",
                        "hideMethod": "fadeOut"
                    }
                    var formData = new FormData(form[0]);
                    console.log(formData)
                    $.ajax({
                        url: '/subscribe',
                        type: 'POST',
                        data: formData,
                        success: function (data) {
                            toastr.info('Thank you.')
                        },
                        cache: false,
                        contentType: false,
                        processData: false
                    });
                    $("form[name='subscribeForm']")[0].reset()
                }
            });
        });
    </script>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.2/css/toastr.min.css">
    <!-- <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script> -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.2/js/toastr.min.js"></script>
    <%- req.toastr.render() %>  
</body>

</html>