<!DOCTYPE html>
<html lang="eng">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="description" content="Develop a common framework platform on XDC Network nodes to run decentralized web3 APIs 24x7 without any centralized failure. Bring more use-cases to blockchains." />
        <meta name="keywords" content="Secure, Scalable Blockchain-Agnostic Decentralized Oracle, XDC Network, Connect smart contracts with any API, Get Price/Data Feed, Start Your Price/Data Feed" />

        <!-- Title -->
        <title>MyContract - Secure, Scalable Blockchain-Agnostic Decentralized Oracle</title>

        <!-- Favicon -->
        <link rel="apple-touch-icon" sizes="57x57" href="img/favicon/apple-icon-57x57.png" />
        <link rel="apple-touch-icon" sizes="60x60" href="img/favicon/apple-icon-60x60.png" />
        <link rel="apple-touch-icon" sizes="72x72" href="img/favicon/apple-icon-72x72.png" />
        <link rel="apple-touch-icon" sizes="76x76" href="img/favicon/apple-icon-76x76.png" />
        <link rel="apple-touch-icon" sizes="114x114" href="img/favicon/apple-icon-114x114.png" />
        <link rel="apple-touch-icon" sizes="120x120" href="img/favicon/apple-icon-120x120.png" />
        <link rel="apple-touch-icon" sizes="144x144" href="img/favicon/apple-icon-144x144.png" />
        <link rel="apple-touch-icon" sizes="152x152" href="img/favicon/apple-icon-152x152.png" />
        <link rel="apple-touch-icon" sizes="180x180" href="img/favicon/apple-icon-180x180.png" />
        <link rel="icon" type="image/png" sizes="192x192" href="img/favicon/android-icon-192x192.png" />
        <link rel="icon" type="image/png" sizes="32x32" href="img/favicon/favicon-32x32.png" />
        <link rel="icon" type="image/png" sizes="96x96" href="img/favicon/favicon-96x96.png" />
        <link rel="icon" type="image/png" sizes="16x16" href="img/favicon/favicon-16x16.png" />
        <link rel="manifest" href="img/favicon/manifest.json" />
        <meta name="msapplication-TileColor" content="#ffffff" />
        <meta name="msapplication-TileImage" content="img/favicon/ms-icon-144x144.png" />
        <meta name="theme-color" content="#ffffff" />

        <!-- Core Stylesheet -->
        <link rel="stylesheet" href="css/style.css" />

        <!-- Responsive Stylesheet -->
        <link rel="stylesheet" href="css/responsive.css" />
    </head>

    <body class="light-version">
        <!-- Preloader -->
        <div id="preloader">
            <div class="preload-content">
                <div id="dream-load"></div>
            </div>
        </div>

        <!-- Header -->
        <header class="header-nav">
            <nav class="navbar navbar-expand-lg">
                <div class="container">
                    <!-- Brand -->
                    <a class="navbar-brand" href="/"><img src="img/mycontract-logo.png" alt="MyContract Logo" /></a>
                    <!-- / -->

                    <!-- Mobile Toggle -->
                    <!--<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
                        <span></span>
                    </button>-->
                    
                    <button class="navbar-toggler first-button" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
                        <div class="animated-icon1"><span></span><span></span><span></span></div>
                    </button>
                    <!-- / -->

                    <!-- Top Menu -->
                    <div class="collapse navbar-collapse justify-content-end" id="navbar">
                        <ul class="navbar-nav ml-auto align-items-lg-center">
                            <li><a href="https://apidocs.xinfin.network/" target="_blank">Node HTTP API</a></li>
                            <li class="m-dropdown m-dropdown-multilevel">
                                <a class="nav-link" href="">SDK Frontend APIs</a><i class="fa fa-angle-down m-dropdown-toggle"></i>
                                <ul class="m-dropdown-menu">
                                    <li><a href="https://apidocs.xinfin.network/docs/?javascript#sha3request" target="_blank">JavaScript</a></li>
                                    <li><a href="https://apidocs.xinfin.network/docs/?python#sha3request" target="_blank">Python</a></li>
                                    <li><a href="https://apidocs.xinfin.network/docs/?go#sha3request" target="_blank">Go</a></li>
                                    <li><a href="https://apidocs.xinfin.network/docs/?java#sha3request" target="_blank">Java</a></li>
                                    <li><a href="https://apidocs.xinfin.network/docs/?ruby#sha3request" target="_blank">Ruby</a></li>
                                </ul>
                            </li>
                            <li><a class="nav-link" href="https://mycontract.co/#sdkfordevelopers">SDK For Developers</a></li>
                            <li><a href="providers" class="btn nav-link-btn login-btn"><i class="fa fa-pencil"></i> Build with Blockchain</a></li>
                        </ul>
                    </div>
                    <!-- / -->
                </div>
                <!-- Container -->
            </nav>
            <!-- Navbar -->
        </header>
        <!-- Header End -->

        <!-- Header Area Start 
    	<header class="header-area fadeInDown" data-wow-delay="0.2s">
        <div class="classy-nav-container light breakpoint-off">
            <div class="container">
                <nav class="classy-navbar light justify-content-between" id="dreamNav">
                    <a class="nav-brand light" href="/"><img src="img/mycontract-logo.png" alt="MyContract Logo"></a>
                    <div class="classy-navbar-toggler demo">
                        <span class="navbarToggler"><span></span><span></span><span></span></span>
                    </div>
                    <div class="classy-menu">
                        <div class="classycloseIcon">
                            <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                        </div>
                        <div class="classynav">
                            <ul id="nav">
                                <li><a href="https://apidocs.xinfin.network/" target="_blank">Node HTTP API</a></li>
                                <li><a href="#" target="_blank">SDK Frontend APIs</a></li>
                                <li><a href="#sdkfordevelopers">SDK for Developers</a></li>
                            </ul>
                            <a href="providers.html" class="btn login-btn ml-15"><i class="fa fa-pencil"></i> Build with Blockchain</a>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    	</header>
    	<!-- Header Area Ends -->

        <!-- Data/Feed Blockchain Integration Framework Starts -->
        <section class="about-us-area provider special section-padding-200-50 clearfix">
            <div class="container">
                <div class="row">
                    <div class="col-lg-10 offset-lg-1">
                        <div class="section-heading text-center">
                            <h2 class="wow fadeInUp" data-wow-delay="0.2s">Data/Feed Blockchain Integration Framework (Using Chainlink framework)</h2>
                            <p class="mt-20 wow fadeInUp" data-wow-delay="0.3s">Overview to give the necessary guidance to integrate the Chainlink protocol on XDC Blockchain.</p>
                        </div>
                    </div>
                </div>
                
            	<div class="row align-items-center">
                    <div class="col-12 col-lg-12">
                        
                        <div class="content-inner-page linkbreak">
                        	<div class="wow fadeInUp" data-wow-delay="0.4s">
                                <h4>Consumer Contract and Chainlink client</h4>
                                <p>These contracts implement the interface which allows to send Chainlink requests for a node operator to process them.</p>
                                <p><a href="https://github.com/smartcontractkit/chainlink/blob/develop/evm-contracts/src/v0.4/tests/Consumer.sol" target="_blank">https://github.com/smartcontractkit/chainlink/blob/develop/evm-contracts/src/v0.4/tests/Consumer.sol</a></p>
                            </div>
                            
                            <hr class="mt-4 mb-4">
                            
                            <div class="wow fadeInUp" data-wow-delay="0.5s">
                                <h4>Chainlink Node</h4>
                                <h6 class="mb-4">Chainlink Adapter</h6>
                                <p>The Chainlink adapter will allow the node directly write answers on-chain</p>
                                <p>Example implementation: <a href="https://github.com/smartcontractkit/substrate-adapter" target="_blank">https://github.com/smartcontractkit/substrate-adapter</a></p>
                                <p>Here is the Various links for the tools and API <a href="https://mycontract.co/index.html#sdkfordevelopers" target="_blank">XDC Network SDK for Developers</a></p>
                            </div>
                            
                            <hr class="mt-4 mb-4">
                            
                            <div class="wow fadeInUp" data-wow-delay="0.6s">
                                <h4>Chainlink Initiator</h4>
                                <p>The Chainlink initiator allows the node to monitor the on-chain event logs. When a Chainlink request is detected on the blockchain, the external initiator will call the Chainlink node for the job that was requested.<br>
                                <a href="https://github.com/smartcontractkit/external-initiator" target="_blank">https://github.com/smartcontractkit/external-initiator</a></p>
                                <p><strong>Example implementation</strong></p>
                                <p><a href="https://github.com/smartcontractkit/external-initiator/blob/master/blockchain/substrate.go" target="_blank">https://github.com/smartcontractkit/external-initiator/blob/master/blockchain/substrate.go</a></p>
                                <p><a href="https://github.com/smartcontractkit/external-initiator/wiki/Mock-Blockchain-Client" target="_blank">https://github.com/smartcontractkit/external-initiator/wiki/Mock-Blockchain-Client</a></p>
                            </div>
                            
                            <hr class="mt-4 mb-4">
                            
                            <div class="wow fadeInUp" data-wow-delay="0.7s">
                                <h4>Workflow Diagram</h4>
                                <p><a href="https://www.figma.com/proto/of57fOiE51yoE65nphfayH/Chainlink-Sample-Request-Diagram?node-id=3%3A3&scaling=min-zoom" target="_blank">https://www.figma.com/proto/of57fOiE51yoE65nphfayH/Chainlink-Sample-Request-Diagram?node-id=3%3A3&scaling=min-zoom</a></p>
                                <p><strong>ChainlinkExample (client):</strong></p>
                                <p><a href="https://gist.github.com/samsondav/4a0ca9a20afcd2d3e670eeb87780f23a" target="_blank">https://gist.github.com/samsondav/4a0ca9a20afcd2d3e670eeb87780f23a</a></p>
                                <p><strong>Deployed at:</strong></p>
                                <p><a href="https://ropsten.etherscan.io/address/0x905e88949b43e1a453d6d5755436ffb243792e89" target="_blank">https://ropsten.etherscan.io/address/0x905e88949b43e1a453d6d5755436ffb243792e89</a></p>
                            </div>
                            
                            <hr class="mt-4 mb-4">
                            
                            <div class="wow fadeInUp" data-wow-delay="0.8s">
                                <h4>Oracle (node)</h4>
                                <p><a href="https://gist.github.com/samsondav/4cc6c6a54c341daf3f9a50957a241a9e" target="_blank">https://gist.github.com/samsondav/4cc6c6a54c341daf3f9a50957a241a9e</a></p>
                                <p>Deployed at:</p>
                                <p><a href="https://ropsten.etherscan.io/address/0x6c7141735dad1031a0a0417d521d0c0d195284aa" target="_blank">https://ropsten.etherscan.io/address/0x6c7141735dad1031a0a0417d521d0c0d195284aa</a></p>
                            </div>
                            
                            <p class="mt-4 wow fadeInUp" data-wow-delay="0.9s">Please <a href="contact">Contact us</a> if you like to Start Data Feed/Price Feed using XDC Blockchain Network.</p>
                            
                        </div>
                        </div>
                    </div>
                    
                    <div class="row mt-5 align-items-center">
                    <div class="col-12 col-lg-12">
                        <div class="description wow fadeInUp" data-wow-delay="1s">
                            <div class="text pl-0 linkbreak">
                                <h5><strong>Example of Smart Contract deploy on XDC testNet Blockchain link</strong></h5>
                                <p><a href="https://apothem.network/" target="_blank">https://apothem.network/</a></p>
                                
                                <p class="mt-4"><strong>1. Oracle Address -</strong> xdc5ee4ba477eb7a034426de7daea41410880c84d69</p>
                                <p>(<a href="https://explorer.apothem.network/addr/xdc5ee4ba477eb7a034426de7daea41410880c84d69" target="_blank">https://explorer.apothem.network/addr/xdc5ee4ba477eb7a034426de7daea41410880c84d69</a>)</p>
                                
                                <p class="mt-4"><strong>2. Link Token Address -</strong> xdc8d2e1dff891a93e342de290f0c8196570c3931fd</p>
                                <p>(<a href="https://explorer.apothem.network/addr/xdc8d2e1dff891a93e342de290f0c8196570c3931fd" target="_blank">https://explorer.apothem.network/addr/xdc8d2e1dff891a93e342de290f0c8196570c3931fd</a>)</p>
                                
                                <p class="mt-4"><strong>3. Owner address -</strong> xdc7d831bc9b77d1d5f60e68dcc174f313f575ca1c4</p>
                                <p>(<a href="https://explorer.apothem.network/addr/xdc7d831bc9b77d1d5f60e68dcc174f313f575ca1c4" target="_blank">https://explorer.apothem.network/addr/xdc7d831bc9b77d1d5f60e68dcc174f313f575ca1c4</a>)</p>
                                
                                <p class="mt-4"><strong>4. Node Operator Address ( Simple ) -</strong> 0xe98f83692FDbD667c348f17AfBb1357E6D281B17</p>
                                <p>(<a href="https://explorer.apothem.network/addr/0xe98f83692fdbd667c348f17afbb1357e6d281b17" target="_blank">https://explorer.apothem.network/addr/0xe98f83692fdbd667c348f17afbb1357e6d281b17</a>)</p>
                                
                                <p class="mt-4"><strong>5. Pointer Address -</strong> xdc6ed3cdeea5849c534fda3c7a1dfef817204c11e2</p>
                                <p>(<a href="https://explorer.apothem.network/addr/xdc6ed3cdeea5849c534fda3c7a1dfef817204c11e2" target="_blank">https://explorer.apothem.network/addr/xdc6ed3cdeea5849c534fda3c7a1dfef817204c11e2</a>)</p>
                                
                                <p class="mt-4"><strong>6. TestClient -</strong> xdcefd88962be8a0451e07d44b9eb36d6116cc20c2e</p>
                                <p>(<a href="https://explorer.apothem.network/addr/xdcefd88962be8a0451e07d44b9eb36d6116cc20c2e" target="_blank">https://explorer.apothem.network/addr/xdcefd88962be8a0451e07d44b9eb36d6116cc20c2e</a>)</p>
                            </h5>
                        </div>
                        </div>
                        
                        <p class="mt-5 wow fadeInUp" data-wow-delay="1s">Please <a href="contact">Contact us</a> if you like to Start Data Feed/Price Feed using XDC Blockchain Network.</p>
                        
                    </div>
        		</div>
                    
                    <!--<div class="row mt-40">
                    <div class="col-12 col-lg-8 offset-lg-2">
                        <div class="section-heading text-center">
                            <h2 class="wow fadeInUp" data-wow-delay="0.2s">Use the Detailed Documentation for this Chainlink</h2>
                            <p class="mt-20 wow fadeInUp" data-wow-delay="0.3s">See the <a href="#">CoinMarketCap XinFin Network XDC (Testnet)</a> for documentation on how to use this XDC Network. It is strongly suggested that you develop your smart contracts in a testing environment first, before deploying to main net.</p>
                        </div>
                    </div>
            	</div>  -->                  
        		</div>
            </div>
        </section>
        <!-- Data/Feed Blockchain Integration Framework Ends -->
        
        
        <!-- Still Have Questions? Starts -->
        <section class="have-questions-area section-padding-70-50 special clearfix" style="background-color: #f2f7ff;">
            <div class="container">
                <div class="section-heading text-center">
                    <h2 class="wow fadeInUp" data-wow-delay="0.2s">Still Have Questions?</h2>
                    <p class="wow fadeInUp" data-wow-delay="0.3s">Join us</p>
                </div>

                <div class="row">
                    <div class="col-lg-12 text-center">
                        <div class="middle">
                            <a class="social-btn twitter wow fadeInUp" data-wow-delay="0.4s" href="https://twitter.com/MyContractCo" target="_blank">
                                <i class="fa fa-twitter"></i>
                            </a>
                            <a class="social-btn linkedin wow fadeInUp" data-wow-delay="0.5s" href="https://www.linkedin.com/company/xinfin/" target="_blank">
                                <i class="fa fa-linkedin"></i>
                            </a>
                            <a class="social-btn fb wow fadeInUp" data-wow-delay="0.6s" href="https://www.facebook.com/XinFinHybridBlockchain/" target="_blank">
                                <i class="fa fa-facebook-f"></i>
                            </a>
                            <a class="social-btn telegram wow fadeInUp" data-wow-delay="0.7s" href="https://t.me/xinfintalk" target="_blank">
                                <i class="fa fa-telegram"></i>
                            </a>
                            <a class="social-btn github wow fadeInUp" data-wow-delay="0.8s" href="https://github.com/XinFinOrg/MyContract" target="_blank">
                                <i class="fa fa-github"></i>
                            </a>
                            <a class="social-btn reddit wow fadeInUp" data-wow-delay="0.9s" href="https://www.reddit.com/r/xinfin/" target="_blank">
                                <i class="fa fa-reddit"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <!--<div class="row">
                <div class="col-lg-12 text-center">
                    <div class="dream-btn-group wow fadeInUp" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInUp;">
                    	<a href="#" class="btn more-btn ml-1 mr-1"><i class="fa fa-question-circle"></i> FAQs</a>
                        <a href="https://github.com/XinFinOrg/MyContract" target="_blank" class="btn more-btn ml-1 mr-1"><i class="fa fa-github"></i> View on GitHub</a>
                        <a href="#" class="btn more-btn ml-1 mr-1"><i class="fa"><img src="img/icons/integration-guide.png"></i> Integration Guide</a>
                        <a href="https://xinfin.org/setup-masternode" target="_blank" class="btn more-btn ml-1 mr-1"><i class="fa"><img src="img/icons/masternode.png"></i> How to Run a Node</a>
                    </div>
                </div>
            </div>-->
            </div>
        </section>
        <!-- Still Have Questions? Ends -->
        

        <!-- Footer Area Starts -->
        <div class="footer-content-area mt-0">
            <div class="container">
                <div class="row mb-5">
                    <div class="col-12 col-lg-2 col-md-12">
                        <div class="footer-copywrite-info">
                            <div class="copywrite_text mt-s wow fadeInUp" data-wow-delay="0.2s">
                                <div class="footer-logo">
                                    <img src="img/mycontract-logo-footer.png" alt="logo" />
                                </div>
                                <p>Secure, Scalable Blockchain-Agnostic Decentralized Oracle.</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-lg-2 col-md-6 col-sm-6">
                        <div class="contact_info_area d-sm-flex justify-content-between">
                            <div class="contact_info mt-s text-center wow fadeInUp" data-wow-delay="0.3s">
                                <h5>Build with Blockchain</h5>
                                <ul>
                                    <li><a href="https://github.com/XinFinOrg/MyContract" target="_blank">View on Github</a></li>
                                    <li><a href="https://howto.xinfin.org/" target="_blank">Developer Portal</a></li>
                                    <li><a href="https://apidocs.xinfin.network/" target="_blank">Node HTTP API</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-lg-2 col-md-6 col-sm-6">
                        <div class="contact_info_area d-sm-flex justify-content-between">
                            <div class="contact_info mt-s text-center wow fadeInUp" data-wow-delay="0.4s">
                                <h5>SDK for Developers</h5>
                                <ul>
                                    <li><a href="https://explorer.xinfin.network/" target="_blank">XDC Network Explorer</a></li>
                                    <li><a href="https://master.xinfin.network/" target="_blank">Master Node/Validator</a></li>
                                    <li><a href="https://xinfin.org/setup-masternode" target="_blank">One-Click Node Installer</a></li>
                                    <li><a href="https://remix.xinfin.network/" target="_blank">XinFin Remix</a></li>
                                    <li><a href="https://chrome.google.com/webstore/detail/xinpay/bocpokimicclpaiekenaeelehdjllofo" target="_blank">XinPay</a></li>
                                    <li><a href="https://play.google.com/store/apps/details?id=com.xdcwallet" target="_blank">Opensource Wallet</a></li>
									<li><a href="https://github.com/DcentWallet/dcent-web-connector" target="_blank">D'CENT Biometric Wallet</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-lg-2 col-md-6 col-sm-6">
                        <div class="contact_info_area d-sm-flex justify-content-between">
                            <div class="contact_info mt-s text-center wow fadeInUp" data-wow-delay="0.5s">
                                <h5>SDK Frontend APIs</h5>
                                <ul>
                                    <li><a href="https://apidocs.xinfin.network/docs/?javascript#sha3request" target="_blank">JavaScript</a></li>
                                    <li><a href="https://apidocs.xinfin.network/docs/?python#sha3request" target="_blank">Python</a></li>
                                    <li><a href="https://apidocs.xinfin.network/docs/?go#sha3request" target="_blank">Go</a></li>
                                    <li><a href="https://apidocs.xinfin.network/docs/?java#sha3request" target="_blank">Java</a></li>
                                    <li><a href="https://apidocs.xinfin.network/docs/?ruby#sha3request" target="_blank">Ruby</a></li>
                                </ul>
                                <!--<h5>Follow Us On</h5>
                                <ul>
                                    <li><a href="https://twitter.com/MyContractCo" target="_blank"><i class="fa fa-twitter"></i> Twitter</a></li>
                                    <li><a href="https://www.linkedin.com/company/xinfin/" target="_blank"><i class="fa fa-linkedin"></i> LinkedIn</a></li>
                                    <li><a href="https://www.facebook.com/XinFinHybridBlockchain/" target="_blank"><i class="fa fa-facebook"></i> Facebook</a></li>
                                    <li><a href="https://t.me/xinfintalk" target="_blank"><i class="fa fa-telegram"></i> Telegram</a></li>
                                    <li><a href="https://github.com/XinFinOrg/MyContract" target="_blank"><i class="fa fa-github"></i> Github</a></li>
                                    <li><a href="https://www.reddit.com/r/xinfin/" target="_blank"><i class="fa fa-reddit"></i> Reddit</a></li>
                                </ul>-->
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-lg-2 col-md-6 col-sm-6">
                        <div class="contact_info_area d-sm-flex justify-content-between">
                            <div class="contact_info mt-s text-center wow fadeInUp" data-wow-delay="0.6s">
                                <h5>SandBox Environment</h5>
                                <ul>
                                    <li><a href="http://apothem.network/" target="_blank">SandBox/TestNet</a></li>
                                    <li><a href="https://faucet.apothem.network/" target="_blank">XDC Faucet</a></li>
                                    <li><a href="contact">Contact Us</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <hr class="opacity-md" />

                <div class="row mt-4 contact_info_area">
                    <div class="col-md-12 mb-md-0 contact_info wow fadeInUp" data-wow-delay="0.7s">
                        <p class="text-center mb-0">Copyright © <script>document.write(new Date().getFullYear())</script> MyContract. All rights reserved.</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer Area Ends -->

        <!-- jQuery js -->
        <script src="js/jquery.min.js"></script>
        <!-- Popper js -->
        <script src="js/popper.min.js"></script>
        <!-- Bootstrap js -->
        <script src="js/bootstrap.min.js"></script>
        <!-- All Plugins js -->
        <script src="js/plugins.js"></script>

        <!-- script js -->
        <script src="js/script.js"></script>
    </body>
</html>