<!-- views/profile.ejs -->
<!doctype html>
<html>

<head>
  <title>AutoCoin</title>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
  <style>
    body {
      padding-top: 80px;
      word-wrap: break-word;
      background-image: linear-gradient(180deg,rgba(53, 53, 138, 0.623), white); /* Standard syntax (must be last) */

    }


  </style>
</head>

<body>
  <div class="container">

    <div class="page-header text-center">
      <h1>Package Maker</h1>
      <a href="/profile" class="btn btn-default btn-sm">Back</a>
      <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    </div>

    <div class="row">

      <!-- LOCAL INFORMATION -->
      <div class="col-sm-12">
        <div class="well text-center">
          <h2 class="text-center">Package Details </h2>
          <form action="/createPackage" method="post">

            <div class="form-group">
              <label>Package Name:</label>
              <input type="text" class="form-control" name="package_name" placeholder="Enter Package Name">
            </div>
            <div class="form-group">
              <label>Enter XDC price:</label>
              <input type="text" class="form-control" name="xdce_price" placeholder="Enter XDC price">
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
          </form>


        </div>
      </div>

    </div>

  </div>
</body>

</html>
