<!DOCTYPE html>
<html lang="zxx" class="js">

<head>
  <meta charset="utf-8">
  <meta name="author" content="Softnio">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description"
    content="MyContract - Leading Platform for Smart Contract Creation, Deployment, Interaction & Token Offering.">
  <meta name="Description"
    content="Leading Platform for Smart Contract Creation, Deployment, Interaction & Token Offering. Create your Smart Contract without Coding.">
  <meta name="Keywords"
    content="Smart Contract , Smart Contract Creation , Token Offering , Cryptocurrency , MyContract , Create Smart Contract , Smart Contract Generator , Blockchain Technology , My Smart Contract , Token , Blockchain , Token Offering Platform , Create Smart Contract Online , Technology , Token Generator , Ethereum , Bitcoin , Generate ERC20 token , Smart , Contract">

  <!-- Fav Icon -->
  <link rel="apple-touch-icon" sizes="57x57" href="landingPageAssets/images/favicon/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="landingPageAssets/images/favicon/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="landingPageAssets/images/favicon/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="landingPageAssets/images/favicon/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="landingPageAssets/images/favicon/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="landingPageAssets/images/favicon/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="landingPageAssets/images/favicon/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="landingPageAssets/images/favicon/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="landingPageAssets/images/favicon/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192" href="landingPageAssets/images/favicon/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="landingPageAssets/images/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="landingPageAssets/images/favicon/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="landingPageAssets/images/favicon/favicon-16x16.png">
  <link rel="manifest" href="landingPageAssets/images/favicon/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="landingPageAssets/images/favicon/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">

  <!-- Goole Font -->
  <link href="https://fonts.googleapis.com/css?family=Muli:300,400,600,700,800,900" rel="stylesheet">

  <!-- Site Title  -->
  <title>MyContract | Create your Smart Contract without Coding</title>

  <!-- Vendor Bundle CSS -->
  <link rel="stylesheet" href="landingPageAssets/css/vendor.bundle.css">
  <!-- Custom styles for this template -->
  <link rel="stylesheet" href="landingPageAssets/css/style.css">
  <link rel="stylesheet" href="landingPageAssets/css/theme.css" id="layoutstyle">

</head>

<body class="theme-light io-jasmine" data-spy="scroll" data-target="#mainnav" data-offset="80">
  <!-- Header -->
  <header class="site-header is-sticky mobile-sticky" id="about">
    <!-- Place Particle Js -->
    <div id="particles-js" class="particles-container particles-js"></div>
    <!-- Navbar -->
    <div class="navbar navbar-expand-lg is-transparent" id="mainnav">
      <nav class="container">
        <a class="navbar-brand animated" data-animate="fadeInDown" data-delay=".65" href="/"><img class="logo logo-dark"
            alt="logo" src="landingPageAssets/images/logo.png"><img class="logo logo-light" alt="logo"
            src="landingPageAssets/images/logo-white.png"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle"><span
            class="navbar-toggler-icon"><span class="fa fa-bars"></span></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarToggle">
          <ul class="navbar-btns animated remove-animation" data-animate="fadeInDown" data-delay="1.15">
            <li class="nav-item"><a class="nav-link btn btn-sm btn-outline menu-link" href="/login">LOGIN</a></li>
          </ul>
        </div>
      </nav>
    </div>
    <!-- End Navbar -->
  </header>
  <!-- End Header -->
  <!-- Start Section -->
  <div class="section section-pad section-bg" id="contact">
    <div class="container">
      <div class="row justify-content-between">
        <div class="col-lg-4 res-m-bttm-sm">
          <div class="section-head-s6">
            <h2 class="section-title-s8 animated" data-animate="fadeInUp" data-delay=".2">Buy XDC with PayPal</h2>
            <!-- <p class="animated" data-animate="fadeInUp" data-delay=".2">Easy steps to buy XDC with paypal!</p> -->
          </div>
          <ul class="contact-info-alt">
            <li class="animated" data-animate="fadeInUp" data-delay=".8">
              <h3>Today's XDC Price : <%- data.price_usd -%> $</h3>
            </li>
          </ul>
        </div>
        <!-- .col -->
        <div class="col-lg-7">
          <% if (message.length >0) { %>
          <div class="alert alert-danger">
            <%= message %>
          </div>
          <% } %>
          <% if (txHash.length >0) { %>
          <div class="alert alert-success">
            Transaction Hash : <%= txHash %>
          </div>
          <% } %>
          <form class="form-message form-message-s2 form-message-s3 text-left show-error-hint animated"
            data-animate="fadeInUp" data-delay=".6" name="paypalForm" action="/paypal" method="post">
            <div class="form-results"></div>
            <div class="input-field">
              <input type="text" placeholder="Address" value="<%- data.price_usd -%>" id="priceNow" class="input-border"
                aria-required="true" hidden="hidden">
            </div>
            <div class="input-field">
              <input name="address" type="text" placeholder="Address" id="address_id" class="input-border required"
                aria-required="true">
            </div>
            <div class="input-field">
              <input name="amount" type="text" placeholder="Amount" id="amount_id" class="input-border required "
                aria-required="true">
            </div>
            <div class="input-field">
              <input name="price" type="text" placeholder="Price in $" id="price_id" class="input-border required "
                aria-required="true">
            </div>
            <!-- <input type="text" class="d-none" name="form-anti-honeypot" value=""> -->
            <div class="input-field">
              <button type="submit" id="submitButton" class="btn">Submit</button>
            </div>
          </form>
        </div>
        <!-- .col -->
      </div>
    </div>

  </div>
  <!-- End Section -->



  <!-- Section -->
  <div class="section footer-scetion footer-lavendar">
    <div class="social-overlap">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-10">
            <ul class="social-bar animated" data-animate="fadeInUp" data-delay=".1">
              <li>Follow us</li>
              <li><a href="https://facebook.com/XinFinHybridBlockchain" target="_blank"><em
                    class="fab fa-facebook-f"></em></a></li>
              <li><a href="https://twitter.com/XinFin_Official" target="_blank"><em class="fab fa-twitter"></em></a>
              </li>
              <li><a href="https://t.me/xinfin" target="_blank"><em class="fab fa-telegram"></em></a></li>
              <li><a href="https://www.linkedin.com/company/xinfin" target="_blank"><em
                    class="fab fa-linkedin"></em></a></li>
              <li><a href="https://www.youtube.com/channel/UCQaL6FixEQ80RJC0B2egX6g" target="_blank"><em
                    class="fab fa-youtube"></em></a></li>
              <li><a href="https://xinfin-public.slack.com/" target="_blank"><em class="fab fa-slack"></em></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="gaps size-4x"></div>
    <div class="gaps size-2x d-none d-sm-block"></div>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-sm-12 col-lg-3 res-m-bttm-sm">
          <a class="footer-brand animated" data-animate="fadeInUp" data-delay=".2"><img class="logo logo-light"
              alt="logo" src="landingPageAssets/images/logo-full-white.png"></a>
        </div>
        <!-- .col  -->
        <div class="col-sm-3 col-lg-2 res-l-bttm-lg">
          <ul class="link-widget one-column animated" data-animate="fadeInUp" data-delay=".3">
              <li><a class="menu-link" href="https://docs.mycontract.co/Media/Articles/">Media</a></li>
            <li><a href="#about" class="menu-link">About Us</a></li>
            <li><a href="#features" class="menu-link">Features</a></li>
          </ul>
        </div>
        <!-- .col  -->
        <div class="col-sm-3 col-lg-2 res-l-bttm-lg">
          <ul class="link-widget one-column animated" data-animate="fadeInUp" data-delay=".4">
            <li><a class="menu-link" href="https://docs.mycontract.co/faq/faq/">FAQs</a></li>
            <li><a href="#contact" class="menu-link">Contact</a></li>
            <li><a href="https://mycontract.co/" class="menu-link">Login</a></li>
          </ul>
        </div>
        <!-- .col  -->
        <div class="col-sm-6 col-lg-5">
          <p class="text-white mb-1">Keep in touch with the latest news</p>
          <form id="subscribe-form" action="/subscribe" method="post" class="subscription-form inline-form-s2">
            <input type="text" name="youremail" class="input-round-s2 required email" placeholder="Email address">
            <!-- <input type="text" class="d-none" name="form-anti-honeypot" value=""> -->
            <button type="submit" class="btn btn-plane">Subscribe</button>
            <div class="subscribe-results"></div>
          </form>
        </div>
        <!-- .col  -->
      </div>
      <!-- .row  -->
    </div>
    <!-- .container  -->
    <hr class="hr-line">
    <!-- .hr-line  -->
    <div class="container">
      <div class="row">
        <div class="col-md-7"><span class="copyright-text">Copyright © 2018, MyContract. All Rights
            Reserved.</span></div>
        <!-- .col  -->
        <div class="col-md-5 text-right mobile-left">
          <ul class="footer-links">
            <li><a href="#">Privacy Policy</a></li>
            <li><a href="/termsConditions">Terms & Conditions</a></li>
          </ul>
        </div>
        <!-- .col  -->
      </div>
      <!-- .row  -->
    </div>
    <!-- .container  -->
    <div class="gaps size-2x"></div>
  </div>



  <!-- Preloader !remove please if you do not want -->
  <div id="preloader">
    <div id="loader"></div>
    <div class="loader-section loader-top"></div>
    <div class="loader-section loader-bottom"></div>
  </div>
  <!-- Preloader End -->



  <!-- JavaScript (include all script here) -->
  <script src="landingPageAssets/js/jquery.bundle.js"></script>
  <script src="landingPageAssets/js/script.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.17.0/dist/jquery.validate.js"></script>
  <script>
    jQuery.validator.addMethod("isTwoDecimal", function (value, element) {
      return this.optional(element) || /^\d{0,4}(\.\d{0,2})?$/i.test(value);
    }, "You must include two decimal places");
    jQuery.validator.addMethod("isAddress", function (value, element) {
      return this.optional(element) || /^0x[a-fA-F0-9]{40}$/g.test(value);
    }, "You must include two decimal places");

    $(function () {
      $("form[name='paypalForm']").validate({
        rules: {
          address: {
            required: true,
            isAddress: true
          },
          amount: {
            required: true,
            min: 100
          },
          price: {
            required: true,
            isTwoDecimal: true
          }
        },
        messages: {
          address: "Please enter valid ethereum address",
          amount: "Amount must be greater then 100 $ ",
        },
        submitHandler: function (form) {
          form.submit();
        }
      });
    });
  </script>
  <script>
    var myInput2 = document.getElementById("amount_id");
    myInput2.onkeyup = function () {
      var priceNow = document.getElementById("priceNow");
      let amt = priceNow.value * myInput2.value
      document.getElementById("price_id").value = amt.toFixed(2)
    }
  </script>
</body>

</html>