<!DOCTYPE html>
<html lang="zxx" class="js">

<head>
    <meta charset="utf-8">
    <meta name="author" content="Softnio">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description"
        content="MyContract - Leading Platform for Smart Contract Creation, Deployment, Interaction & Token Offering.">
    <meta name="Description"
        content="Leading Platform for Smart Contract Creation, Deployment, Interaction & Token Offering. Create your Smart Contract without Coding.">
    <meta name="Keywords"
        content="Smart Contract , Smart Contract Creation , Token Offering , Cryptocurrency , MyContract , Create Smart Contract , Smart Contract Generator , Blockchain Technology , My Smart Contract , Token , Blockchain , Token Offering Platform , Create Smart Contract Online , Technology , Token Generator , Ethereum , Bitcoin , Generate ERC20 token , Smart , Contract">

    <!-- Fav Icon -->
    <link rel="apple-touch-icon" sizes="57x57" href="landingPageAssets/images/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="landingPageAssets/images/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="landingPageAssets/images/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="landingPageAssets/images/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="landingPageAssets/images/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="landingPageAssets/images/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="landingPageAssets/images/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="landingPageAssets/images/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="landingPageAssets/images/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="landingPageAssets/images/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="landingPageAssets/images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="landingPageAssets/images/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="landingPageAssets/images/favicon/favicon-16x16.png">
    <link rel="manifest" href="landingPageAssets/images/favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="landingPageAssets/images/favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <!-- Goole Font -->
    <link href="https://fonts.googleapis.com/css?family=Muli:300,400,600,700,800,900" rel="stylesheet">

    <!-- Site Title  -->
    <title>MyContract | Create your Smart Contract without Coding</title>

    <!-- Vendor Bundle CSS -->
    <link rel="stylesheet" href="landingPageAssets/css/vendor.bundle.css">
    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="landingPageAssets/css/style.css">
    <link rel="stylesheet" href="landingPageAssets/css/toastr.min.css">
    <link rel="stylesheet" href="landingPageAssets/css/theme.css" id="layoutstyle">

</head>

<body class="theme-light io-jasmine" data-spy="scroll" data-target="#mainnav" data-offset="80">
    <!-- Header -->
    <header class="site-header is-sticky mobile-sticky" id="about">
        <!-- Place Particle Js -->
        <div id="particles-js" class="particles-container particles-js"></div>
        <!-- Navbar -->
        <div class="navbar navbar-expand-lg is-transparent" id="mainnav">
            <nav class="container">
                <a class="navbar-brand animated" data-animate="fadeInDown" data-delay=".65" href="/"><img
                        class="logo logo-dark" alt="logo" src="landingPageAssets/images/logo.png"><img
                        class="logo logo-light" alt="logo" src="landingPageAssets/images/logo-white.png"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle"><span
                        class="navbar-toggler-icon"><span class="fa fa-bars"></span></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="navbarToggle">
                    <ul class="navbar-btns animated remove-animation" data-animate="fadeInDown" data-delay="1.15">
                        <li class="nav-item"><a class="nav-link btn btn-sm btn-outline menu-link"
                                href="/login">LOGIN</a></li>
                    </ul>
                </div>
            </nav>
        </div>
        <!-- End Navbar -->
    </header>
    <!-- End Header -->

    <!-- Start Section -->
    <div class="section section-pad-md section-bg" id="howItWorks">
        <div class="ui-shape ui-shape-s1"></div>
        <div class="container">
            <div class="section-head-s8 text-center">
                <h2 class="section-title animated" data-animate="fadeInUp" data-delay=".1">Privacy Policy</h2>
            </div>

            <div class="row align-items-center">
                <div class="col-md-12">
                    <div class=" desktop-diagram animated" data-animate="fadeInUp" data-delay=".3">
                        <p>
                            The most significant aspect of XinFin is to preserve your belief and confidence in us by
                            safeguarding your privacy. You will
                            be provided with information about the process of your data being collected, stored and used
                            by us. We recommend you to kindly review this Privacy Policy thoroughly. You explicitly
                            permit
                            us to use and reveal your personal details as per this Privacy Policy by visiting XinFin’s
                            website/WAP
                            site/applications. You will forbid using or accessing XinFin website, WAP site or mobile
                            applications
                            if you disagree to any of the terms of this policy. XinFin has the authority to alter the
                            terms
                            of this policy any time without communication. You are requested to keep yourself updated on
                            any such alterations made by XinFin by keeping a check regularly. This Privacy Policy shall
                            evenly
                            pertain to XinFin desktop website, XinFin mobile WAP site & XinFin mobile applications.
                        </p><br>
                        <h5>General</h5>
                        <p>There will be no selling, sharing or renting of your personal details to any 3rd party. We
                            also
                            prohibit using your email address or mobile number for unwanted emails and/or SMS. XinFin
                            will
                            send emails and/or SMS in relation with the terms of services and this Privacy Policy.
                            XinFin
                            will disclose overall survey details taken by 3rd party for statistic purpose. XinFin is
                            responsible
                            to disclose your personal details on receiving any kind of legal order or decree stating to
                            disclose
                            the details.</p><br>
                        <h5>Personal Information</h5>
                        <p>Personal Information means and comprises of all the details that can be connected to a
                            specific
                            individual or to identify any individual, such as name, date of birth, permanent address,
                            mailing
                            address, telephone number, email ID, credit card number, cardholder name, card expiration
                            date
                            and any details that may have been freely provided by the user in connection to avail any of
                            the services on XinFin. When You browse through XinFin, we shall collect information
                            regarding
                            the domain and host from which You access the internet, the Internet Protocol [IP] address
                            of
                            the computer or Internet service provider [ISP] You are using, and anonymous site
                            statistical
                            data.
                        </p><br>
                        <h5>Use of Personal Information</h5>
                        <p>We use personal information to provide You with services You explicitly requested for, to
                            resolve
                            disputes, troubleshoot concerns, help promote safe services, collect money, measure consumer
                            interest in our services, inform You about offers, products, services, updates, customize
                            Your
                            experience, detect & protect us against error, fraud and other criminal activity, enforce
                            our
                            terms and conditions, etc. We may occasionally ask You to complete optional online surveys.
                            These
                            surveys may ask You for contact information and demographic information (like zip code, age,
                            gender, etc.). The data collected by XinFin is modified and personalized as per your
                            practice
                            and understanding so that you are provided and shown with a subject of your liking.</p><br>
                        <h5>Cookies</h5>
                        <p>
                            A “cookie” is a small piece of information stored by a web server on a web browser so it can
                            be later read back from that
                            browser. XinFin uses cookie and tracking technology depending on the features offered. No
                            personal
                            information will be collected via cookies and other tracking technology; however, if You
                            previously
                            provided personally identifiable information, cookies may be tied to such information.
                            Aggregate
                            cookie and tracking information may be shared with third parties.
                        </p><br>
                        <h5>Links to other Sites</h5>
                        <p>
                            There are other websites showing links to XinFin website. While the XinFin site links
                            appears on other websites then such
                            website shall gather the said personal information about you for identification purpose.
                            XinFin
                            will not be liable for the privacy rules or matter of those linked websites.
                        </p><br>
                        <h5>Security</h5>
                        <p>As far as security measures are concerned, XinFin’s actions to protect the loss, misuse and
                            alterations
                            made to any information is under sever charge. XinFin provides a secured server system on
                            every
                            occasion where any changes are made by you or accessing your account details. All the
                            information
                            collected by XinFin are under severe security strategies framed by XinFin guarding it
                            against
                            unofficial access.</p><br>
                        <h5>Consent</h5>
                        <p>Once you browse the XinFin website or provide your details, you agree and consentfor the
                            information
                            gathered and use of such information that you have revealed to XinFin in accordance with
                            this
                            Privacy Policy.</p>
                    </div>
                </div>
            </div>
            <!-- .row  -->
        </div>
        <!-- .conatiner  -->
    </div>
    <!-- Start Section -->

    <!-- Start Section -->
    <div class="section section-pad section-bg" id="contact">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-lg-4 res-m-bttm-sm">
                    <div class="section-head-s6">
                        <h2 class="section-title-s8 animated" data-animate="fadeInUp" data-delay=".2">Get In Touch</h2>
                        <p class="animated" data-animate="fadeInUp" data-delay=".2">Any question? Reach out to us and
                            we'll
                            get back to you shortly.</p>
                    </div>
                    <ul class="contact-info-alt">
                        <li class="animated" data-animate="fadeInUp" data-delay=".4"><em
                                class="fa fa-envelope"></em><span>info@mycontract.co</span></li>
                    </ul>
                </div>
                <!-- .col -->
                <div class="col-lg-7">
                    <form class="form-message form-message-s2 form-message-s3 text-left show-error-hint animated"
                        data-animate="fadeInUp" data-delay=".6" name="contactForm" id="contactUsForm"
                        action="javascript:void(0);" onSubmit="signIn()">
                        <div class="form-results"></div>
                        <div class="input-field">
                            <input name="contactName" type="text" placeholder="Your Name" data-validation="custom"
                                data-validation-regexp="[a-zA-Z][a-zA-Z0-9-_]{3,32}" class="input-border required"
                                aria-required="true">
                        </div>
                        <div class="input-field">
                            <input name="contactEmail" type="email" data-validation="email" placeholder="Your Email"
                                class="input-border required email" aria-required="true">
                        </div>
                        <div class="input-field">
                            <textarea name="contactMessage" placeholder="Your Message"
                                class="txtarea input-border required" data-validation="length"
                                data-validation-length="10-200" aria-required="true"></textarea>
                        </div>
                        <!-- <input type="text" class="d-none" name="form-anti-honeypot" value=""> -->
                        <div class="input-field">
                            <button type="submit" class="btn">Submit</button>
                        </div>
                    </form>
                </div>
                <!-- .col -->
            </div>
        </div>

    </div>
    <!-- End Section -->



    <!-- Section -->
    <div class="section footer-scetion footer-lavendar">
        <div class="social-overlap">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-10">
                        <ul class="social-bar animated" data-animate="fadeInUp" data-delay=".1">
                            <li>Follow us</li>
                            <li><a href="https://facebook.com/XinFinHybridBlockchain" target="_blank"><em
                                        class="fab fa-facebook-f"></em></a></li>
                            <li><a href="https://twitter.com/XinFin_Official" target="_blank"><em
                                        class="fab fa-twitter"></em></a></li>
                            <li><a href="https://t.me/xinfin" target="_blank"><em class="fab fa-telegram"></em></a></li>
                            <li><a href="https://www.linkedin.com/company/xinfin" target="_blank"><em
                                        class="fab fa-linkedin"></em></a></li>
                            <li><a href="https://www.youtube.com/channel/UCQaL6FixEQ80RJC0B2egX6g" target="_blank"><em
                                        class="fab fa-youtube"></em></a></li>
                            <li><a href="https://xinfin-public.slack.com/" target="_blank"><em
                                        class="fab fa-slack"></em></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="gaps size-4x"></div>
        <div class="gaps size-2x d-none d-sm-block"></div>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-sm-12 col-lg-3 res-m-bttm-sm">
                    <a class="footer-brand animated" data-animate="fadeInUp" data-delay=".2"><img
                            class="logo logo-light" alt="logo" src="landingPageAssets/images/logo-full-white.png"></a>
                </div>
                <!-- .col  -->
                <div class="col-sm-3 col-lg-2 res-l-bttm-lg">
                    <ul class="link-widget one-column animated" data-animate="fadeInUp" data-delay=".3">
                            <li><a class="menu-link" href="https://docs.mycontract.co/Media/Articles/">Media</a></li>
                        <li><a href="#about" class="menu-link">About Us</a></li>
                        <li><a href="#features" class="menu-link">Features</a></li>
                    </ul>
                </div>
                <!-- .col  -->
                <div class="col-sm-3 col-lg-2 res-l-bttm-lg">
                    <ul class="link-widget one-column animated" data-animate="fadeInUp" data-delay=".4">
                            <li><a class="menu-link" href="https://docs.mycontract.co/faq/faq/">FAQs</a></li>
                        <li><a href="#contact" class="menu-link">Contact</a></li>
                        <li><a href="https://mycontract.co/login" class="menu-link">Login</a></li>
                    </ul>
                </div>
                <!-- .col  -->
                <div class="col-sm-6 col-lg-5">
                    <p class="text-white mb-1">Keep in touch with the latest news</p>
                    <form action="javascript:void(0);" name="subscribeForm" class="subscription-form inline-form-s2">
                        <input type="text" name="subscriberEmail" id="subscriberEmail"
                            class="input-round-s2 required email" placeholder="Email address" />
                        <button type="submit" class="btn btn-plane">Subscribe</button>
                    </form>
                </div>
                <!-- .col  -->
            </div>
            <!-- .row  -->
        </div>
        <!-- .container  -->
        <hr class="hr-line">
        <!-- .hr-line  -->
        <div class="container">
            <div class="row">
                <div class="col-md-7"><span class="copyright-text">Copyright © 2018, MyContract. All Rights
                        Reserved.</span></div>
                <!-- .col  -->
                <div class="col-md-5 text-right mobile-left">
                    <ul class="footer-links">
                        <li><a href="/privacyPolicy">Privacy Policy</a></li>
                        <li><a href="/termsConditions">Terms & Conditions</a></li>
                    </ul>
                </div>
                <!-- .col  -->
            </div>
            <!-- .row  -->
        </div>
        <!-- .container  -->
        <div class="gaps size-2x"></div>
    </div>



    <!-- Preloader !remove please if you do not want -->
    <div id="preloader">
        <div id="loader"></div>
        <div class="loader-section loader-top"></div>
        <div class="loader-section loader-bottom"></div>
    </div>
    <!-- Preloader End -->



    <!-- JavaScript (include all script here) -->
    <script src="landingPageAssets/js/jquery.bundle.js"></script>
    <script src="landingPageAssets/js/script.js"></script>
    <script src="landingPageAssets/js/toastr.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.17.0/dist/jquery.validate.js"></script>
    <script>
        $(function () {
            $("form[name='contactForm']").validate({
                rules: {
                    contactName: {
                        required: true,
                        minlength: 3
                    },
                    contactEmail: {
                        required: true,
                        email: true
                    },
                    contactMessage: {
                        required: true,
                        minlength: 10
                    }
                },
                messages: {
                    contactName: {
                        required: "Please provide your full name",
                        minlength: "Your name must be at least 3 characters long"
                    },
                    contactEmail: "Please enter a valid email address",
                    contactMessage: "Message must be at least 10 characters long"
                },
                submitHandler: function (form) {
                    toastr.options = {
                        "closeButton": false,
                        "debug": false,
                        "newestOnTop": false,
                        "progressBar": false,
                        "positionClass": "toast-bottom-right",
                        "preventDuplicates": false,
                        "onclick": null,
                        "showDuration": "300",
                        "hideDuration": "1000",
                        "timeOut": "5000",
                        "extendedTimeOut": "1000",
                        "showEasing": "swing",
                        "hideEasing": "linear",
                        "showMethod": "fadeIn",
                        "hideMethod": "fadeOut"
                    }
                    toastr.info('Your Message Successfully sent to Administrator.')
                    var formData = new FormData(form);
                    console.log(formData)
                    $.ajax({
                        url: '/contactUs',
                        type: 'POST',
                        data: formData,
                        success: function (data) {
                        },
                        cache: false,
                        contentType: false,
                        processData: false
                    });
                    $("#contactUsForm")[0].reset()
                }
            });
        });
        $(function () {
            $("form[name='subscribeForm']").validate({
                rules: {
                    subscriberEmail: {
                        required: true,
                        email: true
                    },
                },
                invalidHandler: function (form, validator) {
                    toastr.options = {
                        "closeButton": false,
                        "debug": false,
                        "newestOnTop": false,
                        "progressBar": false,
                        "positionClass": "toast-bottom-right",
                        "preventDuplicates": false,
                        "onclick": null,
                        "showDuration": "300",
                        "hideDuration": "1000",
                        "timeOut": "5000",
                        "extendedTimeOut": "1000",
                        "showEasing": "swing",
                        "hideEasing": "linear",
                        "showMethod": "fadeIn",
                        "hideMethod": "fadeOut"
                    }
                    toastr.error("not a valid email !", "Email")

                },
                submitHandler: function (form) {
                    toastr.options = {
                        "closeButton": false,
                        "debug": false,
                        "newestOnTop": false,
                        "progressBar": false,
                        "positionClass": "toast-bottom-right",
                        "preventDuplicates": false,
                        "onclick": null,
                        "showDuration": "300",
                        "hideDuration": "1000",
                        "timeOut": "5000",
                        "extendedTimeOut": "1000",
                        "showEasing": "swing",
                        "hideEasing": "linear",
                        "showMethod": "fadeIn",
                        "hideMethod": "fadeOut"
                    }
                    var formData = new FormData(form[0]);
                    console.log(formData)
                    $.ajax({
                        url: '/subscribe',
                        type: 'POST',
                        data: formData,
                        success: function (data) {
                            toastr.info('Thank you.')
                        },
                        cache: false,
                        contentType: false,
                        processData: false
                    });
                    $("subscription-form")[0].reset()
                }
            });
        });
    </script>
</body>

</html>