<body>
  <% layout('./layouts/sidebar') -%>
    <!-- Preloader -->
    <div class="preloader">
      <div class="lds-ripple">
        <div class="lds-pos"></div>
        <div class="lds-pos"></div>
      </div>
    </div>

    <!-- Page wrapper  -->
    <div class="page-wrapper">

      <!-- Container fluid  -->
      <div class="container-fluid">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">User Details</h4>
            <div class="row">
              <div class="col-lg-12">
                <div class="row m-t-30">
                  <div class="col-lg-4 col-md-12">
                    <div class="alert alert-success">
                      <h3 class="text-success"><i class="fa fa-envelope"></i> Email Id</h3>
                      <%= user.email %>
                    </div>
                  </div>
                  <div class="col-lg-8 col-md-12">
                    <div class="alert alert-info">
                      <h3 class="text-info"><i class="fa"><img src="assets/images/icons/token.png"></i> Gravitas Token Address</h3>
                      <%= address %>
                    </div>
                  </div>
                </div>

                <hr>
              </div>
            </div>
            <div class="clpricing-table cat-id-10">
              <div class="container-fluid">
                <div class="col-md-10">
                  <h4 class="card-title text-center">Packages Bought</h4>
                  <div class="row align-items-center price-table style10">
                    <div class="col-md-12 col-lg-6 col-sm-6 col-xs-12">
                      <div class="cl-pricetable-wrap price-1 category28 ">
                        <div class="top">
                          <div class="cl-header">
                            <h2>PACKAGE 1</h2>
                          </div>
                        </div>
                        <div class="bottom">
                          <div class="cl-footer">
                            <div class="dolar">
                              <%= user.package1 %>
                            </div>
                            <a href="/buyPackage" class="btn-table btn-rounded btn-1 hvr-sweep-to-right">Buy
                              Now</a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- End Page wrapper  -->
    </div>
    <!-- End Wrapper -->
</body>