<body>
  <% layout('./layouts/sidebar') -%>
    <!-- Preloader -->
    <div class="preloader">
      <div class="lds-ripple">
        <div class="lds-pos"></div>
        <div class="lds-pos"></div>
      </div>
    </div>

    <!-- Page wrapper  -->
    <div class="page-wrapper">

      <!-- Container fluid  -->
      <div class="container-fluid">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">User Details</h4>
            <div class="row">
              <div class="col-lg-12">
                <div class="row m-t-30">
                  <div class="col-lg-4 col-md-12">
                    <div class="alert alert-success">
                      <h3 class="text-success"><i class="fa fa-envelope"></i> Email Id</h3>
                      <%= user.email %>
                    </div>
                  </div>
                  <div class="col-lg-8 col-md-12">
                    <div class="alert alert-info">
                      <h3 class="text-info"><i class="fa"><img src="assets/images/icons/xdce.png"></i> XDCE Address</h3>
                      <%= address %>
                    </div>
                  </div>
                </div>
                <div style="float:right;display: inline-block;"><button  class="btn btn-primary btn-export-key" data-target="#exportPrivKeyModal" data-toggle="modal">Export Private Key</button></div>
                <hr>
              </div>
            </div>
            <div class="clpricing-table cat-id-10">
              <div class="container-fluid">
                <div class="col-md-10">
                  <h4 class="card-title text-center">Packages Bought</h4>
                  <div class="row align-items-center price-table style10">
                    <div class="col-md-12 col-lg-6 col-sm-6 col-xs-12">
                      <div class="cl-pricetable-wrap price-1 category28 ">
                        <div class="top">
                          <div class="cl-header">
                            <h2>PACKAGE 1</h2>
                          </div>
                        </div>
                        <div class="bottom">
                          <div class="cl-footer">
                            <div class="dolar">
                              <%= user.package1 %>
                            </div>
                            <a href="/buyPackage" class="btn-table btn-rounded btn-1 hvr-sweep-to-right">Buy
                              Now</a>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-12 col-lg-6 col-sm-6 col-xs-12">
                      <div class="cl-pricetable-wrap price-1 category28 ">
                        <div class="top">
                          <div class="cl-header">
                            <h2>PACKAGE 2</h2>
                          </div>
                        </div>
                        <div class="bottom">
                          <div class="cl-footer">
                            <div class="dolar">
                              <%= user.package2 %>
                            </div>
                            <a href="/buyPackage" class="btn-table btn-rounded btn-1 hvr-sweep-to-right">Buy
                              Now</a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- End Page wrapper  -->
    </div>
    <!-- End Wrapper -->

    <div class="modal fade" id="exportPrivKeyModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel2">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title buy-tokens" id="exampleModalLabel2"><i class="ti-wallet"></i> Export Private Key</h4>

            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                aria-hidden="true">&times;</span></button>
          </div>
          <div class="modal-body">
            <div class="text-center">
              <% if (socialClient===true) {%>
                <h5> Please confirm to export private key</h5>              
                <% } else { %>
                  <h5> Please enter your password to confirm</h5>              
                  <% } %>            </div>
            <form id="form-exportPrivKey">
              <div class="input-group mb-3">
                <% if (socialClient===true) {%>
                  <input type="password" style="display: none;" class="form-control text-center" placeholder="" aria-label=""
                  id="export-key-pwd" />   
                  <% } else { %>
                    <input type="password" class="form-control text-center" placeholder="" aria-label=""
                    id="export-key-pwd" />                    
                  <% } %>
                <!-- <div class="input-group-append">
                    <button data-copytarget="#tokenAddress" class="btn btn-success" type="button">Copy</button>
                  </div> -->
              </div>

              <div class="modal-footer text-center">           
                <input value="Submit" type="submit" class="btn btn-rounded btn-info" />
              </div>
            </form>
          </div>
          
        </div>
      </div>
    </div>
    <!-- Private Key Form Modal Ends -->

    <div class="modal fade" id="exportPrivateKeyResp" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel3">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title buy-tokens" id="exampleModalLabel3"><i class="ti-wallet"></i> Export Private Key</h4>

            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                aria-hidden="true">&times;</span></button>
          </div>
          <div class="modal-body">
            <div class="text-center">
              <h5> Below is your private key</h5>              
            </div>
            <form>
              <div class="input-group mb-3">
                <div type="text" style="overflow-x: auto;" class="form-control text-center"
                  id="export-key-resp" ></div>  
              </div>
            </form>
          </div>
          <div class="modal-footer text-center">           
            <button type="button" class="btn btn-rounded btn-info" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

</body>

<script>

  // toastr.options = {
  //   positionClass="toast-top-right"
  // };

  $("#form-exportPrivKey").on("submit",e => {
    e.preventDefault();
    getPrivateKey();
    $("#exportPrivKeyModal").modal('toggle');
  })

  function getPrivateKey() {
    toastr.options = {
      "positionClass":"toast-top-right"
    }
    const pwd = document.getElementById("export-key-pwd").value;
    console.log("called getPrivateeKey", pwd);
    $.post({
      method:"post",
      url:"/api/getPrivateKey",
      data:{password:pwd},
      success: (resp) => {
        console.log("recvd. response for /api/getPrivateKey");
        if (resp.status) {
          // open the private key in modal
          document.getElementById("export-key-resp").innerHTML = resp.privKey;
          $("#exportPrivateKeyResp").modal('show');
        }else {
          toastr.error(resp.error)
        }
      },
      error: err => {
        console.log("error while making post req. /api/getPrivateKey");
        console.log(err);
        toastr.error("Error occured !!")
      }
    })
  }

  $('#exportPrivKeyModal').on('hidden.bs.modal', function() {
    document.getElementById("export-key-pwd").value = "";
  })

  $('#exportPrivateKeyResp').on('hidden.bs.modal', function () {
    document.getElementById("export-key-resp").innerHTML = "";
  });

</script>