<!-- views/profile.ejs -->
<!doctype html>
<html>

<head>
  <title>AutoCoin</title>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
  <style>
    body {
      padding-top: 80px;
      word-wrap: break-word;
      background-image: linear-gradient(180deg, rgba(53, 53, 138, 0.623), white);
      /* Standard syntax (must be last) */

    }
  </style>
</head>

<body>
  <div class="container">

    <div class="page-header">
      <h1 class="text-center"><span class="fa fa-user"></span> Profile Page</h1>
      <a href="/logout" class="btn btn-default btn-sm pull-right fa fa-power-off"> Logout</a>
      <br><br>
    </div>

    <div class="row">

      <!-- LOCAL INFORMATION -->
      <div class="col-sm-6 text-center">
        <div class="row">
          <div class="col-sm-12 text-center">
            <div class="well">
              <h3><span class="fa fa-info-circle"></span> User Details</h3><br>

              <p>
                <strong>email</strong>:
                <%= user.emailid %><br><br>
              </p>

            </div>
          </div>
        </div>
        <br><br><br>
        <% if (message.length >0) { %>
          <div class="alert alert-danger">
            <%= message %>
          </div>
          <a href="/buyPackage" class="btn btn-danger btn-sm">Buy your package here</a>
          <% } %>
          <br><br>
          <% if (contractMessage.length >0) { %>
            <div class="alert alert-success">
                <strong>Success!</strong> Contract Mined Succefully!
              </div>
              <br><hr>
            <% } %>
      </div>
      <div class="col-sm-6 text-center">
        <div class="row">
          <div class="col-sm-12 text-center">
            <div class="well">
              <h3>Smart Contract Creation</h3>
              <hr size="10">

              <br>
              <span> ERC20 Standard Token</span><br><br>
              <a href="/customContract" class="btn btn-default btn-sm">Create your own Token Contract here !!</a>
              <br>
              <hr size="5">
              <br>
              <span> ERC721 Standard Token (Coming Soon)</span><br><br>
              <a href="#" class="btn btn-default btn-sm" disabled>Create Contract</a>
            </div>
          </div>

          <div class="col-sm-12 text-center">
            <div class="well">
              <h3>Smart Contract Deployment</h3>
              <br>
              <a href="/deployer" class="btn btn-default btn-sm">Deploy Contract</a>

            </div>
          </div>
          <div class="col-sm-12 text-center">
            <div class="well">
              <h3>Smart Contract ICO platform</h3>
              <br>
              <% ProjectConfiguration.forEach(function(ProjectConfiguration){ %>
                <a href="/icoDashboardSetup/project/<%= ProjectConfiguration %>" class="btn "><%= ProjectConfiguration %>
                </a><br>
                <% }) %>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</body>

</html>