<!-- views/profile.ejs -->
<!doctype html>
<html>

<head>
  <title>AutoCoin</title>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
  <style>
    body {
      padding-top: 80px;
      word-wrap: break-word;
    }
  </style>
</head>

<body>
  <div class="container">

    <div class="page-header text-center">
      <h1>Recommended Contract</h1>
      <a href="/profile" class="btn btn-default btn-sm">Back</a>
      <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    </div>

    <div class="row">

      <!-- LOCAL INFORMATION -->
      <div class="col-sm-12">
        <div class="well text-center">
          <h2 class="text-center">Smart Contract Details </h2>
          <form action="/createContract" method="post">
          <h4>Functionalities</h4>

          <div class="form-group">
            <label for="token_name"> Token Name:</label>
            <input type="text" class="form-control" name="token_name" placeholder="Enter Token Name">
          </div>
          <div class="form-group">
            <label for="token_symbol">Token Symbol:</label>
            <input type="text" class="form-control" name="token_symbol" placeholder="Enter Token Symbol">
          </div>
          <div class="form-group">
                  <label for="token_decimals">Token Decimals:</label>
                  <input type="number" class="form-control" name="token_decimals" placeholder="Enter Token Decimals">
                </div>
          <div class="form-group">
                      <label for="token_supply">Total Supply:</label>
                      <input type="number" class="form-control" name="token_supply" placeholder="Enter Total Supply">
                    </div>
          <div class="form-group">
                          <label for="token_sale">Sale Token limit:</label>
                          <input type="number" class="form-control" name="token_sale" placeholder="Enter Sale Token limit">
                        </div>
          <div class="form-group">
                              <label for="eth_tokens">1 eth = ? tokens:</label>
                              <input type="number" class="form-control" name="eth_tokens">
                            </div>
                <input type="hidden" value=<%= user %>>
                <button type="submit" class="btn btn-default">Submit</button>
              </form>


        </div>
      </div>

    </div>

  </div>
</body>

</html>
