<!DOCTYPE html>
<html dir="ltr">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">

  <link href="https://fonts.googleapis.com/css?family=Muli:200,300,400,600,700,800,900" rel="stylesheet">

  <!-- Favicon icon -->
  <link rel="icon" type="image/png" sizes="16x16" href="assets/images/favicon.png">
  <title>MyContract</title>
  <!-- Style CSS -->
  <link href="assets/css/style.min.css" rel="stylesheet">
  <!-- Custom CSS -->
  <link href="assets/css/custom.css" rel="stylesheet">
  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
</head>

<body>
  <div class="main-wrapper">

    <!-- Preloader -->

    <div class="preloader">
      <div class="lds-ripple">
        <div class="lds-pos"></div>
        <div class="lds-pos"></div>
      </div>
    </div>

    <!-- Preloader -->


    <!-- Login box -->
    <section>
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-12 col-md-6 col-lg-5">
            <div class="auth-wrapper d-flex no-block justify-content-center align-items-center">
              <div class="auth-box login-box">
                <div id="loginform">
                  <div class="logo">
                    <span class="db"><img src="assets/images/logo.png" alt="AltCoin" /></span>
                    <h2 class="font-medium m-t-20 m-b-20">Welcome to MyContract</h2>
                    <h5 class="font-normal m-b-20">Reset your password</h5>
                  </div>
                  <!-- Form -->
                  <div class="row">
                    <div class="col-12">
                      <!-- <p><%- email %></p> -->
                      <form class="form-horizontal m-t-20" id="resetPasswordform" action="/updatePassword" method="post">
                        <div class="form-group">
                          <input type="text" value="<%- email %>" name="email" hidden="hidden" >
                          <label for="password">New Password</label>
                            <input type="password" class="form-control" id="password" name="password" placeholder="Enter password">
                                </div>
                          <div class="form-group">
                            <label for="retypePassword">Retype Password</label>
                            <input type="password" class="form-control" id="retypePassword" name="retypePassword" placeholder="Retype password">
                                </div>
                            <div class="form-group">
                              <div class="row align-items-center">
                                <div class="col-md-12 p-b-20">
                                  <button class="btn btn-lg btn-rounded btn-info" type="submit" onclick="return RetypePasswordValidation()">RESET</button>
                                </div>
                                <p id="retypepasswordcheck" class="invalid">Password should be<b> same in both fields</b></p>
                              </div>
                            </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-sm-12 col-md-6 col-lg-7">
            <div class="auth-wrapper-bg">
              <div class="auth-box_content">
                <p class="font-bold">Code your own Crowdsale token</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

  </div>



  <!-- All Required js -->

  <script src="assets/libs/jquery/jquery.min.js"></script>
  <!-- Bootstrap tether Core JavaScript -->
  <script src="assets/libs/popper.js/popper.min.js"></script>
  <script src="assets/libs/bootstrap/bootstrap.min.js"></script>

  <!-- This page plugin js -->

  <script>
    $('[data-toggle="tooltip"]').tooltip();
    $(".preloader").fadeOut();
    $("#retypepasswordcheck").hide();

    function RetypePasswordValidation(){
      let password = document.getElementById("password").value;
      let confirmPassword = document.getElementById("retypePassword").value;
      if (password !== confirmPassword) {
        // alert("Passwords do not match.");
        $("#retypepasswordcheck").show();
        return false;
      }
      return true;
    }
  </script>
</body>


</html>
