<!DOCTYPE html>
<html dir="ltr">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">

  <link href="https://fonts.googleapis.com/css?family=Muli:200,300,400,600,700,800,900" rel="stylesheet">

  <!-- Favicon icon -->
  <link rel="icon" type="image/png" sizes="16x16" href="assets/images/favicon.png">
  <title>MyContract</title>
  <!-- Style CSS -->
  <link href="assets/css/style.min.css" rel="stylesheet">
  <!-- Custom CSS -->
  <link href="assets/css/custom.css" rel="stylesheet">
  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
</head>

<body>
  <div class="main-wrapper">

    <!-- Preloader -->

    <div class="preloader">
      <div class="lds-ripple">
        <div class="lds-pos"></div>
        <div class="lds-pos"></div>
      </div>
    </div>

    <!-- Preloader -->


    <!-- Login box -->
    <section>
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-12 col-md-6 col-lg-5">
            <div class="auth-wrapper d-flex no-block justify-content-center align-items-center">
              <div class="auth-box login-box">
                <div id="loginform">
                  <div class="logo">
                    <span class="db"><img src="assets/images/logo.png" alt="AltCoin" /></span>
                    <h2 class="font-medium m-t-20 m-b-20">Create an Account</h2>
                    <h5 class="font-normal m-b-20">Enter your details to register</h5>
                  </div>
                  <!-- Form -->
                  <div class="row">
                    <div class="col-12">
                      <% if (message.length > 0) { %>
                        <div class="alert alert-danger">
                          <%= message %>
                        </div>
                        <% } %>
                          <form class="form-horizontal m-t-20" id="loginform" action="/signup" method="post">
                            <div class="form-group">
                              <label for="email">Email</label>
                              <input type="email" class="form-control" id="email" name="email" placeholder="Enter email">
                            </div>
                            <div class="form-group">
                              <label for="password">Password</label>
                              <input type="password" class="form-control" id="password" name="password" placeholder="Enter password">
                            </div>
                            <div class="form-group">
                              <label for="retypePassword">Retype Password</label>
                              <input type="password" class="form-control" id="retypePassword" placeholder="Retype password">
                            </div>
                            <div class="form-group">
                              <div class="row align-items-center">
                                <div class="col-md-12 p-b-20">
                                  <button class="btn btn-lg btn-rounded btn-info" type="submit">SIGNUP</button>
                                </div>
                              </div>
                            </div>

                            <p class="line-on-side text-muted text-center font-small-3 mx-2"><span>OR continue with</span></p>

                            <div class="row full-width">
                              <div class="col-xs-12 col-sm-12 col-md-12 m-t-10 text-center">
                                <div class="social">
                                  <a href="/auth/google" class="btn btn-lg btn-rounded btn-googleplus m-b-15" data-toggle="tooltip" title="" data-original-title="Login with Google">
                                  <i aria-hidden="true" class="fab fa-google"></i> Google</a>
                                  <a href="/auth/google" class="btn btn-lg btn-rounded btn-github m-b-15" data-toggle="tooltip" title="" data-original-title="Login with GitHub">
                                  <i aria-hidden="true" class="fab fa-github"></i> GitHub</a>

                                </div>
                              </div>
                            </div>
                            <div class="form-group m-b-0 m-t-15">
                              <div class="col-sm-12">
                                Already have an account? <a href="/login" class="text-info m-l-5"><b>Login</b></a>
                              </div>
                            </div>
                          </form>
                    </div>
                  </div>
                </div>
                <div id="recoverform">
                  <div class="logo">
                    <span class="db"><img src="assets/images/logo.png" alt="AltCoin" /></span>
                    <h2 class="font-medium m-t-20 m-b-20">Recover Password</h2>
                    <h5 class="font-normal m-b-20">Enter your Email and instructions will be sent to you!</h5>
                  </div>
                  <div class="row m-t-20">
                    <!-- Form -->
                    <form class="col-12" action="/forgotPassword" method="POST">
                      <label for="email">Email</label> <input class="form-control" type="text" name="email" placeholder="email">
                      <br>
                      <input class="btn btn-lg btn-rounded btn-info" type="submit" value="Submit">
                    </form>

                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-sm-12 col-md-6 col-lg-7">
            <div class="auth-wrapper-bg">
              <div class="auth-box_content">
                <p class="font-bold">Code your own Crowdsale token</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

  </div>



  <!-- All Required js -->

  <script src="assets/libs/jquery/jquery.min.js"></script>
  <!-- Bootstrap tether Core JavaScript -->
  <script src="assets/libs/popper.js/popper.min.js"></script>
  <script src="assets/libs/bootstrap/bootstrap.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.17.0/dist/jquery.validate.js"></script>

  <!-- This page plugin js -->
  <script type="text/javascript">
    $('body').addClass('login');
    $('#root-view').addClass('auth-layout');
  </script>

  <script>
    $('[data-toggle="tooltip"]').tooltip();
    $(".preloader").fadeOut();
    // ==============================================================
    // Login and Recover Password
    // ==============================================================
    $('#to-recover').on("click", function () {
      $("#loginform").slideUp();
      $("#recoverform").fadeIn();
    });
  </script>
  <script>
    $("#loginform").validate({
      rules: {
        email: {
          required: true,
          email: true
        },
        password: {
          required: true,
          noSpace: true,
          pwcheckallowedchars: true,
          pwcheckspechars: true,
          pwcheckuppercase: true,
        },
        retypePassword: {
          required: true,
          equalTo: '#password',
        },

      },
      messages: {
        password: {
          required: 'Password is required',
        },
        retypePassword: {
          required: 'Password Confirmation is required',
          equalTo: 'Password does not match',
        },

      }
    });
    jQuery.validator.addMethod("pwcheckallowedchars", function (value) {
      return /^[a-zA-Z0-9!@#$%^&*()_=\[\]{};':"\\|,.<>\/?+-]+$/.test(value) // has only allowed chars letter
    }, "The password contains non-admitted characters");

    jQuery.validator.addMethod("pwcheckspechars", function (value) {
      return /[!@#$%^&*()_=\[\]{};':"\\|,.<>\/?+-]/.test(value)
    }, "The password must contain at least one special character");

    jQuery.validator.addMethod("pwcheckuppercase", function (value) {
      return /[A-Z]/.test(value) // has an uppercase letter
    }, "The password must contain at least one uppercase letter");
  </script>
</body>

</html>