<!DOCTYPE html>
<html lang="zxx" class="js">

<head>
    <meta charset="utf-8">
    <meta name="author" content="Softnio">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description"
        content="MyContract - Leading Platform for Smart Contract Creation, Deployment, Interaction & Token Offering.">
    <meta name="Description"
        content="Leading Platform for Smart Contract Creation, Deployment, Interaction & Token Offering. Create your Smart Contract without Coding.">
    <meta name="Keywords"
        content="Smart Contract , Smart Contract Creation , Token Offering , Cryptocurrency , MyContract , Create Smart Contract , Smart Contract Generator , Blockchain Technology , My Smart Contract , Token , Blockchain , Token Offering Platform , Create Smart Contract Online , Technology , Token Generator , Ethereum , Bitcoin , Generate ERC20 token , Smart , Contract">

    <!-- Fav Icon -->
    <link rel="apple-touch-icon" sizes="57x57" href="landingPageAssets/images/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="landingPageAssets/images/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="landingPageAssets/images/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="landingPageAssets/images/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="landingPageAssets/images/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="landingPageAssets/images/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="landingPageAssets/images/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="landingPageAssets/images/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="landingPageAssets/images/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="landingPageAssets/images/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="landingPageAssets/images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="landingPageAssets/images/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="landingPageAssets/images/favicon/favicon-16x16.png">
    <link rel="manifest" href="landingPageAssets/images/favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="landingPageAssets/images/favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <!-- Goole Font -->
    <link href="https://fonts.googleapis.com/css?family=Muli:300,400,600,700,800,900" rel="stylesheet">

    <!-- Site Title  -->
    <title>MyContract | Create your Smart Contract without Coding</title>

    <!-- Vendor Bundle CSS -->
    <link rel="stylesheet" href="landingPageAssets/css/vendor.bundle.css">
    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="landingPageAssets/css/style.css">
    <link rel="stylesheet" href="landingPageAssets/css/toastr.min.css">
    <link rel="stylesheet" href="landingPageAssets/css/theme.css" id="layoutstyle">

</head>

<body class="theme-light io-jasmine" data-spy="scroll" data-target="#mainnav" data-offset="80">
    <!-- Header -->
    <header class="site-header is-sticky mobile-sticky" id="about">
        <!-- Place Particle Js -->
        <div id="particles-js" class="particles-container particles-js"></div>
        <!-- Navbar -->
        <div class="navbar navbar-expand-lg is-transparent" id="mainnav">
            <nav class="container">
                <a class="navbar-brand animated" data-animate="fadeInDown" data-delay=".65" href="/"><img
                        class="logo logo-dark" alt="logo" src="landingPageAssets/images/logo.png"><img
                        class="logo logo-light" alt="logo" src="landingPageAssets/images/logo-white.png"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle"><span
                        class="navbar-toggler-icon"><span class="fa fa-bars"></span></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="navbarToggle">
                    <ul class="navbar-btns animated remove-animation" data-animate="fadeInDown" data-delay="1.15">
                        <li class="nav-item"><a class="nav-link btn btn-sm btn-outline menu-link"
                                href="/login">LOGIN</a></li>
                    </ul>
                </div>
            </nav>
        </div>
        <!-- End Navbar -->
    </header>
    <!-- End Header -->

    <!-- Start Section -->
    <div class="section section-pad-md section-bg" id="howItWorks">
        <div class="ui-shape ui-shape-s1"></div>
        <div class="container">
            <div class="section-head-s8 text-center">
                <h2 class="section-title animated" data-animate="fadeInUp" data-delay=".1">User Agreement</h2>
            </div>

            <div class="row align-items-center">
                <div class="col-md-12">
                    <div class="desktop-diagram animated" data-animate="fadeInUp" data-delay=".3">
                        <h5> Welcome to MYCONTRACT!</h5>
                        <p>
                            This Agreement is a contract between you and mycontract.co, a Singaporean company, and
                            governs your use of Mycontract Services.
                            By signing up to use an account through mycontract.co you agree that you have read,
                            understood,
                            and accept all of the terms and conditions contained in this Agreement, as well as our <a
                                href="/privacyPolicy">Privacy Policy</a> <br> Using the Mycontract Services means that
                            you must
                            accept all of the terms and conditions mentioned herein below. You should read all of these
                            terms
                            carefully.
                        </p><br>
                        <h5>Eligibility</h5>
                        <p>To be eligible to use the Mycontract Services, you must be at least 18 years old.</p>
                        <h5>Mycontract Services</h5>
                        <p>Your Mycontract account (“Mycontract account”) encompasses the following Mycontract features
                            such
                            as:- creating and managing smart contracts with respect to token contracts, crowdscale
                            contracts,
                            allows automatic and manual deployment with various ways to access wallets, enables easy
                            smart
                            contract interaction with built-in interaction platform, allows convenient way to conduct
                            ICO
                            with admin dashboard for KYC and AML support.</p><br>
                        <h5>Registration of Mycontract account</h5>
                        <p>In order to use the Mycontract Services, you must first register by providing your name, an
                            e-mail
                            address, password, and affirming your acceptance of this Agreement. Mycontract.co may, in
                            our
                            sole discretion, refuse to allow you to establish a Mycontract Account, or limit the number
                            of
                            Mycontract Accounts that a single user may establish and maintain at any time. Once you
                            create
                            your account on the website, it will be your responsibility for maintaining security of your
                            account and you will be fully responsible for all the activities that occur under the
                            account
                            and any other actions taken in connection with it. You are liable to notify us of any
                            unauthorized
                            uses of your account or any other breaches of security. Mycontract will not be liable for
                            any
                            acts or omissions by you, including any damages of any kind incurred as a result of such
                            acts
                            or omissions. </p><br>
                        <h5>Website Accuracy</h5>
                        <p>Although we intend to provide accurate and timely information on the Mycontract.co website,
                            the
                            Mycontract.co website may not always be entirely accurate, complete or current and may also
                            include
                            technical inaccuracies or typographical errors. In an effort to continue to provide you with
                            as complete and accurate information as possible, information may be changed or updated from
                            time to time without notice, including without limitation information regarding our
                            policies,
                            products and services. Accordingly, you should verify all information before relying on it,
                            and
                            all decisions based on information contained on the Mycontract.co website are your sole
                            responsibility
                            and we shall have no liability for such decisions. Links to third-party materials may be
                            provided
                            as a convenience but are not controlled by us. You acknowledge and agree that we are not
                            responsible
                            for any aspect of the information, content, or services contained in any third-party
                            materials
                            or on any third party sites accessible or linked to the Mycontract.co website.</p><br>
                        <h5>Suspension, Termination, and Cancellation</h5>
                        <p>
                            Mycontract may: (a) suspend, restrict, or terminate your access to any or all of the
                            Mycontract Services, and/or (b) deactivate
                            or cancel your Mycontract Account if: <br> • We are required by a
                            court order, or binding order of a government authority; or <br> • We reasonably suspect you
                            of using your Mycontract Account in connection with a <a
                                href="https://www.coinbase.com/legal/user_agreement?country=uk#appendix-1:-prohibited-businesses-and-prohibited-use"
                                target="_blank">prohibited
                                use or business;</a> or <br> • Use of your Mycontract Account is subject to any pending
                            litigation,
                            investigation, or government proceeding and/or we perceive a heightened risk of legal or
                            regulatory
                            non-compliance associated with your Account activity; or <br> • Our service partners are
                            unable
                            to support your use; or <br> • You breach any of the points mentioned in the terms and
                            conditions
                            and Privacy Policy <br> You acknowledge that Mycontract's decision to take certain actions,
                            including
                            limiting access to, suspending, or closing your account, may be based on confidential
                            criteria
                            that are essential to Mycontract's risk management and security protocols. You agree that
                            Mycontract
                            is under no obligation to disclose the details of its risk management and security
                            procedures
                            to you. You may cancel your Mycontract Account at any time by withdrawing all balances, in
                            case
                            of any. You will not be charged for canceling your Mycontract Account, although you will be
                            required
                            to pay any outstanding amounts owed to Mycontract. You authorize us to cancel or suspend any
                            pending transactions at the time of cancellation.</p>
                        <h5>Relationship of the Parties</h5>
                        <p>Mycontract is an independent contractor for all purposes. Nothing in this Agreement shall be
                            deemed
                            or is intended to be deemed, nor shall it cause, you and Mycontract to be treated as
                            partners,
                            joint ventures, or otherwise as joint associates for profit, or either you or Mycontract to
                            be
                            treated as the agent of the other.</p><br>
                        <h5>No Representations & Warranties by Mycontract</h5>
                        <p>Mycontract makes no representations, warranties, or guarantees to you of any kind. The Site
                            and
                            the Services are offered strictly on an as-is, where-is basis and, without limiting the
                            generality
                            of the foregoing, are offered without any representation as to merchantability or fitness
                            for
                            any particular purpose.</p><br>
                        <h5>No Advice</h5>
                        <p>Mycontract does not provide any investment advice or advice on trading techniques, models,
                            algorithms,
                            or any other schemes.</p><br>
                        <h5>Indemnity</h5>
                        <p>
                            The Mycontract Parties shall not be liable for any act, omission, error of judgment or loss
                            suffered by you in connection
                            with this Agreement. You acknowledge and agree to indemnify and hold harmless the Mycontract
                            Parties from or against any or all liabilities, obligations, losses, damages, penalties,
                            actions,
                            judgments, suits, costs, expenses, including reasonable attorneys’ fees, rights, claims,
                            disbursements
                            or actions of any kind and injury (including death) arising out of or relating to your use
                            of
                            Mycontract or our performance or nonperformance of duties.

                        </p><br>
                        <h5>Limitation of Liability</h5>
                        <p>IN NO EVENT SHALL MYCONTRACT, ITS AFFILIATES AND SERVICE PROVIDERS, OR ANY OF THEIR
                            RESPECTIVE
                            OFFICERS, DIRECTORS, AGENTS, JOINT VENTURERS, EMPLOYEES OR REPRESENTATIVES, BE LIABLE (A)
                            FOR
                            ANY AMOUNT THE VALUE OF THE SUPPORTED DIGITAL CURRENCY ON DEPOSIT IN YOUR MYCONTRACT ACCOUNT
                            OR (B) FOR ANY LOST PROFITS OR ANY SPECIAL, INCIDENTAL, INDIRECT, INTANGIBLE, OR
                            CONSEQUENTIAL
                            DAMAGES, WHETHER BASED IN CONTRACT, TORT, NEGLIGENCE, STRICT LIABILITY, OR OTHERWISE,
                            ARISING
                            OUT OF OR IN CONNECTION WITH AUTHORIZED OR UNAUTHORIZED USE OF THE MYCONTRACT SITE OR THE
                            MYCONTRACT
                            SERVICES, OR THIS AGREEMENT, EVEN IF AN AUTHORIZED REPRESENTATIVE OF MYCONTRACT HAS BEEN
                            ADVISED
                            OF OR KNEW OR SHOULD HAVE KNOWN OF THE POSSIBILITY OF SUCH DAMAGES. </p>
                        <br>
                        <h5>Severability</h5>
                        <p>All rights and restrictions contained in this Agreement may be exercised and shall be
                            applicable
                            and binding only to the extent that they do not violate any applicable laws and are intended
                            to be limited to the extent necessary so that they will not render this Agreement illegal,
                            invalid
                            or unenforceable. If any provision or portion of any provision of this Agreement shall be
                            held
                            to be illegal, invalid or unenforceable by a court of competent jurisdiction, it is the
                            intention
                            of the parties that the remaining provisions or portions thereof shall constitute their
                            agreement
                            with respect to the subject matter hereof, and all such remaining provisions or portions
                            thereof
                            shall remain in full force and effect.</p><br>
                        <h5>Assignment</h5>
                        <p>You may not assign, resell, sub-license or otherwise transfer or delegate any of your rights
                            or
                            obligations hereunder, in whole or in part, without our prior written consent, which consent
                            shall be at our own sole discretion and without obligation; any such assignment or transfer
                            shall
                            be null and void.</p><br>
                        <h5>Changes and amendments</h5>
                        <p>We reserve the right to modify this Agreement or its policies relating to the Website or
                            Services
                            at any time, effective upon posting of an updated version of this Agreement on the Website.
                            When
                            we do we will revise the updated date at the bottom of this page. Continued use of the
                            Website
                            after any such changes shall constitute your consent to such changes.</p><br>
                        <h5>Force Majeure</h5>
                        <p>We shall not be liable for delays, failure in performance or interruption of service which
                            result
                            directly or indirectly from any cause or condition beyond our reasonable control, including
                            but
                            not limited to, any delay or failure due to any act of God, act of civil or military
                            authorities,
                            act of terrorists, civil disturbance, war, strike or other labor dispute, fire, interruption
                            in telecommunications or Internet services or network provider services, failure of
                            equipment
                            and/or software, other catastrophe or any other occurrence which is beyond our reasonable
                            control
                            and shall not affect the validity and enforceability of any remaining provisions.</p><br>
                        <h5>Contact Mycontract</h5>
                        <p>If you have any feedback, questions, or complaints, contact us via our email <a
                                href="mailto:info@mycontract.co" target="_top"> info@mycontract.co</a>. When you contact
                            us please provide us with your name,
                            address, and any other information we may need to identify you, your Mycontract Account, and
                            the transaction on which you have feedback, questions, or complaints.

                        </p><br>
                        <h5>Governing Law</h5>
                        <p>
                            This Agreement will be governed by Singapore law and the non-exclusive jurisdiction of the
                            Singapore courts.
                        </p>
                    </div>
                </div>
            </div>
            <!-- .row  -->
        </div>
        <!-- .conatiner  -->
    </div>
    <!-- Start Section -->

    <!-- Start Section -->
    <div class="section section-pad section-bg" id="contact">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-lg-4 res-m-bttm-sm">
                    <div class="section-head-s6">
                        <h2 class="section-title-s8 animated" data-animate="fadeInUp" data-delay=".2">Get In Touch</h2>
                        <p class="animated" data-animate="fadeInUp" data-delay=".2">Any question? Reach out to us and
                            we'll
                            get back to you shortly.</p>
                    </div>
                    <ul class="contact-info-alt">
                        <li class="animated" data-animate="fadeInUp" data-delay=".4"><em
                                class="fa fa-envelope"></em><span>info@mycontract.co</span></li>
                    </ul>
                </div>
                <!-- .col -->
                <div class="col-lg-7">
                    <form class="form-message form-message-s2 form-message-s3 text-left show-error-hint animated"
                        data-animate="fadeInUp" data-delay=".6" name="contactForm" id="contactUsForm"
                        action="javascript:void(0);" onSubmit="signIn()">
                        <div class="form-results"></div>
                        <div class="input-field">
                            <input name="contactName" type="text" placeholder="Your Name" data-validation="custom"
                                data-validation-regexp="[a-zA-Z][a-zA-Z0-9-_]{3,32}" class="input-border required"
                                aria-required="true">
                        </div>
                        <div class="input-field">
                            <input name="contactEmail" type="email" data-validation="email" placeholder="Your Email"
                                class="input-border required email" aria-required="true">
                        </div>
                        <div class="input-field">
                            <textarea name="contactMessage" placeholder="Your Message"
                                class="txtarea input-border required" data-validation="length"
                                data-validation-length="10-200" aria-required="true"></textarea>
                        </div>
                        <!-- <input type="text" class="d-none" name="form-anti-honeypot" value=""> -->
                        <div class="input-field">
                            <button type="submit" class="btn">Submit</button>
                        </div>
                    </form>
                </div>
                <!-- .col -->
            </div>
        </div>

    </div>
    <!-- End Section -->



    <!-- Section -->
    <div class="section footer-scetion footer-lavendar">
        <div class="social-overlap">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-10">
                        <ul class="social-bar animated" data-animate="fadeInUp" data-delay=".1">
                            <li>Follow us</li>
                            <li><a href="https://facebook.com/XinFinHybridBlockchain" target="_blank"><em
                                        class="fab fa-facebook-f"></em></a></li>
                            <li><a href="https://twitter.com/XinFin_Official" target="_blank"><em
                                        class="fab fa-twitter"></em></a></li>
                            <li><a href="https://t.me/xinfin" target="_blank"><em class="fab fa-telegram"></em></a></li>
                            <li><a href="https://www.linkedin.com/company/xinfin" target="_blank"><em
                                        class="fab fa-linkedin"></em></a></li>
                            <li><a href="https://www.youtube.com/channel/UCQaL6FixEQ80RJC0B2egX6g" target="_blank"><em
                                        class="fab fa-youtube"></em></a></li>
                            <li><a href="https://xinfin-public.slack.com/" target="_blank"><em
                                        class="fab fa-slack"></em></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="gaps size-4x"></div>
        <div class="gaps size-2x d-none d-sm-block"></div>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-sm-12 col-lg-3 res-m-bttm-sm">
                    <a class="footer-brand animated" data-animate="fadeInUp" data-delay=".2"><img
                            class="logo logo-light" alt="logo" src="landingPageAssets/images/logo-full-white.png"></a>
                </div>
                <!-- .col  -->
                <div class="col-sm-3 col-lg-2 res-l-bttm-lg">
                    <ul class="link-widget one-column animated" data-animate="fadeInUp" data-delay=".3">
                            <li><a class="menu-link" href="https://docs.mycontract.co/Media/Articles/">Media</a></li>
                        <li><a href="#about" class="menu-link">About Us</a></li>
                        <li><a href="#features" class="menu-link">Features</a></li>
                    </ul>
                </div>
                <!-- .col  -->
                <div class="col-sm-3 col-lg-2 res-l-bttm-lg">
                    <ul class="link-widget one-column animated" data-animate="fadeInUp" data-delay=".4">
                            <li><a class="menu-link" href="https://docs.mycontract.co/faq/faq/">FAQs</a></li>
                        <li><a href="#contact" class="menu-link">Contact</a></li>
                        <li><a href="https://mycontract.co/login" class="menu-link">Login</a></li>
                    </ul>
                </div>
                <!-- .col  -->
                <div class="col-sm-6 col-lg-5">
                    <p class="text-white mb-1">Keep in touch with the latest news</p>
                    <form action="javascript:void(0);" name="subscribeForm" class="subscription-form inline-form-s2">
                        <input type="text" name="subscriberEmail" id="subscriberEmail"
                            class="input-round-s2 required email" placeholder="Email address" />
                        <button type="submit" class="btn btn-plane">Subscribe</button>
                    </form>
                </div>
                <!-- .col  -->
            </div>
            <!-- .row  -->
        </div>
        <!-- .container  -->
        <hr class="hr-line">
        <!-- .hr-line  -->
        <div class="container">
            <div class="row">
                <div class="col-md-7"><span class="copyright-text">Copyright © 2018, MyContract. All Rights
                        Reserved.</span></div>
                <!-- .col  -->
                <div class="col-md-5 text-right mobile-left">
                    <ul class="footer-links">
                        <li><a href="/privacyPolicy">Privacy Policy</a></li>
                        <li><a href="/termsConditions">Terms & Conditions</a></li>
                    </ul>
                </div>
                <!-- .col  -->
            </div>
            <!-- .row  -->
        </div>
        <!-- .container  -->
        <div class="gaps size-2x"></div>
    </div>



    <!-- Preloader !remove please if you do not want -->
    <div id="preloader">
        <div id="loader"></div>
        <div class="loader-section loader-top"></div>
        <div class="loader-section loader-bottom"></div>
    </div>
    <!-- Preloader End -->



    <!-- JavaScript (include all script here) -->
    <script src="landingPageAssets/js/jquery.bundle.js"></script>
    <script src="landingPageAssets/js/script.js"></script>
    <script src="landingPageAssets/js/toastr.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.17.0/dist/jquery.validate.js"></script>
    <script>
        $(function () {
            $("form[name='contactForm']").validate({
                rules: {
                    contactName: {
                        required: true,
                        minlength: 3
                    },
                    contactEmail: {
                        required: true,
                        email: true
                    },
                    contactMessage: {
                        required: true,
                        minlength: 10
                    }
                },
                messages: {
                    contactName: {
                        required: "Please provide your full name",
                        minlength: "Your name must be at least 3 characters long"
                    },
                    contactEmail: "Please enter a valid email address",
                    contactMessage: "Message must be at least 10 characters long"
                },
                submitHandler: function (form) {
                    toastr.options = {
                        "closeButton": false,
                        "debug": false,
                        "newestOnTop": false,
                        "progressBar": false,
                        "positionClass": "toast-bottom-right",
                        "preventDuplicates": false,
                        "onclick": null,
                        "showDuration": "300",
                        "hideDuration": "1000",
                        "timeOut": "5000",
                        "extendedTimeOut": "1000",
                        "showEasing": "swing",
                        "hideEasing": "linear",
                        "showMethod": "fadeIn",
                        "hideMethod": "fadeOut"
                    }
                    toastr.info('Your Message Successfully sent to Administrator.')
                    var formData = new FormData(form);
                    console.log(formData)
                    $.ajax({
                        url: '/contactUs',
                        type: 'POST',
                        data: formData,
                        success: function (data) {
                        },
                        cache: false,
                        contentType: false,
                        processData: false
                    });
                    $("#contactUsForm")[0].reset()
                }
            });
        });
        $(function () {
            $("form[name='subscribeForm']").validate({
                rules: {
                    subscriberEmail: {
                        required: true,
                        email: true
                    },
                },
                invalidHandler: function (form, validator) {
                    toastr.options = {
                        "closeButton": false,
                        "debug": false,
                        "newestOnTop": false,
                        "progressBar": false,
                        "positionClass": "toast-bottom-right",
                        "preventDuplicates": false,
                        "onclick": null,
                        "showDuration": "300",
                        "hideDuration": "1000",
                        "timeOut": "5000",
                        "extendedTimeOut": "1000",
                        "showEasing": "swing",
                        "hideEasing": "linear",
                        "showMethod": "fadeIn",
                        "hideMethod": "fadeOut"
                    }
                    toastr.error("not a valid email !", "Email")

                },
                submitHandler: function (form) {
                    toastr.options = {
                        "closeButton": false,
                        "debug": false,
                        "newestOnTop": false,
                        "progressBar": false,
                        "positionClass": "toast-bottom-right",
                        "preventDuplicates": false,
                        "onclick": null,
                        "showDuration": "300",
                        "hideDuration": "1000",
                        "timeOut": "5000",
                        "extendedTimeOut": "1000",
                        "showEasing": "swing",
                        "hideEasing": "linear",
                        "showMethod": "fadeIn",
                        "hideMethod": "fadeOut"
                    }
                    var formData = new FormData(form[0]);
                    console.log(formData)
                    $.ajax({
                        url: '/subscribe',
                        type: 'POST',
                        data: formData,
                        success: function (data) {
                            toastr.info('Thank you.')
                        },
                        cache: false,
                        contentType: false,
                        processData: false
                    });
                    $("subscription-form")[0].reset()
                }
            });
        });
    </script>
</body>

</html>