<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Harmonising Halal Worldwide through Blockchain Solutions. A seamless Halal Food Eco-System." />
    <title>WhatsHalal - Harmonising Halal Worldwide through Blockchain Solutions</title>

    <!-- Favicon Icon -->
    <link rel="apple-touch-icon" sizes="57x57" href="assets/images/favicon/favicon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="assets/images/favicon/favicon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="assets/images/favicon/favicon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="assets/images/favicon/favicon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="assets/images/favicon/favicon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="assets/images/favicon/favicon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="assets/images/favicon/favicon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="assets/images/favicon/favicon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="assets/images/favicon/favicon-180x180.png">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="assets/images/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/images/favicon/favicon-16x16.png">

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900" rel="stylesheet">

    <!-- Animation CSS -->
    <link rel="stylesheet" href="assets/css/animate.css">
    <!-- Latest Bootstrap min CSS -->
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <!-- Font Awesome CSS -->
    <link rel="stylesheet" href="assets/css/font-awesome.min.css">
    <!-- Style CSS -->
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/responsive.css">
    <link rel="stylesheet" href="assets/css/admin.css">

    <link href="assets/popup/popup-styles.css" rel="stylesheet" />
    <script src="assets/popup/jquery.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function() {
            $('.deposit').on('click', function() {
                $('.deposit-block, .deposit-overlay').addClass('is-active');
            })
            $('.close, .deposit-overlay').on('click', function() {
                $('.deposit-block, .deposit-overlay').removeClass('is-active');
            })
            $('.withdraw').on('click', function() {
                $('.withdraw-block, .withdraw-overlay').addClass('is-active');
            })
            $('.close, .deposit-overlay').on('click', function() {
                $('.withdraw-block, .withdraw-overlay').removeClass('is-active');
            })
        })
    </script>

</head>

<body class="v_light_dark" data-spy="" data-offset="110">

    <!-- START LOADER -->
    <div id="loader-wrapper">
        <div id="loading-center-absolute">
            <div class="object" id="object_four"></div>
            <div class="object" id="object_three"></div>
            <div class="object" id="object_two"></div>
            <div class="object" id="object_one"></div>
        </div>
        <div class="loader-section section-left"></div>
        <div class="loader-section section-right"></div>

    </div>
    <!-- END LOADER -->

    <!-- START HEADER -->
    <header class="header_wrap fixed-top">
        <div class="container-fluid">
            <nav class="navbar navbar-expand-lg">
                <a class="navbar-brand page-scroll animation" href="https://whatshalal.io#home_section" data-animation="fadeInDown" data-animation-delay="1s">
                    <img class="logo_light" src="assets/images/logo.png" alt="WhatsHalal Logo" />
                    <img class="logo_dark" src="assets/images/logo_dark.png" alt="WhatsHalal Logo" />
                </a>
                <button class="navbar-toggler animation" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" data-animation="fadeInDown" data-animation-delay="1.1s">
                    <span class="fa fa-bars"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                    <ul class="navbar-nav m-auto">
                        <li class="animation" data-animation="fadeInDown" data-animation-delay="1.1s"><a class="nav-link page-scroll nav_item" href="https://whatshalal.io#about">About</a></li>
                        <li class="animation" data-animation="fadeInDown" data-animation-delay="1.2s"><a class="nav-link page-scroll nav_item" href="https://whatshalal.io#token">Token Sale</a></li>
                        <li class="animation" data-animation="fadeInDown" data-animation-delay="1.3s"><a class="nav-link page-scroll nav_item" href="https://whatshalal.io#tokenAllocation">Token Allocation</a></li>
                        <li class="animation" data-animation="fadeInDown" data-animation-delay="1.4s"><a class="nav-link page-scroll nav_item" href="https://whatshalal.io#roadmap">Road Map</a></li>
                        <li class="animation" data-animation="fadeInDown" data-animation-delay="1.4s"><a class="nav-link page-scroll nav_item" href="https://whatshalal.io#team">Team</a></li>
                        <li class="animation" data-animation="fadeInDown" data-animation-delay="1.5s"><a class="nav-link page-scroll nav_item" href="https://whatshalal.io#faq">FAQ</a></li>
                        <li class="animation" data-animation="fadeInDown" data-animation-delay="1.6s"><a class="nav-link page-scroll nav_item" href="https://whatshalal.io#press">Press</a></li>
                        <li class="animation" data-animation="fadeInDown" data-animation-delay="1.7s"><a class="nav-link page-scroll nav_item" href="https://whatshalal.io#contact">Contact</a></li>
                    </ul>
                    <ul class="navbar-nav nav_btn align-items-center">
                    </ul>

                    <ul class="navbar-nav nav_btn align-items-center">

                        <li class="nav-item dropdown menu_user show animation" data-animation="fadeInDown" data-animation-delay="1.8s"><a class="btn btn-default nav_item nav-link dropdown-toggle" id="userDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Lester Tang</a>
                            <div class="dropdown-menu dropdown-menu-right show" aria-labelledby="userDropdown">
                                <ul class="menu-nav list_none">
                                    <li><a href="profile.html"><i class="fa fa-address-card-o"></i><span>Edit Profile</span></a></li>
                                    <li><a href="#" data-toggle="modal" data-target="#exampleModal"><i class="fa fa-sign-out"></i>Logout</a></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>
    <!-- END HEADER -->

    <!-- START SECTION BANNER -->
    <section class="section_breadcrumb bg_green_dark" data-z-index="1" data-parallax="scroll" data-image-src="assets/images/login_banner_bg.png">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="banner_text text-center">
                        <h1 class="animation" data-animation="fadeInUp" data-animation-delay="1.1s">My Wallet</h1>
                        <ul class="breadcrumb bg-transparent justify-content-center animation m-0 p-0" data-animation="fadeInUp" data-animation-delay="1.3s">
                            <li><a href="index.html">Home</a> </li>
                            <li><span>My Wallet</span></li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- END SECTION BANNER -->

    <!-- START SECTION KYC -->
    <section class="section_token small_pt small_pb">
        <div class="container">

            <div class="row">
                <div class="col-lg-12 align-items-center justify-content-between">
                    <div>
                        <h2 class="page_title text_green mt-0">My Wallet <span class="wallet_balance">Wallet Balance : 0.00</span></h2>
                    </div>
                </div>
            </div>

            <div class="row align-items-center">
                <div class="col-lg-12">
                    <div class="content_box">
                        <div class="table-responsive">
                            <table class="table my-wallet-table">
                                <thead>
                                    <tr>
                                        <th>Currency</th>
                                        <th>Balance</th>
                                        <th>Total</th>
                                        <th>Deposit</th>
                                        <th>Withdraw</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="title">
                                            <div class="item"><img src="assets/images/currency_icons/bitcoin.png"> Bitcoin</div>
                                        </td>
                                        <td>
                                            <div class="item">0.05432081</div>
                                        </td>
                                        <td>
                                            <div class="item">0.05432081</div>
                                        </td>
                                        <td>
                                            <div class="item deposit"><img src="assets/images/deposit.png"> Deposit</div>
                                        </td>
                                        <td>
                                            <div class="item withdraw"><img src="assets/images/withdraw.png"> Withdraw</div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="title">
                                            <div class="item"><img src="assets/images/currency_icons/dash-icon.png"> Bitcoin</div>
                                        </td>
                                        <td>
                                            <div class="item">0.05432081</div>
                                        </td>
                                        <td>
                                            <div class="item">0.05432081</div>
                                        </td>
                                        <td>
                                            <div class="item deposit"><img src="assets/images/deposit.png"> Deposit</div>
                                        </td>
                                        <td>
                                            <div class="item withdraw"><img src="assets/images/withdraw.png"> Withdraw</div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="title">
                                            <div class="item"><img src="assets/images/currency_icons/ethereum.png"> Bitcoin</div>
                                        </td>
                                        <td>
                                            <div class="item">0.05432081</div>
                                        </td>
                                        <td>
                                            <div class="item">0.05432081</div>
                                        </td>
                                        <td>
                                            <div class="item deposit"><img src="assets/images/deposit.png"> Deposit</div>
                                        </td>
                                        <td>
                                            <div class="item withdraw"><img src="assets/images/withdraw.png"> Withdraw</div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="title">
                                            <div class="item"><img src="assets/images/currency_icons/litecoin.png"> Bitcoin</div>
                                        </td>
                                        <td>
                                            <div class="item">0.05432081</div>
                                        </td>
                                        <td>
                                            <div class="item">0.05432081</div>
                                        </td>
                                        <td>
                                            <div class="item deposit"><img src="assets/images/deposit.png"> Deposit</div>
                                        </td>
                                        <td>
                                            <div class="item withdraw"><img src="assets/images/withdraw.png"> Withdraw</div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="title">
                                            <div class="item"><img src="assets/images/currency_icons/omisego.png"> Bitcoin</div>
                                        </td>
                                        <td>
                                            <div class="item">0.05432081</div>
                                        </td>
                                        <td>
                                            <div class="item">0.05432081</div>
                                        </td>
                                        <td>
                                            <div class="item deposit"><img src="assets/images/deposit.png"> Deposit</div>
                                        </td>
                                        <td>
                                            <div class="item withdraw"><img src="assets/images/withdraw.png"> Withdraw</div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="title">
                                            <div class="item"><img src="assets/images/currency_icons/qtum.png"> Bitcoin</div>
                                        </td>
                                        <td>
                                            <div class="item">0.05432081</div>
                                        </td>
                                        <td>
                                            <div class="item">0.05432081</div>
                                        </td>
                                        <td>
                                            <div class="item deposit"><img src="assets/images/deposit.png"> Deposit</div>
                                        </td>
                                        <td>
                                            <div class="item withdraw"><img src="assets/images/withdraw.png"> Withdraw</div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="title">
                                            <div class="item"><img src="assets/images/currency_icons/tron.png"> Bitcoin</div>
                                        </td>
                                        <td>
                                            <div class="item">0.05432081</div>
                                        </td>
                                        <td>
                                            <div class="item">0.05432081</div>
                                        </td>
                                        <td>
                                            <div class="item deposit"><img src="assets/images/deposit.png"> Deposit</div>
                                        </td>
                                        <td>
                                            <div class="item withdraw"><img src="assets/images/withdraw.png"> Withdraw</div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="title">
                                            <div class="item"><img src="assets/images/currency_icons/ripple.png"> Bitcoin</div>
                                        </td>
                                        <td>
                                            <div class="item">0.05432081</div>
                                        </td>
                                        <td>
                                            <div class="item">0.05432081</div>
                                        </td>
                                        <td>
                                            <div class="item deposit"><img src="assets/images/deposit.png"> Deposit</div>
                                        </td>
                                        <td>
                                            <div class="item withdraw"><img src="assets/images/withdraw.png"> Withdraw</div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="title">
                                            <div class="item"><img src="assets/images/currency_icons/zcash.png"> Bitcoin</div>
                                        </td>
                                        <td>
                                            <div class="item">0.05432081</div>
                                        </td>
                                        <td>
                                            <div class="item">0.05432081</div>
                                        </td>
                                        <td>
                                            <div class="item deposit"><img src="assets/images/deposit.png"> Deposit</div>
                                        </td>
                                        <td>
                                            <div class="item withdraw"><img src="assets/images/withdraw.png"> Withdraw</div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- END SECTION KYC -->

    <!-- START FOOTER SECTION -->
    <footer>
        <div class="top_footer bg_footer">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-12">
                        <div class="footer_logo mb-3 animation" data-animation="fadeInUp" data-animation-delay="0.2s">
                            <a href="#home_section" class="page-scroll"><img alt="logo" src="assets/images/footer_logo.png"></a>
                        </div>
                        <div class="footer_desc">
                            <p class="animation" data-animation="fadeInUp" data-animation-delay="0.4s">1 Fullerton Road #02-01
                                <br>One Fullerton
                                <br>Singapore 049213
                                <br>UE: 201733287Z</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 res_md_mt_30 res_sm_mt_20">
                        <h4 class="footer_title border_title animation" data-animation="fadeInUp" data-animation-delay="0.2s">Quick Links</h4>
                        <ul class="footer_link half_link list_none">
                            <li class="animation" data-animation="fadeInUp" data-animation-delay="0.2s"><a class="page-scroll nav_item" href="https://whatshalal.io#about">Home</a></li>
                            <li class="animation" data-animation="fadeInUp" data-animation-delay="0.3s"><a class="page-scroll nav_item" href="https://whatshalal.io#token">Token Sale</a></li>
                            <li class="animation" data-animation="fadeInUp" data-animation-delay="0.4s"><a class="page-scroll nav_item" href="https://whatshalal.io#tokenAllocation">Token Allocation</a></li>
                            <li class="animation" data-animation="fadeInUp" data-animation-delay="0.5s"><a class="page-scroll nav_item" href="https://whatshalal.io#roadmap">RoadMap</a></li>
                            <li class="animation" data-animation="fadeInUp" data-animation-delay="0.6s"><a class="page-scroll nav_item" href="https://whatshalal.io#team">Team</a></li>
                            <li class="animation" data-animation="fadeInUp" data-animation-delay="0.7s"><a class="page-scroll nav_item" href="https://whatshalal.io#faq">FAQ</a></li>
                            <li class="animation" data-animation="fadeInUp" data-animation-delay="0.8s"><a href="assets/pdf/whitepaper.pdf">Whitepaper</a></li>
                            <li class="animation" data-animation="fadeInUp" data-animation-delay="0.9s"><a href="assets/pdf/technical-paper.pdf">Technical Paper</a></li>
                            <li class="animation" data-animation="fadeInUp" data-animation-delay="1s"><a class="page-scroll nav_item" href="https://whatshalal.io#press">Press</a></li>
                            <li class="animation" data-animation="fadeInUp" data-animation-delay="1.1s"><a class="page-scroll nav_item" href="https://whatshalal.io#contact">Contact</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-4 col-md-6 res_md_mt_30 res_sm_mt_20">
                        <div class="newsletter_form">
                            <h4 class="footer_title border_title animation" data-animation="fadeInUp" data-animation-delay="0.2s">Newsletter</h4>
                            <p class="animation" data-animation="fadeInUp" data-animation-delay="0.4s">By subscribing to our mailing list you will always be update with the latest news.</p>
                            <form class="subscribe_form animation" data-animation="fadeInUp" data-animation-delay="0.6s">
                                <input class="input-rounded" type="text" required placeholder="Enter Email Address" />
                                <button type="submit" title="Subscribe" class="btn-info btn-default btn-radius" name="submit" value="Submit">Subscribe</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="bottom_footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <p class="copyright">Copyright &copy; 2018, WhatsHalal. All Rights Reserved.</p>
                    </div>
                    <div class="col-md-6">
                        <ul class="list_none footer_menu">
                            <li><a href="privacy-policy.html">Privacy Policy</a></li>
                            <li><a href="terms-conditions.html">Terms & Conditions</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- END FOOTER SECTION -->

    <a href="#" class="scrollup btn-default"><i class="fa fa-angle-up"></i></a>

    <!------------------ Overlay popup ----------------->
    <div class="deposit-overlay"></div>
    <div class="deposit-block">
        <h3 class="deposit-title"><img src="assets/images/deposit.png"> Bitcoin Deposit <a class="close" href="#"><img src="assets/images/close.png"></a></h3>
        <div class="text-center">
            <div class="download-graph">
                <img src="assets/images/download-graph.jpg">
            </div>
        </div>
        <div class="graph-copy">
            <p>1UgM7tQZojZYHDRBpy5gG84NxJmsXz1bC </p>
            <a href="#"><img src="assets/images/copy.png"> Copy</a>
        </div>
        <div class="destination">
            <h3><span>Destination Tag :</span> 64744238</h3>
            <h4>Note</h4>
            <p>1. Please only transfer ripple tokens to this wallet address. Sending any others token may result into a loss and no wallet credit.</p>
            <p>2. Enter your destination tag in the source wallet (from where you are sending XRP tokens to GNERGY wallet) along with the wallet address as mentioned above. If your wallet doesn't ask for a destination tag, please transfer your XRP tokens to a local wallet first and then transfer it to GNERGY using your destination tag as a unique and compulsory identifier.</p>
            <p>3. If you send XRP tokens without mentioning your destination tag, your deposit will not be processed and GNERGY will not be responsible for the loss of tokens in that case.</p>
        </div>

    </div>

    <div class="withdraw-overlay"></div>
    <div class="withdraw-block">
        <h3 class="withdraw-title"><img src="assets/images/withdraw.png"> Bitcoin Withdraw <a class="close" href="#"><img src="assets/images/close.png"></a></h3>

        <h4>Note</h4>
        <p>Withdrawal request are being processed manually. Kindly expect a delay of 1-2 working days for its processing. Appreciate your patience.</p>
        <form action="/action_page.php">
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <div class="graph-copy">
                            <p>1UgM7tQZojZYHDRBpy5gG84NxJmsXz1bC </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="To XDC Address" name="xdcaddress">
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="form-group">
                        <div class="graph-copy">
                            <p>0.00000000 XDC </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Transfer Amount" name="transferamount">
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Total Amount" name="totalamount">
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="OTP" name="otp">
                        <span class="send-otp"><a href="#">Generate OTP</a></span>
                    </div>
                </div>
                <div class="col-sm-12 otp text-right">
                    <div class="form-group">
                        <button class="btn btn-default" type="submit" name="Submit" value="Login">SIGN UP</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <!------------------ Overlay popup ----------------->

    <!-- Latest jQuery -->
    <script src="assets/js/jquery-1.12.4.min.js"></script>
    <!-- Latest compiled and minified Bootstrap -->
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <!-- owl-carousel min js  -->
    <script src="assets/owlcarousel/js/owl.carousel.min.js"></script>
    <!-- magnific-popup min js  -->
    <script src="assets/js/magnific-popup.min.js"></script>
    <!-- waypoints min js  -->
    <script src="assets/js/waypoints.min.js"></script>
    <!-- parallax js  -->
    <script src="assets/js/parallax.js"></script>
    <!-- countdown js -->
    <script src="assets/js/jquery.countdown.min.js"></script>
    <!-- scripts js -->
    <script src="assets/js/jquery.dd.min.js"></script>
    <!-- jquery.counterup.min js -->
    <script src="assets/js/jquery.counterup.min.js"></script>
    <!-- scripts js -->
    <script src="assets/js/scripts.js"></script>

</body>

</html>