

<% layout('./userHeader') -%>
    <!-- START SECTION SIGN UP -->
    <section class="small_pt small_pb">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <div class="title_dark">
                        <h4 class="animation animated fadeInUp" data-animation="fadeInUp" data-animation-delay="0.2s" style="animation-delay: 0.2s; opacity: 1;">Support</h4>
                    </div>
                    <p>Have a question?</p>
                    <p>Reach out to us and we will get back to you shortly.</p>
                    <ul class="list_none text-dark contact_info_admin mt-margin">
                        <li class="animation animated fadeInUp" data-animation="fadeInUp" data-animation-delay="0.4s" style="animation-delay: 0.4s; opacity: 1;">
                            <i class="fa fa-envelope"></i>
                            <div class="contact_detail_admin"> <span>Email-id</span>
                                <p><%= projectConfiguration.contactEmail %></p>
                            </div>
                        </li>
                    </ul>

                </div>
                <div class="col-lg-6">
                    <div class="authorize_box">
                        <div class="title_dark title_border text-center">
                            <h4 class="animation" data-animation="fadeInUp" data-animation-delay="0.2s">Contact</h4>
                        </div>
                        <div class="field_form authorize_form">
                            <form id="Contact_form" action="./contact_us" method="post">
                                <div class="form-group col-md-12 animation" data-animation="fadeInUp" data-animation-delay="0.5s">
                                    <input type="text" class="form-control" required="" placeholder="Name" name="enquiry_name" id="enquiry_name">
                                </div>
                                <div class="form-group col-md-12 animation" data-animation="fadeInUp" data-animation-delay="0.6s">
                                    <input type="email" class="form-control" required="" placeholder="Email" name="enquiry_email" id="enquiry_email">
                                </div>
                                <div class="form-group col-md-12 animation" data-animation="fadeInUp" data-animation-delay="0.7s">
                                    <input type="text" class="form-control" required="" placeholder="Mobile No." name="telephone" id="telephone">
                                </div>
                                <div class="form-group col-md-12 animation" data-animation="fadeInUp" data-animation-delay="0.8s">
                                    <textarea name="enquiry_message" id="enquiry_message" cols="" rows="" class="form-control" placeholder="Type your message"></textarea>
                                </div>
                                <div class="form-group col-md-12 text-center animation" data-animation="fadeInUp" data-animation-delay="1s">
                                    <button class="btn btn-default" type="submit">Submit</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- END SECTION SIGN UP -->
<!-- / latest exchanges -->
<!-- footer -->


<!-- / footer -->
<!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
<% include partials/icoScripts %>


</script>

<script type="text/javascript">
    $('body').addClass('login');
    $('#root-view').addClass('auth-layout');
</script>

<style type="text/css">
    .login-box-body {
        position: relative;
    }
</style>
<script>
    $('body').addClass('page-header-fixed page-sidebar-closed-hide-logo page-container-bg-solid page-content-white');
    $('#root-view').addClass('page-wrapper');
    $(function () {
        //$.getScript('assets/bower_components/metronic/global/scripts/app.js').then(function () {
        //$.getScript('assets/bower_components/metronic/pages/scripts/dashboard.js');
        //$.getScript('assets/bower_components/metronic/layouts/layout/scripts/layout.js');
        //$.getScript('assets/bower_components/metronic/layouts/layout/scripts/demo.js');
        //$.getScript('assets/bower_components/metronic/layouts/global/scripts/quick-sidebar.js');
        //$.getScript('assets/bower_components/metronic/layouts/global/scripts/quick-nav.js');
        //})

    });
</script>

<script type="text/javascript">
    $("#subscribe_form").validate(
        {
            rules:
                {
                    email:{required:true,email:true},
                },
            messages:
                {
                    email: {required: 'Email is required', email: 'Enter valid email'},
                }
        });
</script><!--selectpicker ends-->

    <script type="text/javascript">
        $.validator.addMethod(
            "regex",
            function(value, element, regexp) {
                var re = new RegExp(regexp);
                return this.optional(element) || re.test(value);
            },
            "Number Not valid."
        );
        $("#Contact_form").validate({
            rules:
                {
                    // enquiry_name:{required:true,minlength:2,  maxlength:500, regex:"^(?!.*\\s{2,})(?!^ )[A-Za-z\\s]{1,500}$"},
                    enquiry_name:{required:true,minlength:2,  maxlength:500, regex:"(?!^ +$)^.+$"},
                    enquiry_email:{required:true,email:true},
                    telephone:{required:true, regex:"^[1-9][0-9]*$"},
                    enquiry_message:{required:true,regex:"(?!^ +$)^.+$"},


                },
            messages:
                {
                    enquiry_name:{required:'Name is required',minlength:'Name should contain atleast two alphabets',maxlength:'First name should not exceed than 500 characters',regex:'Only alphabets allowed'},
                    enquiry_email:{required:'Email is required',email:'Enter valid email',},
                    telephone:{required:'Mobile no. is required',regex:'Mobile no. is not valid'},
                    enquiry_message:{required:'Message content is required',regex:'Only alphabets allowed'},
                }
        });


        $("#telephone").keydown(function (evt) {
            var charCode = (evt.which) ? evt.which : evt.keyCode
            if (charCode > 32 && (charCode < 46 || charCode > 57) && (charCode < 90 || charCode > 107) && (charCode < 109 || charCode > 111) && (charCode < 189 || charCode > 191))
                return false;
            return true;
        });
        jQuery.validator.addMethod("alphanumer", function(value, element) {
            return this.optional(element) || /^([a-zA-Z0-9 _-]+)$/.test(value);
        }, 'Does not allow any grammatical connotation, like " : ./');

        jQuery.validator.addMethod("lettersonlys", function(value, element) {
            return this.optional(element) || /^[a-zA-Z ]*$/.test(value);
        }, "Letters only please");

    </script>

</body>
</html>
