<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%=projectConfiguration.coinName %></title>

    <!-- Favicon Icon -->
    <link rel="apple-touch-icon" sizes="57x57" href="../../assets/images/favicon.png">
    <link rel="apple-touch-icon" sizes="60x60" href="../../assets/images/favicon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="../../assets/images/favicon.png">
    <link rel="apple-touch-icon" sizes="76x76" href="../../assets/images/favicon.png">
    <link rel="apple-touch-icon" sizes="114x114" href="../../assets/images/favicon.png">
    <link rel="apple-touch-icon" sizes="120x120" href="../../assets/images/favicon.png">
    <link rel="apple-touch-icon" sizes="144x144" href="../../assets/images/favicon.png">
    <link rel="apple-touch-icon" sizes="152x152" href="../../assets/images/favicon.png">
    <link rel="apple-touch-icon" sizes="180x180" href="../../assets/images/favicon.png">
    <!-- <link rel="icon" type="image/png" sizes="32x32" href="../../icoAssets/images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="../../icoAssets/images/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../../icoAssets/images/favicon/favicon-16x16.png"> -->
    <link rel="icon" type="image/png" sizes="16x16" href="../../assets/images/favicon.png">

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900" rel="stylesheet">

    <!-- Animation CSS -->
    <link rel="stylesheet" href="../../icoAssets/css/animate.css">
    <!-- Latest Bootstrap min CSS -->
    <link rel="stylesheet" href="../../icoAssets/bootstrap/css/bootstrap.min.css">
    <!-- Font Awesome CSS -->
    <link rel="stylesheet" href="../../icoAssets/css/font-awesome.min.css">
    <!-- Style CSS -->
    <link rel="stylesheet" href="../../icoAssets/css/style.css">
    <link rel="stylesheet" href="../../icoAssets/css/responsive.css">
    <link rel="stylesheet" href="../../icoAssets/css/admin.css">
    <link rel="stylesheet" href="../../icoAssets/css/toastr-2.1.3.css">
    <link href="../../icoAssets/popup/popup-styles.css" rel="stylesheet" />



</head>
<body class="v_light_dark" data-spy="scroll" data-offset="110">

<!-- START LOADER -->
<div id="loader-wrapper">
    <div id="loading-center-absolute">
        <div class="object" id="object_four"></div>
        <div class="object" id="object_three"></div>
        <div class="object" id="object_two"></div>
        <div class="object" id="object_one"></div>
    </div>
    <div class="loader-section section-left"></div>
    <div class="loader-section section-right"></div>

</div>
<header class="header_wrap fixed-top">
    <div class="container-fluid">
        <nav class="navbar navbar-expand-lg">
            <button class="navbar-toggler animation" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" data-animation="fadeInDown" data-animation-delay="1.1s">
                <span class="fa fa-bars"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                <ul class="navbar-nav m-auto">
                    <li class="animation" data-animation="fadeInDown" data-animation-delay="1.1s"><a class="nav-link page-scroll nav_item" href = "./dashboard">Dashboard</a></li>


                    <li class="animation" data-animation="fadeInDown" data-animation-delay="1.4s"><a class="nav-link page-scroll nav_item" href = "./transactions">Transaction History</a></li>

                    <li class="animation" data-animation="fadeInDown" data-animation-delay="1.5s"><a class="nav-link page-scroll nav_item" href = "./wallets">Wallets</a></li>
                    <li class="animation" data-animation="fadeInDown" data-animation-delay="1.6s"><a class="nav-link page-scroll nav_item" href = "./kyc">Kyc</a></li>
                    <li class="animation" data-animation="fadeInDown" data-animation-delay="1.7s"><a class="nav-link page-scroll nav_item" href = "./contact_us">Contact</a></li>
                </ul>
                <ul class="navbar-nav nav_btn align-items-center">
                </ul>

                <ul class="navbar-nav nav_btn align-items-center">

                    <li class="nav-item dropdown menu_user show animation" data-animation="fadeInDown" data-animation-delay="1.8s"><a class="btn btn-default nav_item nav-link dropdown-toggle" id="userDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                                                <%= user.firstName%>
                                                        </a>
                        <div class="dropdown-menu dropdown-menu-right show" aria-labelledby="userDropdown">
                            <ul class="menu-nav list_none">
                                <li><a href="./profile"><i class="fa fa-address-card-o"></i><span>Edit Profile</span></a></li>
                                <li><a href="./logout" ><i class="fa fa-sign-out"></i>Logout</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</header>
<section class="section_breadcrumb bg_blue" data-z-index="1" data-parallax="scroll">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
            </div>

        </div>
    </div>
</section>
<%-body -%>
