<% layout('./userHeader') -%>
    <!-- END HEADER -->
<div class="clearfix"> </div>
    <!-- START SECTION KYC -->
    <section class="section_token small_pt small_pb">
        <div class="container">

            <div class="row align-items-center">
                <div class="col-lg-12">
                    <div class="content_box">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>Sr.No</th>
                                    <th>Transaction Id</th>
                                    <th>Contribution Method</th>
                                    <th>Amount Contributed</th>
                                    <th>Total WHT</th>
                                    <th>Time</th>
                                </tr>
                                </thead>
                                <tbody>
                                  <% if(transactions){ %>
                                    <% for(var i=0; i<transactions.length; i++) { %>
                                      <tr>
                                          <td>1</td>
                                          <td>TXD1491534946349</td>
                                          <td>ETH</td>
                                          <td>6.00000000</td>
                                          <td>52483.66000000</td>
                                          <td>2018-08-22 19:29:09</td>
                                      </tr>
                                    <% } %>
                                  <% } %>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- END SECTION KYC -->
<!-- / latest exchanges -->
<!-- footer -->


<% include partials/icoScripts %>

<script type="text/javascript">
  $(document).ready(function() {
    getTransactions();
  });
  function getTransactions() {
    $.get('./api/getTransactions', function(result) {
      // var onSaleTokens = result["onSaleTokens"];
      // $('#onSaleTokens').html(onSaleTokens);
    });
  }

</script>
<script type="text/javascript">
    $('body').addClass('login');
    $('#root-view').addClass('auth-layout');
</script>

<style type="text/css">
    .login-box-body {
        position: relative;
    }
</style>
<script>
    $('body').addClass('page-header-fixed page-sidebar-closed-hide-logo page-container-bg-solid page-content-white');
    $('#root-view').addClass('page-wrapper');
</script>

</body>
</html>
