/* CSS Document */

.login-box {
    padding: 30px!important;
	box-shadow:none!important;
}
.auth-wrapper-bg {
	background-repeat: no-repeat;
	background-size: cover;
	background-image: url(../images/auth-bg.jpg);
	height: 100%;
	position:relative;
}
.auth-box_content {
  width:100%;
  padding:60px;
  color:#FFFFFF;
  position:absolute;
  bottom:0px;
  right:0px;
}
.line-on-side {
    border-bottom: 1px solid #DADADA;
    line-height: .1em;
    margin: 10px 0 20px;
}
.line-on-side span {
    background: #FFF;
    padding: 0 10px;
}
.auth-box_content p {
  font-size:45px;
  line-height:50px;
  margin-bottom:0px;
}
.social a{width:210px;}
::placeholder {
  color: #bebebe!important;
}


.header-price-box{line-height:25px;background:#eef5f9;margin:8px;padding:8px;border-radius:10px;}
.header-buy-tokens{margin:12px;}

.modal-title.buy-tokens{font-size:18px;font-weight: 400;color: #fff;white-space: nowrap;text-overflow: ellipsis;overflow: hidden;margin-left: -1rem;max-width: 90%;margin-right: 2%;background-color: #206EFF;padding: 1em 2em .8em 1em;border-top-right-radius: 2.9em;border-bottom-right-radius: 2.9em;box-sizing: border-box;}
.modal-title.buy-tokens i{margin-right:10px;}

.download-QRcode {padding: 14px;display: inline-block;border: 1px dashed #c7d8e9;background-color: #eef5f9;margin-bottom: 30px;}





::-moz-focus-inner {padding: 0;border: 0;}

.copied::after {position: absolute;top: 12%;right: 130%;display: block;content: "copied";font-size: 1em;padding: 5px 5px;color: #fff;background-color: #feba15;border-radius: 3px;opacity: 0;will-change: opacity, transform;animation: showcopied 1.5s ease;}

@keyframes showcopied {0% {opacity: 0;transform: translateX(100%);}
  70% {opacity: 1;transform: translateX(0);}
  100% {opacity: 0;}
}



.switch input { 
    display:none;
}
.switch {
    display:inline-block;
    width:40px;
    height:20px;
    margin:5px;
    transform:translateY(50%);
    position:relative;
}

.slider {
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    border-radius:30px;
    box-shadow:0 0 0 2px #cddce9, 0 0 4px #cddce9;
    cursor:pointer;
    border:3px solid transparent;
    overflow:hidden;
     transition:.4s;
}
.slider:before {
    position:absolute;
    content:"";
    width:100%;
    height:100%;
    background:#cddce9;
    border-radius:30px;
    transform:translateX(-20px);
    transition:.4s;
}

input:checked + .slider:before {
    transform:translateX(20px);
    background:#0041f5;
}
input:checked + .slider {
    box-shadow:0 0 0 2px #0041f5,0 0 2px #0041f5;
}



.checkbox-btn input[type=checkbox]{display:none;}


@media (max-width:576px){.auth-box_content p{font-size:25px;line-height:30px;}.header-buy-tokens{display:none;}.ethBalance{display:none;}}
@media (max-width: 768px){.auth-box_content{position:relative;padding-top:120px;}}
@media screen and (max-width: 992px) and (min-width: 577px) {.auth-box_content p{font-size:30px;line-height:35px;}}


