/* CSS Document */

.login-box {
  padding: 30px !important;
  box-shadow: none !important;
}
.auth-wrapper-bg {
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../images/auth-bg.jpg);
  height: 100%;
  position: relative;
}
.auth-box_content {
  width: 100%;
  padding: 60px;
  color: #ffffff;
  position: absolute;
  bottom: 0px;
  right: 0px;
}
.line-on-side {
  border-bottom: 1px solid #dadada;
  line-height: 0.1em;
  margin: 10px 0 20px;
}
.line-on-side span {
  background: #fff;
  padding: 0 10px;
}
.auth-box_content p {
  font-size: 40px;
  line-height: 50px;
  margin-bottom: 0px;
}
.social a {
  width: 210px;
}
::placeholder {
  color: #bebebe !important;
}

.header-price-box {
  line-height: 25px;
  background: #eef5f9;
  margin: 8px;
  padding: 8px;
  border-radius: 10px;
}
.header-price-box img {
  max-width: 22px;
}
.header-buy-tokens {
  margin: 12px;
}

.modal-title.buy-tokens {
  font-size: 22px;
  font-weight: 400;
  color:#2A2A2A;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  margin-left: -1rem;
  max-width: 90%;
  margin-right: 2%;
  padding: 1em 2em 0.8em 1em;
  box-sizing: border-box;
  text-align: left;
  font: normal normal medium 22px/26px Inter;
  letter-spacing: 0px;
  opacity: 1;
}
.modal-title.buy-tokens i {
  margin-right: 10px;
}

.download-QRcode {
  display: inline-block;
  border: 1px dashed #c7d8e9;
  background-color: #ffffff;
  margin-bottom: 30px;
}

.bg-info-table {
  background-color: #eef5f9 !important;
  font-size: 17px;
}

.accordion .card .fa-angle-down {
  float: right;
}
#accordionEx .card {
  border-radius: 0.5em !important;
  background-color: rgba(238, 245, 249, 0.3);
}

::-moz-focus-inner {
  padding: 0;
  border: 0;
}

.copied::after {
  position: absolute;
  top: 12%;
  right: 130%;
  display: block;
  content: "copied";
  font-size: 1em;
  padding: 5px 5px;
  color: #fff;
  background-color: #feba15;
  border-radius: 3px;
  opacity: 0;
  will-change: opacity, transform;
  animation: showcopied 1.5s ease;
}

@keyframes showcopied {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  70% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 0;
  }
}

.switch input {
  display: none;
}
.switch {
  display: inline-block;
  width: 40px;
  height: 20px;
  margin: 5px;
  transform: translateY(50%);
  position: relative;
}

.slider {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 30px;
  box-shadow: 0 0 0 2px #cddce9, 0 0 4px #cddce9;
  cursor: pointer;
  border: 3px solid transparent;
  overflow: hidden;
  transition: 0.4s;
}
.slider:before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background: #cddce9;
  border-radius: 30px;
  transform: translateX(-20px);
  transition: 0.4s;
}

input:checked + .slider:before {
  transform: translateX(20px);
  background: #0041f5;
}
input:checked + .slider {
  box-shadow: 0 0 0 2px #0041f5, 0 0 2px #0041f5;
}

.checkbox-btn input[type="checkbox"] {
  display: none;
}

@media (max-width: 576px) {
  .auth-box_content p {
    font-size: 25px;
    line-height: 30px;
  }
  .header-buy-tokens {
    display: none;
  }
  .ethBalance {
    display: none;
  }
}
@media (max-width: 768px) {
  .auth-box_content {
    position: relative;
    padding-top: 120px;
  }
}
@media screen and (max-width: 992px) and (min-width: 577px) {
  .auth-box_content p {
    font-size: 30px;
    line-height: 35px;
  }
}

/*====================== Start Pricing Table Css ========================*/
.clpricing-table .pricing-title {
  margin-bottom: 20px;
}
.clpricing-table ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.clpricing-table a:hover {
  text-decoration: none;
}
.clpricing-table .cl-pricetable-wrap {
  margin-bottom: 25px;
  margin-top: 40px;
}
@media screen and (max-width: 991px) {
  .clpricing-table .cl-pricetable-wrap {
    margin-bottom: 15px;
    margin-top: 15px;
  }
}
@media screen and (max-width: 767px) {
  .clpricing-table .cl-pricetable-wrap {
    margin-bottom: 30px;
    margin-top: 30px;
  }
}
.clpricing-table .main-header {
  padding: 55px 0 40px;
}
.clpricing-table .main-header h2 {
  font-size: 48px;
  color: #000;
  font-weight: 500;
  text-transform: uppercase;
  padding-bottom: 30px;
  line-height: 48px;
}
.clpricing-table h4 {
  font-size: 20px;
  font-weight: normal;
  margin: 0 0 5px;
  color: #fff;
}
.clpricing-table h2 {
  font-size: 25px;
  font-weight: normal;
  margin: 0 0 5px;
  color: #fff;
  border-bottom: 2px dotted rgba(255, 255, 255, 0.5);
  padding-bottom: 15px;
}
.clpricing-table h3 {
  font-size: 42px;
  font-weight: bold;
  margin: 0 0 5px;
  color: #fff;
  line-height: 42px;
}
.clpricing-table h5 {
  font-size: 15px;
  font-weight: normal;
  margin: 0 0 5px;
  color: #fff;
}
.clpricing-table a.btn-table {
  text-decoration: none;
}
.clpricing-table .price-table.style10 {
  margin-bottom: 45px;
}
.clpricing-table .price-table.style10 .pricing-title {
  font-size: 30px;
  font-weight: 600;
  padding-bottom: 18px;
  text-transform: uppercase;
}
.clpricing-table .price-table.style10 .price-des {
  margin-bottom: 40px;
}
.clpricing-table .price-table.style10 .cl-col-lg-4 {
  padding: 0;
}
@media screen and (max-width: 1000px) {
  .clpricing-table .price-table.style10 .cl-col-lg-4 {
    padding: 0 10px;
  }
}
.clpricing-table .price-table.style10 .cl-pricetable-wrap {
  text-align: center;
  color: #333333;
  margin-bottom: 0px;
  margin-right: 0;
  position: relative;
  border-radius: 0;
  transition: all 0.4s ease-in-out 0s;
  width: 100%;
  margin: 0px;
  background-color: #36cccb;
  padding-bottom: 40px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-left: 15px;
  padding-right: 15px;
}
.clpricing-table .price-table.style10 .cl-pricetable-wrap .top {
  padding: 25px 10px;
}
@media screen and (max-width: 1000px) {
  .clpricing-table .price-table.style10 .cl-pricetable-wrap .top .cl-header {
    display: block;
  }
}
.clpricing-table .price-table.style10 .cl-pricetable-wrap .top .cl-header h4 {
  border-radius: 2px 2px 0 0;
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
}
.clpricing-table .price-table.style10 .cl-pricetable-wrap .top .cl-header h5 {
  opacity: 0.8;
  margin-top: 10px;
}
.clpricing-table .price-table.style10 .cl-pricetable-wrap .featured ul {
  text-align: center;
}
.clpricing-table .price-table.style10 .cl-pricetable-wrap .featured ul li {
  font-size: 17px;
  font-weight: 400;
  line-height: 24px;
  padding: 8px 0;
  border-bottom: none;
}
.clpricing-table
  .price-table.style10
  .cl-pricetable-wrap
  .featured
  .feature_icon {
  margin-left: 0px;
  margin-right: 6px;
}
.clpricing-table .price-table.style10 .cl-pricetable-wrap .featured .tooltip {
  position: relative !important;
  display: inline-block;
  opacity: 1 !important;
  z-index: auto !important;
}
.clpricing-table
  .price-table.style10
  .cl-pricetable-wrap
  .featured
  .tooltip:after {
  font-family: "FontAwesome";
  font-size: 13px;
  content: "\f059";
  position: absolute;
  top: -20px;
}
.clpricing-table
  .price-table.style10
  .cl-pricetable-wrap
  .featured
  .tooltip
  .tooltiptext {
  background-color: #555555;
  border-radius: 6px;
  color: #ffffff;
  font-size: 11px;
  left: -100px;
  line-height: 18px;
  overflow: visible;
  padding: 10px;
  position: absolute;
  text-align: center;
  top: 0;
  visibility: hidden;
  width: 114px;
  z-index: 1;
}
.clpricing-table
  .price-table.style10
  .cl-pricetable-wrap
  .featured
  .tooltip:hover
  .tooltiptext {
  visibility: visible;
}
.clpricing-table
  .price-table.style10
  .cl-pricetable-wrap
  .bottom
  .cl-footer
  .dolar {
  font-size: 30px;
  font-weight: 800;
  margin-top: 20px;
  margin-bottom: 25px;
}
.clpricing-table
  .price-table.style10
  .cl-pricetable-wrap
  .bottom
  .cl-footer
  .dolar
  img {
  margin-top: -6px;
  width: 30px;
  height: auto;
}
.clpricing-table
  .price-table.style10
  .cl-pricetable-wrap
  .bottom
  .cl-footer
  .btn-table {
  border-radius: 5px;
  display: block;
  font-size: 16px;
  font-weight: 600;
  margin: 0 auto;
  padding: 8px 0;
  text-transform: uppercase;
  max-width: 170px;
}
.clpricing-table
  .price-table.style10
  .cl-pricetable-wrap
  .bottom
  .cl-footer
  .btn-table:before {
  background: #ffffff;
  border-radius: 0 !important;
}
.clpricing-table .price-table.style10 .cl-pricetable-wrap:hover {
  border-radius: 20px;
  box-shadow: 0 20px 50px 0 rgba(54, 54, 54, 0.3);
  margin-bottom: 0;
  margin-top: 0;
  padding-top: 40px;
  transition: all 0.2s ease-in-out 0s;
  z-index: 1;
}
.clpricing-table .price-table.style10 .cl-pricetable-wrap:hover h4,
.clpricing-table .price-table.style10 .cl-pricetable-wrap:hover h5,
.clpricing-table .price-table.style10 .cl-pricetable-wrap:hover .fa {
  color: #fff !important;
}
.clpricing-table .price-table.style10 .cl-pricetable-wrap.popular_plan {
  border-radius: 20px;
  box-shadow: 0 8px 30px 0 rgba(54, 54, 54, 0.3);
  margin-bottom: 0;
  margin-top: 0;
  padding-top: 40px;
  transition: all 0.2s ease-in-out 0s;
  z-index: 1;
  overflow: hidden;
}
.clpricing-table .price-table.style10 .cl-pricetable-wrap.popular_plan h4,
.clpricing-table .price-table.style10 .cl-pricetable-wrap.popular_plan h5,
.clpricing-table .price-table.style10 .cl-pricetable-wrap.popular_plan .fa {
  color: #929292 !important;
  font-size: 14px;
}
.clpricing-table
  .price-table.style10
  .cl-pricetable-wrap.popular_plan
  .top
  .popular {
  background: #ffffff none repeat scroll 0 0;
  color: #d32f2f;
  font-size: 14px;
  left: -35px;
  padding: 4px 10px;
  position: absolute;
  text-transform: lowercase;
  top: 30px;
  transform: rotate(-45deg);
  width: 160px;
  font-weight: 500;
}
.clpricing-table .price-table.style10 .price-1 {
  border-bottom: 7px solid #607aea;
}
.clpricing-table .price-table.style10 .price-1 .top {
  color: #bfc946;
}
.clpricing-table .price-table.style10 .price-1 .top h3,
.clpricing-table .price-table.style10 .price-1 .top h4,
.clpricing-table .price-table.style10 .price-1 .top h5 {
  color: #ffffff;
}
.clpricing-table .price-table.style10 .price-1 .featured {
  color: #ffffff;
}
.clpricing-table .price-table.style10 .price-1 .featured .fa {
  color: #ffffff;
  font-size: 14px;
}
.clpricing-table .price-table.style10 .price-1 .bottom {
  color: #ffffff;
}
.clpricing-table .price-table.style10 .price-1 .bottom .btn-table {
  border: 2px solid #ffffff;
  color: #ffffff;
}
.clpricing-table .price-table.style10 .price-1 .bottom .btn-table:hover {
  color: #2962ff !important;
}
.clpricing-table .price-table.style10 .price-1:hover {
  background: #607aea;
}
.clpricing-table .price-table.style10 .price-1:hover .btn-table {
  border: 2px solid #ffffff;
}
.clpricing-table .price-table.style10 .popular_plan {
  border-bottom: 7px solid #eef5f9;
  background: #eef5f9;
}
.clpricing-table .price-table.style10 .popular_plan .top {
  color: #36cccb;
}
.clpricing-table .price-table.style10 .popular_plan .top h3,
.clpricing-table .price-table.style10 .popular_plan .top h4,
.clpricing-table .price-table.style10 .popular_plan .top h5 {
  color: #36cccb;
}
.clpricing-table .price-table.style10 .popular_plan .featured {
  color: #929292;
}
.clpricing-table .price-table.style10 .popular_plan .featured .fa {
  color: #36cccb;
}
.clpricing-table .price-table.style10 .popular_plan .bottom {
  color: #929292;
}
.clpricing-table .price-table.style10 .popular_plan .bottom .btn-table {
  border: 2px solid #929292;
  color: #929292;
}
.clpricing-table .price-table.style10 .popular_plan .bottom .btn-table:hover {
  color: #929292 !important;
}
.clpricing-table .price-table.style10 .popular_plan:hover {
  background: #eef5f9;
}
.clpricing-table .price-table.style10 .popular_plan:hover .btn-table {
  border: 2px solid #ffffff;
}
.clpricing-table .price-table.style10 .price-3 {
  border-bottom: 7px solid #feba15;
}
.clpricing-table .price-table.style10 .price-3 .top {
  color: #d17f06;
}
.clpricing-table .price-table.style10 .price-3 .top h3,
.clpricing-table .price-table.style10 .price-3 .top h4,
.clpricing-table .price-table.style10 .price-3 .top h5 {
  color: #d17f06;
}
.clpricing-table .price-table.style10 .price-3 .featured {
  color: #ffffff;
}
.clpricing-table .price-table.style10 .price-3 .featured .fa {
  color: #feba15;
}
.clpricing-table .price-table.style10 .price-3 .bottom {
  color: #ffffff;
}
.clpricing-table .price-table.style10 .price-3 .bottom .btn-table {
  border: 2px solid #feba15;
  color: #ffffff;
}
.clpricing-table .price-table.style10 .price-3 .bottom .btn-table:hover {
  color: #d17f06 !important;
}
.clpricing-table .price-table.style10 .price-3:hover {
  background: #feba15;
}
.clpricing-table .price-table.style10 .price-3:hover .btn-table {
  border: 2px solid #ffffff;
}
.clpricing-table .price-table.style10 .category28 {
  border-radius: 20px !important;
}
.clpricing-table .price-table.style10 .category30 {
  border-radius: 20px !important;
}
/*=======================================*
 *======= 	button css	 ========*
 *=======================================*/
.hvr-sweep-to-right:hover::before,
.hvr-sweep-to-right:focus::before,
.hvr-sweep-to-right:active::before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
.hvr-sweep-to-right::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #d32f2f;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  border-radius: 5px;
}
.hvr-sweep-to-right:hover {
  color: white;
  border: 2px solid #d32f2f;
}
.hvr-sweep-to-right {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  margin: 0.4em;
  padding: 1em;
  cursor: pointer;
  text-decoration: none;
  color: #666;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/*====================== End Pricing Table Css ========================*/

/*====================== Left Sidebar Gradient Css Starts ========================*/
.ps-container {
  height: 100%;
}
#main-wrapper[data-layout="vertical"]
  .topbar
  .top-navbar
  .navbar-header[data-logobg="skin1"],
#main-wrapper[data-layout="horizontal"]
  .topbar
  .top-navbar
  .navbar-header[data-logobg="skin1"] {
  background: #2149B9;
}
#main-wrapper[data-layout="vertical"][data-sidebar-position="fixed"]
  .left-sidebar {
  background:#2149B9;
  /* background: -moz-linear-gradient(top, #607aea 10%, #17d9ea 100%);
background: -webkit-linear-gradient(top, #607aea 10%,#17d9ea 100%);
background: linear-gradient(to bottom, #607aea 10%,#17d9ea 100%); */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#607aea', endColorstr='#17d9ea',GradientType=0 );
}
/*====================== Left Sidebar Gradient Css Ends ========================*/

.no-top-border {
  border-top: none;
}
.blur {
  -webkit-filter: blur(4px);
  filter: blur(4px);
}
.blur-overlay {
  font-size: 22px;
  font-weight: 400;
  width: 65%;
  padding: 20px;
  position: fixed;
  bottom: 5%;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 5px;
  text-align: center;
  z-index: 11;
  border: 1px dotted #607aea;
}
.img-wid{
  width: 19px;
  height: 20px;
  margin-left:8px;
}
.margin-left-8{
  margin-left:8px;
}

.qr-text{
text-align: left;
/* font: normal normal 600 18px/21px Inter; */
letter-spacing: 0px;
color: #2A2A2A;
opacity: 1;
font-size: 18px;
margin-left: 56px;
margin-bottom: 1rem;
}
.pay-text{
  letter-spacing: 0px;
  color: #2A2A2A;
  opacity: 1;
  font-size: 14px;
  }

  .qr-close{
    font-size: 2rem;
    color:#2A2A2A ;
    background-color: transparent;
    border: 0;
    float: right;
    text-shadow: 0 1px 0 #fff;
     margin-top: 10px;
     margin-right: 8px;
  }
  .deploy-text{
    position: relative;
    font-size: 26px;
    font-weight: 400;
    color:#2149B9;
    margin-top: 5px;
    font: normal normal medium 22px/26px Inter;
  }
  .th-text{
    text-align: left;
    /* font: normal normal 600 16px/20px Inter; */
    letter-spacing: 0px;
    color: #2A2A2A;
    opacity: 1;
    font-size: 16px;
  }
  .btn-private{
    background-color: #2149B9;
    border-color: #2149B9;
    color: #FFFFFF;
  }
  .margin-top-2{
    margin-top: 2rem !important;
  }
.no-top-border{border-top:none;}
.blur{-webkit-filter: blur(4px);filter: blur(4px);}
.blur-overlay {font-size: 22px;font-weight: 400;width: 65%;padding: 20px;position: fixed;bottom: 5%;background-color: rgba(255, 255, 255, 0.7);border-radius: 5px;text-align: center;z-index: 11;border: 1px dotted #607aea;}

/* ========================= navbar style starts ======================================== */

.head-btn{background: #3763dd ; border-radius: 4px; color: #fff; width: 88px; height: 37px;}

.head-btn strong{font-size: 17px;}

.remove-shadow{box-shadow: 0px 0px !important;}

.nav-head{height: 100px; padding-top: 16px;}

.fix-height{max-height: 64px !important;}

.token-text{display: block; height: 1rem;}

.header-price{margin:10px !important;padding:10px !important;}

/* ========================= navbar style ends ======================================== */


/* =========================== contract without code style starts ====================== */

.card-title-text{
  color: #2149B9;
  font-size: 22px;
  position: relative;
  font-weight: 400;
  margin-bottom: 10px;
}

.contract-btn {background: #3763DD !important; height: 50px; width: 171px; font-size: 16px; border-radius: 4px; display: inline-flex; align-items: center; justify-content: center;}

/* =========================== contract without code style ends ====================== */
