<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>My Contract</title>
</head>

<body
    style="margin:0; padding:0; font-family:Arial, Helvetica, sans-serif; font-size:13px; color:#333; line-height:1.2; background-color:#eaeff3;">
    <table width="100%" border="0" cellpadding="0" cellspacing="0" bgcolor="#eaeff3" style="background-color:#eaeff3;">
        <tr>
            <td>
                <center>
                    <table width="650" border="00" align="center" cellpadding="00" cellspacing="00" bgcolor="#FFFFFF"
                        style="background-color:#FFFFFF;">
                        <tr>
                            <td>
                                <table width="650" border="00" cellspacing="00" cellpadding="00">
                                    <tr>
                                        <td height="95" style="height:95px;" bgcolor="#eaeff3">
                                            <table width="650" border="00" cellpadding="00" cellspacing="00">
                                                <tr>
                                                    <td height="50" style="height:50px;"></td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <table width="650" border="00" cellspacing="00"
                                                            cellpadding="00">
                                                            <tr>
                                                                <td width="250">&nbsp;</td>
                                                                <td>
                                                                    <div style="margin:auto;width:150px;display:block;">
                                                                        <a href="https://www.mycontract.co"
                                                                            target="_blank"><h3>My Contract</h3></a>
                                                                    </div>
                                                                </td>
                                                                <td width="250">&nbsp;</td>
                                                            </tr>
                                                        </table>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td height="15" style="height:15px;"></td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td height="5" bgcolor="#f59e0e" style="height:5px;">
                                            <div
                                                style="margin:0px;clear:left;font-size:5px;line-height:5px;background-color:#f59e0e;min-height:5px;">
                                                &nbsp;</div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td align="center" bgcolor="#f8f8f8">
                                            <div
                                                style="margin:15px;width:620px;word-break:break-word;font-family:Arial, Helvetica, sans-serif;font-size:15px;line-height:18px;color:#9c9c9c;min-height:20px;">
                                                This is an automated email, please do not reply.</div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td align="center" valign="top">
                                            <table width="650" border="00" cellspacing="00" cellpadding="00">
                                                <tr>
                                                    <td width="50" valign="top"><img
                                                            src="https://alphaex.net/front/assets/email_imgs/blank.jpg"
                                                            width="50" height="100%"
                                                            style="outline:none;border-style:none;"></td>
                                                    <td width="550" valign="top">
                                                        <table width="550" border="00" cellspacing="00"
                                                            cellpadding="00">
                                                            <tr>
                                                                <td width="550" height="40">&nbsp;</td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    <div
                                                                        style="margin:0 0 15px;width:550px;word-break:break-word;clear:left;font-family:Arial, Helvetica, sans-serif;font-size:16px;line-height:20px;color:#7e7e7a;min-height:20px;">
                                                                        Name : <%- contactName -%><br>
                                                                        Email :<%- email -%><br>
                                                                        Message : <%- contactMessage -%><br>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                            <!-- <tr>
                                                                <td>
                                                                    <div style="margin:0 0 20px;width:550px;word-break:break-word;clear:left;font-family:Arial, Helvetica, sans-serif;font-size:20px;line-height:22px;color:#7e7e7a;min-height:25px;">###OTP###</div>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    <div style="margin:30px 0 25px;width:550px;word-break:break-word;clear:left;font-family:Arial, Helvetica, sans-serif;font-size:16px;line-height:20px;color:#7e7e7a;min-height:20px;">Note*: Please don't share this code with anyone for security reasons.</div>
                                                                </td>
                                                            </tr> -->
                                                            <tr>
                                                                <td>
                                                                    <div
                                                                        style="margin:5px 0 20px;width:550px;word-break:break-word;clear:left;font-family:Arial, Helvetica, sans-serif;font-size:16px;line-height:40px;color:#7e7e7a;text-align:left;min-height:40px;">
                                                                        Best regards,
                                                                        <br /><span style="font-weight:bold;">Mycontract
                                                                            Team.</span></div>
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </td>
                                                    <td width="50" valign="top"><img
                                                            src="https://alphaex.net/front/assets/email_imgs/blank.jpg"
                                                            width="50" height="100%"
                                                            style="outline:none;border-style:none;"></td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>

                                </table>
                            </td>
                        </tr>
                    </table>

                </center>
            </td>
        </tr>
    </table>
</body>

</html>