
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>MyContract</title>
</head>

<body style="margin:0; padding:0; font-family:Arial, Helvetica, sans-serif; font-size:13px; color:#333; line-height:1.2; background-color:#eeeeee;">
    <table width="100%" border="0" cellpadding="0" cellspacing="0" bgcolor="#eeeeee" style="background-color:#eeeeee;">
        <tr>
            <td>
                <center>
                    <div style="max-width:600px;margin-top:0;margin-bottom:0;margin-right:auto;margin-left:auto;padding-left:20px;padding-right:20px">
                    <table width="600" border="00" align="center" cellpadding="00" cellspacing="00" bgcolor="#FFFFFF" style="background-color:#FFFFFF;">
                        <tr>
                            <td>
                                <table width="600" border="00" cellspacing="00" cellpadding="00">
                                    <tr>
                                        <td width="600" height="75" bgcolor="#eeeeee" style="font-size:75px;line-height:75px;min-height:75px;">&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td align="center">
                                            <div style="font-size:25px;line-height:25px;min-height:25px;">&nbsp;</div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <table width="600" border="00" cellspacing="00" cellpadding="00">
                                                <tr>
                                                    <td width="175">&nbsp;</td>
                                                    <td>
                                                        <div style="width:250px;display:block;">
                                                            <a href="https://mycontract.co/" target="_blank"><img src="https://raw.githubusercontent.com/XinFinOrg/MyContract/master/public/mailAssets/mycontract-logo.png" alt="MyContract Logo" width="250" height="40" style="outline:none;border-style:none;"></a>
                                                        </div>
                                                    </td>
                                                    <td width="175">&nbsp;</td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td align="center" valign="top">
                                            <table width="600" border="00" cellspacing="00" cellpadding="00">
                                                <tr>
                                                    <td width="50" valign="top"></td>
                                                    <td width="520" valign="top">
                                                        <table width="520" border="00" cellspacing="00" cellpadding="00">
                                                            <tr>
                                                                <td width="520" height="15" style="font-size:15px;line-height:15px;min-height:15px;">&nbsp;</td>
                                                            </tr>
                                                            <tr>
                                                                <td width="520" height="21" style="height:21px;">
                                                                    <div style="margin:5px auto;background-color:#e2e6ec;min-height:1px;height:1px;">&nbsp;</div>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td width="520" height="30" style="font-size:30px;line-height:30px;min-height:30px;">&nbsp;</td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    <div style="margin:0 0 20px;width:500px;word-break:break-word;clear:left;font-family:Arial, Helvetica, sans-serif;font-size:16px;line-height:18px;color:#7e7e7a;min-height:20px;">Dear <strong><%=name %></strong>,</div>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    <div style="margin:0 0 20px;width:520px;word-break:break-word;clear:left;font-family:Arial, Helvetica, sans-serif;font-size:16px;line-height:22px;color:#7e7e7a;min-height:20px;">Greetings,</div>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    <div style="margin:0 0 20px;width:520px;word-break:break-word;clear:left;font-family:Arial, Helvetica, sans-serif;font-size:16px;line-height:22px;color:#7e7e7a;min-height:20px;">Thanks for registering with MyContract.</div>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    <div style="margin:0 0 30px;width:520px;word-break:break-word;clear:left;font-family:Arial, Helvetica, sans-serif;font-size:16px;line-height:22px;color:#7e7e7a;min-height:20px;">Your account is created and needs to activate before you use it. Please click below button to Activate your account.</div>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    <div style="margin:0 0 20px;width:520px;word-break:break-word;clear:left;font-family:Arial, Helvetica, sans-serif;font-size:16px;font-weight:bold;line-height:25px;color:#FFFFFF;text-align:center;min-height:36px"><a href="<%= link %>" target="_blank" onMouseOver="this.style.backgroundColor='#f5860e'" onMouseOut="this.style.backgroundColor='#f59f0e'" style="color:#FFFFFF;text-decoration:none;background-color:#f59f0e;padding:12px 25px 12px 25px;border-radius:50px;border:2px solid #f5860e;">Activate Now</a></div>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    <div style="margin:5px 0 0;width:520px;word-break:break-word;clear:left;font-family:Arial, Helvetica, sans-serif;font-size:16px;line-height:22px;color:#7e7e7a;min-height:20px;">Unable to click above button? Copy paste below URL into your browser.</div>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    <div style="margin:5px 0 20px;width:520px;word-break:break-word;clear:left;font-family:Arial, Helvetica, sans-serif;font-size:16px;line-height:22px;color:#4b98e8;word-wrap:break-word;min-height:20px;"><a href="<%= link %>" target="_blank" onMouseOver="this.style.textDecoration='none'" onMouseOut="this.style.textDecoration='underline'" style="color:#4b98e8;text-decoration:underline;"><%= link %></a></div>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    <div style="margin:5px 0 25px;width:520px;word-break:break-word;clear:left;font-family:Arial, Helvetica, sans-serif;font-size:16px;line-height:22px;color:#7e7e7a;min-height:20px;"><strong>Note*:</strong> Please note that it takes around 30 - 45 minutes for multiple wallet creation, Kindly wait for 30 - 45 minutes before you start trading.</div>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    <div style="margin:5px 0 30px;width:520px;word-break:break-word;clear:left;font-family:Arial, Helvetica, sans-serif;font-size:16px;line-height:40px;color:#7e7e7a;text-align:left;min-height:40px;">Best regards,
                                                                        <br /><span style="font-weight:bold;">MyContract Team.</span></div>
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </td>
                                                    <td width="50" valign="top"></td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                    <tr>
                                      <td align="left" valign="top"><table width="600" border="00" cellspacing="00" cellpadding="00">
                                        <tr>
                                          <td width="600" height="25" align="left" valign="top"><img src="https://raw.githubusercontent.com/XinFinOrg/MyContract/master/public/mailAssets/top-img.jpg" width="600" height="25" style="display:block"/></td>
                                        </tr>
                                        <tr>
                                          <td align="left" valign="top"><table width="600" border="00" cellspacing="00" cellpadding="00">
                                            <tr>
                                              <td width="75" height="50" align="left" valign="top"><img src="https://raw.githubusercontent.com/XinFinOrg/MyContract/master/public/mailAssets/left-img.jpg" width="75" height="50" style="display:block"/></td>
                                              <td width="450" align="left" valign="top"><div style="margin:0px;padding:0px;width:450px;background:#ffffff;">
                                                <table width="450px" cellpadding="0" cellspacing="0" border="0">
                                                    <tr>
                                                        <td width="117" align="left" valign="middle"><div style="width:117px;word-break:break-word;clear:left;font-family:Arial, Helvetica, sans-serif;font-size:12px;line-height:22px;color:#7e7e7a;">FOLLOW US</div></td>
                                                        <td width="1px" style="background:#ededf1;font-size:1px;width:1px;">&nbsp;</td>
                                                        <td align="center" valign="middle">
                                                            <a href="https://www.facebook.com/XinFinHybridBlockchain" target="_blank" style="text-decoration:none;margin:10px;padding:4px;width:20px;height:20px;display:block;text-align:center;vertical-align:middle;outline:none;border:none;"><img src="https://raw.githubusercontent.com/XinFinOrg/MyContract/master/public/mailAssets/facebook-icon.png" /></a>
                                                        </td>
                                                        <td width="1px" style="background:#ededf1;font-size:1px;width:1px;">&nbsp;</td>
                                                        <td align="center" valign="middle">
                                                            <a href="https://twitter.com/XinFin_Official" target="_blank" style="text-decoration:none;margin:10px;padding:4px;width:20px;height:20px;display:block;text-align:center;vertical-align:middle;outline:none;border:none;"><img src="https://raw.githubusercontent.com/XinFinOrg/MyContract/master/public/mailAssets/twitter-icon.png" /></a>
                                                        </td>
                                                        <td width="1px" style="background:#ededf1;font-size:1px;width:1px;">&nbsp;</td>
                                                        <td align="center" valign="middle">
                                                            <a href="https://t.me/xinfintalk" target="_blank" style="text-decoration:none;margin:10px;padding:4px;width:20px;height:20px;display:block;text-align:center;vertical-align:middle;outline:none;border:none;"><img src="https://raw.githubusercontent.com/XinFinOrg/MyContract/master/public/mailAssets/telegram-icon.png" /></a>
                                                        </td>
                                                        <td width="1px" style="background:#ededf1;font-size:1px;width:1px;">&nbsp;</td>
                                                        <td align="center" valign="middle">
                                                            <a href="https://www.linkedin.com/company/xinfin/" target="_blank" style="text-decoration:none;margin:10px;padding:4px;width:20px;height:20px;display:block;text-align:center;vertical-align:middle;outline:none;border:none;"><img src="https://raw.githubusercontent.com/XinFinOrg/MyContract/master/public/mailAssets/linkedin-icon.png" /></a>
                                                        </td>
                                                        <td width="1px" style="background:#ededf1;font-size:1px;width:1px;">&nbsp;</td>
                                                        <td align="center" valign="middle">
                                                            <a href="https://www.youtube.com/channel/UCQaL6FixEQ80RJC0B2egX6g" target="_blank" style="text-decoration:none;margin:10px;padding:4px;width:20px;height:20px;display:block;text-align:center;vertical-align:middle;outline:none;border:none;"><img src="https://raw.githubusercontent.com/XinFinOrg/MyContract/master/public/mailAssets/youtube-icon.png" /></a>
                                                        </td>
                                                        <td width="1px" style="background:#ededf1;font-size:1px;width:1px;">&nbsp;</td>
                                                        <td align="center" valign="middle">
                                                            <a href="https://xinfin-public.slack.com/messages" target="_blank" style="text-decoration:none;margin:10px 0px 10px 10px;padding:4px;width:20px;height:20px;display:block;text-align:center;vertical-align:middle;outline:none;border:none;"><img src="https://raw.githubusercontent.com/XinFinOrg/MyContract/master/public/mailAssets/slack-icon.png" /></a>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div></td>
                                              <td width="75" height="50" align="left" valign="top"><img src="https://raw.githubusercontent.com/XinFinOrg/MyContract/master/public/mailAssets/right-img.jpg" width="75" height="50" style="display:block"/></td>
                                            </tr>
                                          </table></td>
                                        </tr>
                                        <tr>
                                          <td width="600" height="25" align="left" valign="top"><img src="https://raw.githubusercontent.com/XinFinOrg/MyContract/master/public/mailAssets/bottom-img.jpg" width="600" height="25" style="display:block"/></td>
                                        </tr>
                                      </table></td>
                                  </tr>
                                    <tr>
                                        <td bgcolor="#5e75e5">
                                            <div style="margin:10px;padding-top:5px;width:580px;word-break:break-word;clear:left;font-family:Arial, Helvetica, sans-serif;font-size:13px;line-height:20px;color:#f5f5f5;text-align:center;min-height:20px"><a href="https://mycontract.co/login" target="_blank" onMouseOver="this.style.color='#dde3ff'" onMouseOut="this.style.color='#f5f5f5'" style="color:#f5f5f5;text-decoration:none;padding:5px;">Login</a> | <a href="https://mycontract.co/" target="_blank" onMouseOver="this.style.color='#dde3ff'" onMouseOut="this.style.color='#f5f5f5'" style="color:#f5f5f5;text-decoration:none;padding:5px;">About Us</a> | <a href="https://mycontract.co/#contact" target="_blank" onMouseOver="this.style.color='#dde3ff'" onMouseOut="this.style.color='#f5f5f5'" style="color:#f5f5f5;text-decoration:none;padding:5px;">Contact</a> | <a href="https://mycontract.co/privacyPolicy" target="_blank" onMouseOver="this.style.color='#dde3ff'" onMouseOut="this.style.color='#f5f5f5'" style="color:#f5f5f5;text-decoration:none;padding:5px;">Privacy Policy</a> | <a href="https://mycontract.co/termsConditions" target="_blank" onMouseOver="this.style.color='#dde3ff'" onMouseOut="this.style.color='#f5f5f5'" style="color:#f5f5f5;text-decoration:none;padding:5px;">Terms & Conditions</a></div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td bgcolor="#5e75e5">
                                            <div style="margin:10px;width:580px;word-break:break-word;clear:left;font-family:Arial, Helvetica, sans-serif;font-size:14px;line-height:20px;color:#bfc8f5;text-align:center;min-height:20px">Copyright © 2019. MyContract All Rights reserved.</div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td bgcolor="#5e75e5">
                                            <div style="margin:0px 10px 40px 10px;width:580px;word-break:break-word;clear:left;font-family:Arial, Helvetica, sans-serif;font-size:13px;line-height:20px;color:#bfc8f5;text-align:center;min-height:20px">To unsubscribe, please <a href="unsubscribe" target="_blank" onMouseOver="this.style.textDecoration='none'" onMouseOut="this.style.textDecoration='underline'" style="font-weight:bold;color:#bfc8f5;text-decoration:underline;">Click here</a>.</div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td height="50" style="font-size:50px;line-height:50px;min-height:50px;" bgcolor="#eeeeee">&nbsp;</td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
					</div>
                </center>
            </td>
        </tr>
    </table>
</body>

</html>